{% extends 'base.html' %}
{% load i18n currency_tags %}

{% block meta_title %}{% trans 'Подписаться на рассылку' %} — {{ seo_settings.profile.get_meta_title }}{% endblock %}
{% block meta_desc %}{{ seo_settings.profile.get_meta_desc }}{% endblock %}
{% block meta_keyw %}{{ seo_settings.profile.get_meta_keyw }}{% endblock %}

{% block og_title %}{% trans 'Подписаться на рассылку' %} — {{ seo_settings.profile.get_meta_title }}{% endblock %}
{% block og_desc %}{{ seo_settings.profile.get_meta_desc }}{% endblock %}

{% block twitter_title %}{% trans 'Подписаться на рассылку' %} — {{ seo_settings.profile.get_meta_title }}{% endblock %}
{% block twitter_desc %}{{ seo_settings.profile.get_meta_desc }}{% endblock %}

{% block content %}
  <style>
    .password_button { font-family: NeoRegular; font-size: 12px; padding: 12px 20px; }
  </style>

  <main>
    <div class="main_content main_cut">
      
      <ul id="touch_breadcrumb" class="breadcrumb">
        <li><a href="{% url 'home' %}">{% trans 'Главная' %}</a></li>
        <li><span>{% trans 'Подписаться на рассылку' %}</span></li>
      </ul>
    
      <div id="main_content" class="wrapp_content">
        <ul class="breadcrumb">
          <li><a href="{% url 'home' %}">{% trans 'Главная' %}</a></li>
          <li><span>{% trans 'Подписаться на рассылку' %}</span></li>
        </ul>
        <h1 class="title_block">{% trans 'Подписаться на рассылку' %}</h1>

        <div class="wns_row_content">
          <div class="wns_form_block">
            <form action="{% url 'mailing' %}" method="post">
              {% csrf_token %}
            
              <div class="wns_row_input">
                <label class="wns_lbl">
                  <p class="wns_title_row_frm">{% trans 'Подписаться на рассылку' %}:
                  <div class="error-messages" style="font-size: 12px;"></div>
                  <div class="input_shell"> 
                    <input type="text" value="" name="name" class="input_text" placeholder="{% trans 'Ваше имя' %}" />
                    <span class="err_r">{% trans 'Заполните поле' %}</span>
                  </div>
                  <div class="input_shell">
                    <input type="text" value="" name="email" class="input_text" placeholder="{% trans 'Ваш e-mail' %}" />
                    <span class="err_r">{% trans 'Заполните поле' %}</span>
                  </div>
                </label>
              </div>

              <p class="wns_title_row_frm">*соглашаюсь с информационной рассылкой</p>
              
              <div class="row_form_popup row_pop_butt">
                <button class="bt_red">{% trans 'Подписаться' %}</button>
              </div>
              
            </form>
          </div>
            
        </div>

      </div>
    </div>
  </main>
{% endblock %}
