{% extends 'base.html' %}
{% load i18n currency_tags %}

{% block meta_title %}{{ seo_settings.profile.get_meta_title }}{% endblock %}
{% block meta_desc %}{{ seo_settings.profile.get_meta_desc }}{% endblock %}
{% block meta_keyw %}{{ seo_settings.profile.get_meta_keyw }}{% endblock %}

{% block og_title %}{{ seo_settings.profile.get_meta_title }}{% endblock %}
{% block og_desc %}{{ seo_settings.profile.get_meta_desc }}{% endblock %}

{% block twitter_title %}{{ seo_settings.profile.get_meta_title }}{% endblock %}
{% block twitter_desc %}{{ seo_settings.profile.get_meta_desc }}{% endblock %}

{% block content %}
  <style>
    .password_button { font-family: NeoRegular; font-size: 12px; padding: 12px 20px; }
  </style>

  <main>
    <div class="main_content main_cut">
      
      <ul id="touch_breadcrumb" class="breadcrumb">
        <li><a href="{% url 'home' %}">{% trans 'Главная' %}</a></li>
        <li><span>{% trans 'Личный кабинет' %}</span></li>
      </ul>
    
      <div id="main_content" class="wrapp_content">
        <ul class="breadcrumb">
          <li><a href="{% url 'home' %}">{% trans 'Главная' %}</a></li>
          <li><span>{% trans 'Личный кабинет' %}</span></li>
        </ul>
        <h1 class="title_block">{% trans 'Личный кабинет' %}</h1>

        <div class="wns_tubs">
          <div class="wns_buttons">
            <div class="lnk_bt_wns">
              <img src="/static/i/icon_user.png" alt="{% trans 'Мои данные' %}" />
              <abbr>{% trans 'Мои данные' %}</abbr>
            </div>
            <div class="lnk_bt_wns">
              <img src="/static/i/icon_myorders.png" alt="{% trans 'Мои заказы' %}" />
              <abbr>{% trans 'Мои заказы' %}</abbr>
            </div>
          </div>
          
          <div class="wns_content">
            <div class="wns_row_content">
              <div class="wns_form_block">
                <form action="{% url 'profile-edit' %}" class="js-profile-edit-form" method="post">
                  {% csrf_token %}
                
                  <div class="wns_row_input">
                    <label class="wns_lbl">
                      <p class="wns_title_row_frm">{% trans 'Как к вам обращаться' %}:</p>
                      <div class="input_shell">
                        <input type="text" value="{{ shipping_data.name }}" name="name" class="input_text" placeholder="{% trans 'Фамилия, Имя, Отчество' %}" />
                        <span class="err_r">{% trans 'Заполните поле' %}</span>
                      </div>
                    </label>
                  </div>
                  <hr class="hr_" />
                  
                  <div class="wns_row_input wns_row_input1900">
                    <div class="wns_lbl">
                      <p class="wns_title_row_frm">{% trans 'Данные для доставки' %}:</p>
                      {% comment %}
                        <script>
                          (function( $ ) {
                            $.fn.selectbox2 = function() {
                            var selectDefaultHeight = 40;
                              $('#selectboxss2 .selectboxssvalue').click(function() {
                                var currentHeight = $(this).closest("#selectboxss2").height();
                                if (currentHeight < 100 || currentHeight == selectDefaultHeight) {
                                  $(this).closest("#selectboxss2").height("auto");
                                  $(this).find('#arrowselect2').attr("style", "border-radius: 1000px;transition: 0.2s;transform: rotate(180deg);");
                                }
                                if (currentHeight >= 101) {
                                  $(this).closest("#selectboxss2").height(selectDefaultHeight);
                                  $(this).find('#arrowselect2').attr("style", "rotate(0deg);");
                                }
                              });
                              $('li.selectoption').click(function() {
                                $(this).closest("#selectboxss2").height(selectDefaultHeight);
                                $(this).closest("#selectboxss2").find('#arrowselect2').attr("style", "rotate(0deg);");
                                
                                var t = $(this).closest("li.selectoption").text();
                                $(this).closest("#selectboxss2").find('.selectboxssvalue span.input_text_view').text(t);
                              });
                            };
                          })( jQuery );
                        </script>
                        <script> $(document).ready(function(){ $('#selectboxss2').selectbox2(); }); </script>
                        <div class="input_shell select_shel">
                          <div class="select_img">
                            <div class="selectboxss drop_list_text" id="selectboxss2">
                              <div class="selectboxssvalue">
                                <span class="input_text_view">Страна <span class="orange_text">*</span></span>
                                <img src="/static/i/arrow_down_list.png" class="arrowselect" id="arrowselect2" />
                              </div>
                              <ul class="selectboxssmenu">
                                <li class="selectoption">Россия</li>
                                <li class="selectoption">Украина</li>
                              </ul>
                            </div>
                          </div>
                          <span class="err_r">{% trans 'Заполните поле' %}</span>
                        </div>
                        <script>
                          (function( $ ) {
                            $.fn.selectbox3 = function() {
                            var selectDefaultHeight = 40;
                              $('#selectboxss3 .selectboxssvalue').click(function() {
                                var currentHeight = $(this).closest("#selectboxss3").height();
                                if (currentHeight < 100 || currentHeight == selectDefaultHeight) {
                                  $(this).closest("#selectboxss3").height("auto");
                                  $(this).find('#arrowselect3').attr("style", "border-radius: 1000px;transition: 0.2s;transform: rotate(180deg);");
                                }
                                if (currentHeight >= 101) {
                                  $(this).closest("#selectboxss3").height(selectDefaultHeight);
                                  $(this).find('#arrowselect3').attr("style", "rotate(0deg);");
                                }
                              });
                              $('li.selectoption').click(function() {
                                $(this).closest("#selectboxss3").height(selectDefaultHeight);
                                $(this).closest("#selectboxss3").find('#arrowselect3').attr("style", "rotate(0deg);");
                                
                                var t = $(this).closest("li.selectoption").text();
                                $(this).closest("#selectboxss3").find('.selectboxssvalue span.input_text_view').text(t);
                              });
                            };
                          })( jQuery );
                        </script>
                        <script> $(document).ready(function(){ $('#selectboxss3').selectbox3(); }); </script>
                        <div class="input_shell select_shel">
                          <div class="select_img errr">
                            <div class="selectboxss drop_list_text" id="selectboxss3">
                              <div class="selectboxssvalue">
                                <span class="input_text_view">Город <span class="orange_text">*</span></span>
                                <img src="/static/i/arrow_down_list.png" class="arrowselect" id="arrowselect3" />
                              </div>
                              <ul class="selectboxssmenu">
                                <li class="selectoption">Москва</li>
                                <li class="selectoption">Санкт-Петербург</li>
                                <li class="selectoption">Екатеринбург</li>
                                <li class="selectoption">Севастополь</li>
                                <li class="selectoption">Воронеж</li>
                                <li class="selectoption">Ростов</li>
                                <li class="selectoption">Пекин</li>
                                <li class="selectoption">Киев</li>
                              </ul>
                            </div>
                          </div>
                          <span class="err_r">{% trans 'Заполните поле' %}</span>
                        </div>
                        
                        <div class="input_shell">
                          <input type="text" value="" name="index" class="input_text" placeholder="Индекс *" />
                          <span class="err_r">{% trans 'Заполните поле' %}</span>
                        </div>
                        
                        <div class="input_shell">
                          <input type="text" value="" name="street" class="input_text" placeholder="Улица *" />
                          <span class="err_r">{% trans 'Заполните поле' %}</span>
                        </div>
                        
                        <div class="rows_popup_input rows_wns_input">
                          <div class="row_form_popup two_rows">
                            <label class="input_shell">
                              <input type="text" value="" name="street" class="input_text" placeholder="Дом *" />
                              <span class="err_r">{% trans 'Заполните поле' %}</span>
                            </label>
                            
                            <label class="input_shell">
                              <input type="text" value="" name="street" class="input_text" placeholder="Строение" />
                              <span class="err_r">{% trans 'Заполните поле' %}</span>
                            </label>
                          </div>
                          
                          <div class="row_form_popup two_rows">
                            <label class="input_shell">
                              <input type="text" value="" name="street" class="input_text" placeholder="Корпус" />
                              <span class="err_r">{% trans 'Заполните поле' %}</span>
                            </label>
                            
                            <label class="input_shell">
                              <input type="text" value="" name="street" class="input_text errr" placeholder="Квартира *" />
                              <span class="err_r">{% trans 'Заполните поле' %}</span>
                            </label>
                          </div>
                        </div>
                      {% endcomment %}


                      <div class="input_shell">
                        <select name="country" value="{{ shipping_data.country }}" class="country_select input_text" style="width: 99.45% !important">
                          {% for country in countries %}
                            <option value="{{ country.id }}"{% if country.id == shipping_data.country %} selected="selected"{% endif %}>{{ country.title }}</option>
                          {% endfor %}
                        </select>
                        <span class="err_r">{% trans 'Заполните поле' %}</span>
                      </div>

                      <div class="input_shell">
                        <input type="text" value="{{ shipping_data.city }}" name="city" class="input_text" placeholder="{% trans 'Город' %}" />
                        <span class="err_r">{% trans 'Заполните поле' %}</span>
                      </div>

                      <div class="input_shell">
                        <textarea name="address" class="input_text no_hover_border" style="padding: 12px 2.25% 0; width: 94.5%; height: 135px;" placeholder="{% trans 'Адрес' %}">{{ shipping_data.address }}</textarea>
                        <span class="err_r">{% trans 'Заполните поле' %}</span>
                      </div>
                      
                      <div class="input_shell">
                        <input type="text" value="{{ shipping_data.phone }}" name="phone" class="input_text" placeholder="{% trans 'Контактный телефон' %}" />
                        <span class="err_r">{% trans 'Заполните поле' %}</span>
                      </div>
                      
                    </div>
                  </div>
                  
                  <hr class="hr_" />
                  
                  <div class="wns_row_input">
                    <label class="wns_lbl">
                      <p class="wns_title_row_frm">{% trans 'Ваш e-mail' %}:</p>
                      <div class="input_shell">
                        <input required type="text" value="{{ shipping_data.email }}" name="email" class="input_text{% if not shipping_data.email %} errr{% endif %}" placeholder="{% trans 'E-mail' %} *" />
                        <span class="err_r">{% trans 'Заполните поле' %}</span>
                      </div>
                    </label>
                  </div>
                  <hr class="hr_" />
                  
                  <div class="wns_row_input wns_row_w100">
                    <div class="wns_lbl wns_lblW">
                      <div class="pass_wns_box js-password-button-container">
                        <abbr>{% trans 'Пароль' %}:</abbr>
                        <div class="bt_red js-password-button password_button">{% trans 'Изменить' %}</div>
                      </div>
                      
                      <div class="row_form_popup">
                        <label class="lbl_box check_popap_row">
                          <input class="check_form" type="checkbox" value="" name="save_vhod">
                          <p>{% trans 'Я хочу получать информацию о скидках и новинках' %} <a href="#">{% trans 'Изменить' %}</a></p>
                        </label>
                      </div>
                      
                    </div>
                  </div>

                  <div class="js-password-container wns_row_input wns_row_input1900" style="margin-top: 10px; display: none;">
                    <div class="wns_lbl">
                      <p class="wns_title_row_frm">{% trans 'Пароль' %}:</p>

                      <div class="input_shell">
                        <input type="password"{% if profile.has_password is False %} style="display: none;"{% endif %} value="" name="old_password" class="input_text" placeholder="{% trans 'Старый пароль' %}" />
                        <span class="err_r">{% trans 'Заполните поле' %}</span>
                      </div>
                      
                      <div class="input_shell">
                        <input type="password" value="" name="new_password" class="input_text" placeholder="{% trans 'Новый пароль' %}" />
                        <span class="err_r">{% trans 'Заполните поле' %}</span>
                      </div>
                      
                    </div>
                  </div>

                  <div class="row_form_popup row_pop_butt">
                    <button class="bt_red">{% trans 'Сохранить' %}</button>
                  </div>
                  
                </form>
              </div>
            </div>
            
            <div class="wns_row_content">
              <div class="wns_orders_tbl">
                
                <div class="table_shell tb_shell">

                  {% if profile.complete_orders.count %}
                    <div class="table_head tb_head">
                      <div class="table_cell"><div class="tb_title">{% trans 'Дата заказа' %}</div></div>
                      <div class="table_cell"><div class="tb_title">{% trans 'Номер заказа' %}</div></div>
                      <div class="table_cell"><div class="tb_title">{% trans 'Способ доставки' %}</div></div>
                      <div class="table_cell"><div class="tb_title">{% trans 'Способ оплаты' %}</div></div>
                      <div class="table_cell"><div class="tb_title">{% trans 'Статус' %}</div></div>
                      <div class="table_cell"><div class="tb_title">{% trans 'Итого к оплате' %}</div></div>
                    </div>

                    {% for order in profile.complete_orders %}
                      <div class="table_row  tb_row">
                        <div class="table_cell">
                          <div class="tb_title">{% trans 'Дата заказа' %}</div>
                          {# <div class="txt_cell_td">12 августа</div> #}
                          <div class="txt_cell_td">{{ order.checkout_date|date:"d.m.Y" }}</div>
                        </div>
                        
                        <div class="table_cell">
                          <div class="tb_title">{% trans 'Номер заказа' %}</div>
                          {# <div class="txt_cell_td">201612356890</div> #}
                          <div class="txt_cell_td">{{ order.number }}</div>
                        </div>

                        <div class="table_cell">
                          <div class="tb_title">{% trans 'Способ доставки' %}</div>
                          <div class="txt_cell_td">{{ order.show_delivery_method }}</div>
                        </div>
                        
                        <div class="table_cell">
                          <div class="tb_title">{% trans 'Способ оплаты' %}</div>
                          <div class="txt_cell_td">{{ order.show_payment_method }}</div>
                        </div>
                        
                        <div class="table_cell">
                          <div class="tb_title">{% trans 'Статус' %}</div>
                          <div class="txt_cell_td">{{ order.get_status_display }}</div>
                        </div>
                        
                        <div class="table_cell">
                          <div class="tb_title">{% trans 'Итого к оплате' %}</div>
                          <div class="txt_cell_td"><div class="product_price">{{ order.show_summary_c|with_currency:order.currency|safe }}</div></div>
                        </div>
                      
                      </div>
                    {% endfor %}
                  {% else %}
                    <br/>
                    <h4>{% trans 'У вас пока нет заказов' %}. <a href="{% url 'women' %}">{% trans 'Перейти к каталогу' %}</a></h4>
                  {% endif %}
                </div>
              </div>
            </div>
          </div>
          <script>
            (function($){        
              $.fn.lightTabs = function(options){
                var createTabs = function(){
                  tabs = this;
                  i = 0;
                  showPage = function(i){
                    $(tabs).children(".wns_content").children(".wns_row_content").hide();
                    $(tabs).children(".wns_content").children(".wns_row_content").eq(i).show();
                    $(tabs).children(".wns_buttons").children(".lnk_bt_wns").removeClass("wns_active");
                    $(tabs).children(".wns_buttons").children(".lnk_bt_wns").eq(i).addClass("wns_active");
                  }
                  showPage(0);
                  $(tabs).children(".wns_buttons").children(".lnk_bt_wns").each(function(index, element){
                    $(element).attr("data-page", i);
                    i++;            
                  });
                  $(tabs).children(".wns_buttons").children(".lnk_bt_wns").click(function(){
                    showPage(parseInt($(this).attr("data-page")));
                  });        
                };    
                return this.each(createTabs);
              };  
            })(jQuery);
            $(document).ready(function(){
              $(".wns_tubs").lightTabs();
              {% if request.GET.tab == 'orders' %}
                showPage(1);
              {% endif %}
            });
          </script>
        </div>

      </div>
    </div>
  </main>
{% endblock %}



{% block popups %}
  <div style="display: none">
    <a rel="leanModal1" href="#error-popup"></a>
  </div>

  <div class="window_popap no_float mini_window_popup callback_form" id="error-popup" style="display:none;">
      <div class="close_popap call_close js-call-close"><img src="/static/i/close_white_45.png" alt="{% trans 'Закрыть' %}"></div>
      <div class="wrap_window_popap bg_wrapp_window">
          <div class="popap_row">
              <div class="popap_row_wrapp">
                  <h3 class="popup_title" style="margin-bottom: 10px;">{% trans 'При отправке формы произошла ошибка' %}:</h3>
                  <p class="call_introtext popup_text"></p>
                  {% comment %}
                  <div class="red_bor_butt">
                      <span class="js-call-close usual_link">{% trans 'Закрыть' %}</span>
                  </div>
                  {% endcomment %}
                  <div class="bt_req_call red_bor_butt js-call-close">
                    <button class="butt_border">{% trans 'Закрыть' %}</button>
                  </div>
              </div>
          </div>
      </div>
  </div>

{% endblock %}


{% block extra_js %}
  <script type="text/javascript">
    {% include 'js/profile.js' %}
  </script>
{% endblock %}
