{% extends 'base.html' %}
{% load i18n catalog_tags core_tags %}

{% block meta_title %}{{ seo_settings.global.get_meta_title }}{% endblock %}
{% block meta_desc %}{{ seo_settings.global.get_meta_desc }}{% endblock %}
{% block meta_keyw %}{{ seo_settings.global.get_meta_keyw }}{% endblock %}

{% block og_title %}{{ seo_settings.global.get_meta_title }}{% endblock %}
{% block og_desc %}{{ seo_settings.global.get_meta_desc }}{% endblock %}

{% block twitter_title %}{{ seo_settings.global.get_meta_title }}{% endblock %}
{% block twitter_desc %}{{ seo_settings.global.get_meta_desc }}{% endblock %}

{% block content %}
  <main>
    <div class="main_content main_cut">
      
      <ul id="touch_breadcrumb" class="breadcrumb">
        <li><a href="#">Главная</a></li>
        <li><a href="#">Корзина</a></li>
      </ul>
    
      <div id="main_content" class="wrapp_content">
        <ul class="breadcrumb">
          <li><a href="#">Главная</a></li>
          <li><a href="#">Корзина</a></li>
        </ul>
        <h1 class="title_block">Корзина</h1>

        <div class="rows_cut_block">

          <div class="table_shell js-hide-if-not-cart"{% if not cart.count %} style="display: none;"{% endif %}>
            <div class="table_head">
              <div class="table_cell tb_photo"><div class="tb_title">Фото</div></div>
              <div class="table_cell tb_model"><div class="tb_title">Название модели</div></div>
              {% if with_color %}<div class="table_cell tb_color"><div class="tb_title">Цвет</div></div>{% endif %}

              {# <div class="table_cell tb_fason"><div class="tb_title">Фасон</div></div> #}
              
              <div class="table_cell tb_price"><div class="tb_title">Цена</div></div>
              <div class="table_cell tb_cnt"><div class="tb_title">Количество</div></div>
              {% if with_gift_wrapping %}<div class="table_cell tb_wrapping"><div class="tb_title">Подарочная упаковка<br/>({{ gift_wrapping_price }}р.)</div></div>{% endif %}
              <div class="table_cell tb_summ"><div class="tb_title">Стоимость</div></div>
              
              <div class="table_cell tb_put"><div class="tb_title">Отложить</div></div>
              <div class="table_cell tb_del"><div class="tb_title">Удалить</div></div>
            </div>

            {% for item in cart_items %}
              <div class="item_content_block table_row js-item-div" data-item-id="{{ item.id }}" data-set-url="{% url 'cart_api:set' %}" data-remove-url="{% url 'cart_api:remove' %}" data-base-price="{{ item.base_price|to_int_str }}" data-row-clear-selector="#js-row-clear-{{ item.id }}">
                <div class="table_cell cell_image">
                  <a href="{{ item.product.get_absolute_url }}"><div class="td_photo" style="background-image:url({{ item.product.cart_cover_thumb }})"></div></a>
                </div>
                <div class="table_cell td_title">
                  <h3 class="title_upper"><a href="{{ item.product.get_absolute_url }}" onclick="return false">{{ item.product.title }}</a></h3>
                  {% if not item.extra_products %}
                    {% if item.product.subtitle %}
                      <h4 class="title_low">{{ item.product.subtitle }}</h4>
                    {% endif %}
                  {% else %}
                    {% item_extra_products_str item as extra_products_str %}
                    {% if extra_products_str %}
                      <h4 class="title_low">{{ extra_products_str|safe }}</h4>
                    {% endif %}
                  {% endif %}
                </div>

                {% if with_color %}
                  <div class="table_cell td_color">
                    {% item_color item color_attribute as option %}
                    {% if option %}
                      <div class="td_color_box" style="border: 1px solid #ccc; {% if option.picture %}background: url('{{ option.picture_url }}'){% else %}background-color:{{ option.color }}{% endif %};" title="{{ option.title }}">{{ option.title }}</div>
                    {% endif %}
                  </div>
                {% endif %}
                
                {% comment %}
                  <div class="table_cell td_fason">
                    <span class="td_fason_box"><img src="/static/images/clotnes_acs/bott-2.jpg"></span>
                  </div>
                {% endcomment %}
                
                <div class="clr clr_table"></div>
                <div class="table_cell td_price">
                  <div class="tb_title">Цена</div>
                  <div class="product_price">{{ item.base_price|to_int_str }}<abbr title="руб">р.</abbr></div>
                </div>
                <div class="table_cell td_cnt">
                  <div class="tb_title">Количество</div>
                  <div class="number">
                    <span class="minus" id="">-</span>
                    <input type="text" name="item-count" value="{{ item.count }}" maxlength="3" onkeyup="this.value = this.value.replace(/\D/, '')" id="cnt_item-{{ forloop.counter }}" />
                    <span class="plus" id="">+</span>
                  </div>
                </div>

                {% if with_gift_wrapping %}
                  <div class="table_cell td_wrapping">
                    <div>
                      <label for="gift-wrapping-{{ item.id }}" class="check_pr_input checke_lab" style="margin-top: 0;">
                        <input type="checkbox"{% if item.wrapping_price %} checked="checked"{% endif %} class="js-gift-wrapping-trigger" data-wrapping-price="{{ gift_wrapping_price|to_int_str }}" name="gift_wrapping" id="gift-wrapping-{{ item.id }}" value="1" />
                      </label>
                    </div>
                  </div>
                {% endif %}

                <div class="table_cell td_summ">
                  <div class="tb_title">Стоимость</div>
                  <div class="product_price"><span class="item-summary-span" id="price_ID-{{ forloop.counter }}">{{ item.price|to_int_str }}</span><abbr title="руб">р.</abbr></div>
                </div>
                
                <div class="table_cell td_put">
                  <a href="#" class="butt_put">
                    <label for="put_{{ forloop.counter }}" class="td_label_check_win">
                      <input type="checkbox" name="put" id="put_{{ forloop.counter }}" value="1" />
                      <div class="window_title">
                        <span class="no_check">Добавить товар в список желаемых покупок</span>
                        <span class="y_check">Товар в списке желаемых покупок</span>
                      </div>
                      <img src="/static/i/heart_icon.png" alt="Отложить" />
                    </label>
                  </a>
                </div>
                <div class="table_cell td_del">
                  <a href="#" class="butt_del js-remove-item"><img src="/static/i/delete.gif" alt="Удалить" /></a>
                </div>
              </div>

              {% if not forloop.last %}<!--разделитель между товарами--><div class="item_content_block table_row table_row_clr" id="js-row-clear-{{ item.id }}"><div class="table_cell">&nbsp;</div></div>{% endif %}

            {% endfor %}
                      
          </div>

          <h3 class="js-show-if-not-cart"{% if cart.count %} style="display: none;"{% endif %}>Товаров в корзине нет. <a href="{% url 'women' %}">Вернуться в каталог</a></h3>

          <h2 class="title_block js-hide-if-not-cart"{% if not cart.count %} style="display: none;"{% endif %}>Дополнительная информация</h2>
          <textarea name="text" rows="9" id="text" class="t_area js-disabled-if-not-cart{% if not cart.count %} _disabled{% endif %}"></textarea>
          
          <div class="foot_form_cut">
            <div class="foot_form_cut_row">
              <h2 class="title_block">Итого товаров: <span class="price_table_summ"><span class="js-cart-count">{{ cart.count }}</span> на сумму <div class="product_price"><span class="js-cart-summary">{{ cart.summary }}</span><abbr title="руб">р.</abbr></div></span></h2>
              
              <div class="block_curr_down">
                <span class="title_down_block">Цена в: </span>
                <script>
                  (function( $ ) {
                    $.fn.selectbox = function() {
                    //var selectDefaultHeight = $('.selectboxss').height();
                    var selectDefaultHeight = 40;
                      $('.selectboxss .selectboxssvalue').click(function() {
                        var currentHeight = $(this).closest(".selectboxss").height();
                        if (currentHeight < 100 || currentHeight == selectDefaultHeight) {
                          $(this).closest(".selectboxss").height("auto");
                          $(this).find('.arrowselect').attr("style", "border-radius: 1000px;transition: 0.2s;transform: rotate(180deg);");
                        }
                        if (currentHeight >= 101) {
                          $(this).closest(".selectboxss").height(selectDefaultHeight);
                          $(this).find('.arrowselect').attr("style", "rotate(0deg);");
                        }
                      });
                      $('li.selectoption').click(function() {
                        $(this).closest(".selectboxss").height(selectDefaultHeight);
                        $(this).closest(".selectboxss").find('.arrowselect').attr("style", "rotate(0deg);");
                        
                        var t = $(this).closest("li.selectoption").text();
                        $(this).closest(".selectboxss").find('.selectboxssvalue img.input_mage').attr('src', t);
                      });
                    };
                  })( jQuery );
                </script>
                <script> $(document).ready(function(){ $('.selectboxss').selectbox(); }); </script>
                <div class="select_img">
                  <div class="selectboxss">
                    <div class="selectboxssvalue">
                      <img src="/static/i/rub_img.png" class="input_mage" />
                      <img src="/static/i/arrow_down_list.png" class="arrowselect" />
                    </div>
                    <ul class="selectboxssmenu">
                      <li class="selectoption" style="background-image:url(/static/i/rub_img.png);"><span>/static/i/rub_img.png</span></li>
                      <li class="selectoption" style="background-image:url(/static/i/dol_img.png);"><span>/static/i/dol_img.png</span></li>
                    </ul>
                  </div>
                </div>
              </div>
              
            </div>
            <button class="bt_red js-disabled-if-not-cart{% if not cart.count %} _disabled{% endif %}">Оформить заказ</button>
          </div>
          
        </div>
        
        <!--div class="text_preview_page text_item">
          <div class="text_preview_inner">
            
          </div>
        </div-->
        
      </div>
      
    </div>
  </main>
{% endblock %}

{% block extra_js %}
  <script type="text/javascript">
    // window.data = {{ data_json|safe }};
    {% include 'cart/include/cart.js' %}
  </script>
{% endblock %}
