{% extends 'base.html' %}
{% load i18n catalog_tags core_tags %}

{% block meta_title %}{{ seo_settings.global.get_meta_title }}{% endblock %}
{% block meta_desc %}{{ seo_settings.global.get_meta_desc }}{% endblock %}
{% block meta_keyw %}{{ seo_settings.global.get_meta_keyw }}{% endblock %}

{% block og_title %}{{ seo_settings.global.get_meta_title }}{% endblock %}
{% block og_desc %}{{ seo_settings.global.get_meta_desc }}{% endblock %}

{% block twitter_title %}{{ seo_settings.global.get_meta_title }}{% endblock %}
{% block twitter_desc %}{{ seo_settings.global.get_meta_desc }}{% endblock %}

{% block content %}
  <main>
    <div class="main_content main_cut">
      
      <ul id="touch_breadcrumb" class="breadcrumb">
        <li><a href="#">Главная</a></li>
        <li><a href="#">Корзина</a></li>
      </ul>
    
      <div id="main_content" class="wrapp_content">
        <ul class="breadcrumb">
          <li><a href="#">Главная</a></li>
          <li><a href="#">Корзина</a></li>
        </ul>
        <h1 class="title_block">Корзина</h1>

        <div class="rows_cut_block js-cart-parent" data-step0-url="{% url 'cart_api:step0' %}" data-step2-url="{% url 'cart_api:step2' %}" data-step3-url="{% url 'cart_api:step3' %}">

          <div class="table_shell js-hide-if-not-cart"{% if not cart.count %} style="display: none;"{% endif %}>
            <div class="table_head">
              <div class="table_cell tb_photo"><div class="tb_title">Фото</div></div>
              <div class="table_cell tb_model"><div class="tb_title">Название модели</div></div>
              {% if with_color %}<div class="table_cell tb_color"><div class="tb_title">Цвет</div></div>{% endif %}

              {# <div class="table_cell tb_fason"><div class="tb_title">Фасон</div></div> #}
              
              <div class="table_cell tb_price"><div class="tb_title">Цена</div></div>
              <div class="table_cell tb_cnt"><div class="tb_title">Количество</div></div>
              {% if with_gift_wrapping %}<div class="table_cell tb_summ"><div class="tb_title">Подарочная упаковка<br/>({{ gift_wrapping_price }}р.)</div></div>{% endif %}
              <div class="table_cell tb_summ"><div class="tb_title">Стоимость</div></div>
              
              <div class="table_cell tb_put"><div class="tb_title">Отложить</div></div>
              <div class="table_cell tb_del"><div class="tb_title">Удалить</div></div>
            </div>

            {% for item in cart_items %}
              <div class="item_content_block table_row js-item-div" data-item-id="{{ item.id }}" data-set-url="{% url 'cart_api:set' %}" data-remove-url="{% url 'cart_api:remove' %}" data-base-price="{{ item.base_price|to_int_str }}" data-row-clear-selector="#js-row-clear-{{ item.id }}">
                <div class="table_cell cell_image">
                  <a href="{{ item.product.get_absolute_url }}"><div class="td_photo" style="background-image:url({{ item.product.cart_cover_thumb }})"></div></a>
                </div>
                <div class="table_cell td_title">
                  <h3 class="title_upper"><a href="{{ item.product.get_absolute_url }}" onclick="return false">{{ item.product.title }}</a></h3>
                  {% if not item.extra_products %}
                    {% if item.product.subtitle %}
                      <h4 class="title_low">{{ item.product.subtitle }}</h4>
                    {% endif %}
                  {% else %}
                    {% item_extra_products_str item as extra_products_str %}
                    {% if extra_products_str %}
                      <h4 class="title_low">{{ extra_products_str|safe }}</h4>
                    {% endif %}
                  {% endif %}
                </div>

                {% if with_color %}
                  <div class="table_cell td_color">
                    {% item_color item color_attribute as option %}
                    {% if option %}
                      <div class="td_color_box" style="border: 1px solid #ccc; {% if option.picture %}background: url('{{ option.picture_url }}'){% else %}background-color:{{ option.color }}{% endif %};" title="{{ option.title }}">{{ option.title }}</div>
                    {% endif %}
                  </div>
                {% endif %}
                
                {% comment %}
                  <div class="table_cell td_fason">
                    <span class="td_fason_box"><img src="/static/images/clotnes_acs/bott-2.jpg"></span>
                  </div>
                {% endcomment %}
                
                <div class="clr clr_table"></div>
                <div class="table_cell td_price">
                  <div class="tb_title">Цена</div>
                  <div class="product_price">{{ item.base_price|to_int_str }}<abbr title="руб">р.</abbr></div>
                </div>
                <div class="table_cell td_cnt">
                  <div class="tb_title">Количество</div>
                  <div class="number">
                    <span class="minus" id="">-</span>
                    <input type="text" name="item-count" value="{{ item.count }}" maxlength="3" onkeyup="this.value = this.value.replace(/\D/, '')" id="cnt_item-{{ forloop.counter }}" />
                    <span class="plus" id="">+</span>
                  </div>
                </div>

                {% if with_gift_wrapping %}
                  <div class="table_cell td_summ">
                    <div class="tb_title">Подарочная упаковка</div>
                    <div>
                      <label for="gift-wrapping-{{ item.id }}" class="check_pr_input checke_lab" style="margin-top: 0;">
                        <input type="checkbox"{% if item.wrapping_price %} checked="checked"{% endif %} class="js-gift-wrapping-trigger" data-wrapping-price="{{ gift_wrapping_price|to_int_str }}" name="gift_wrapping" id="gift-wrapping-{{ item.id }}" value="1" />
                      </label>
                    </div>
                  </div>
                {% endif %}

                <div class="table_cell td_summ">
                  <div class="tb_title">Стоимость</div>
                  <div class="product_price"><span class="item-summary-span" id="price_ID-{{ forloop.counter }}">{{ item.price|to_int_str }}</span><abbr title="руб">р.</abbr></div>
                </div>
                
                <div class="table_cell td_put">
                  <a href="#" class="butt_put">
                    <label for="put_{{ forloop.counter }}" class="td_label_check_win">
                      <input type="checkbox" name="put" id="put_{{ forloop.counter }}" value="1" />
                      <div class="window_title">
                        <span class="no_check">Добавить товар в список желаемых покупок</span>
                        <span class="y_check">Товар в списке желаемых покупок</span>
                      </div>
                      <img src="/static/i/heart_icon.png" alt="Отложить" />
                    </label>
                  </a>
                </div>
                <div class="table_cell td_del">
                  <a href="#" class="butt_del js-remove-item"><img src="/static/i/delete.gif" alt="Удалить" /></a>
                </div>
              </div>

              {% if not forloop.last %}<!--разделитель между товарами--><div class="item_content_block table_row table_row_clr" id="js-row-clear-{{ item.id }}"><div class="table_cell">&nbsp;</div></div>{% endif %}

            {% endfor %}
                      
          </div>

          <h3 class="js-show-if-not-cart" style="margin-bottom: 250px;{% if cart.count %} display: none;{% endif %}">Товаров в корзине нет. <a href="{% url 'women' %}">Вернуться в каталог</a></h3>

          <h2 class="title_block js-hide-if-not-cart"{% if not cart.count %} style="display: none;"{% endif %}>Дополнительная информация</h2>
          <textarea name="additional_info" rows="9" id="text" class="t_area js-hide-if-not-cart"{% if not cart.count %} style="display: none;"{% endif %}>{% if basket.additional_info %}{{ basket.additional_info }}{% endif %}</textarea>
          
          <div class="foot_form_cut">
            <div class="foot_form_cut_row">
              <h2 class="title_block">Итого товаров: <span class="price_table_summ"><span class="js-cart-count">{{ cart.count }}</span> на сумму <div class="product_price"><span class="js-cart-summary">{{ cart.summary }}</span><abbr title="руб">р.</abbr></div></span></h2>
              
              <div class="block_curr_down">
                <span class="title_down_block">Цена в: </span>
                <script>
                  (function( $ ) {
                    $.fn.selectbox = function() {
                    //var selectDefaultHeight = $('.selectboxss').height();
                    var selectDefaultHeight = 40;
                      $('.selectboxss .selectboxssvalue').click(function() {
                        var currentHeight = $(this).closest(".selectboxss").height();
                        if (currentHeight < 100 || currentHeight == selectDefaultHeight) {
                          $(this).closest(".selectboxss").height("auto");
                          $(this).find('.arrowselect').attr("style", "border-radius: 1000px;transition: 0.2s;transform: rotate(180deg);");
                        }
                        if (currentHeight >= 101) {
                          $(this).closest(".selectboxss").height(selectDefaultHeight);
                          $(this).find('.arrowselect').attr("style", "rotate(0deg);");
                        }
                      });
                      $('li.selectoption').click(function() {
                        $(this).closest(".selectboxss").height(selectDefaultHeight);
                        $(this).closest(".selectboxss").find('.arrowselect').attr("style", "rotate(0deg);");
                        
                        var t = $(this).closest("li.selectoption").text();
                        $(this).closest(".selectboxss").find('.selectboxssvalue img.input_mage').attr('src', t);
                      });
                    };
                  })( jQuery );
                </script>
                <script> $(document).ready(function(){ $('.selectboxss').selectbox(); }); </script>
                <div class="select_img">
                  <div class="selectboxss">
                    <div class="selectboxssvalue">
                      <img src="/static/i/rub_img.png" class="input_mage" />
                      <img src="/static/i/arrow_down_list.png" class="arrowselect" />
                    </div>
                    <ul class="selectboxssmenu">
                      <li class="selectoption" style="background-image:url(/static/i/rub_img.png);"><span>/static/i/rub_img.png</span></li>
                      <li class="selectoption" style="background-image:url(/static/i/dol_img.png);"><span>/static/i/dol_img.png</span></li>
                    </ul>
                  </div>
                </div>
              </div>
              
            </div>
            <button class="bt_red js-step0-button js-disabled-if-not-cart{% if not cart.count %} _disabled{% endif %}">Оформить заказ</button>
          </div>
          
        </div>
        
        <!--div class="text_preview_page text_item">
          <div class="text_preview_inner">
            
          </div>
        </div-->
        
      </div>
      
    </div>
  </main>
{% endblock %}

{% block extra_js %}
  <script type="text/javascript">
    // window.data = {{ data_json|safe }};
    {% include 'cart/include/cart.js' %}
  </script>
{% endblock %}

{% block popups %}
  <div style="display: none">
    <a rel="leanModal1" href="#error-popup"></a>
    <a rel="leanModal1" href="#step1"></a>
    <a rel="leanModal1" href="#step2"></a>
    <a rel="leanModal1" href="#step3"></a>
    <a rel="leanModal1" href="#step4"></a>
    <a rel="leanModal1" href="#step5"></a>
  </div>

  <div class="window_popap no_float mini_window_popup callback_form" id="error-popup" style="display:none;">
      <div class="close_popap call_close js-call-close"><img src="/static/i/close_white_45.png" alt="Закрыть"></div>
      <div class="wrap_window_popap bg_wrapp_window">
          <div class="popap_row">
              <div class="popap_row_wrapp">
                  <h3 class="popup_title" style="margin-bottom: 10px;">При отправке формы произошла ошибка:</h3>
                  <p class="call_introtext popup_text"></p>
                  {% comment %}
                  <div class="red_bor_butt">
                      <span class="js-call-close usual_link">Закрыть</span>
                  </div>
                  {% endcomment %}
                  <div class="bt_req_call red_bor_butt js-call-close">
                    <button class="butt_border">Закрыть</button>
                  </div>
              </div>
          </div>
      </div>
  </div>

  <div class="window_popap" id="step1" style="display: none;">
    <div class="close_popap js-call-close"><img src="/static/i/close_icon.png" alt="Закрыть"></div>
    <div class="wrap_window_popap bg_wrapp_window">
      <div class="popap_row">
        <div class="popap_row_wrapp">
          <h2 class="title_popap">Я уже являюсь <br>клиентом BIKINIMINI</h2>

          <form class="js-step1-form js-step1-login-form" action="{% url 'auth:login' %}" method="post">
            <div class="error-messages"></div>

            <div class="row_form_popup">
              <label class="lbl_box">
                <p>Ваш e-mail</p>
                <input type="email" required="required" value="" name="email" class="input_text">
              </label>
            </div>
            
            <div class="row_form_popup">
              <label class="lbl_box">
                <p>Ваш пароль</p>
                <input type="password" required="required" value="" name="password" class="input_text">
              </label>
            </div>
            
            <div class="row_form_popup">
              <label class="lbl_box check_popap_row">
                <input class="check_form" type="checkbox" name="remember_me">
                <p>Запомнить меня на сайте</p>
              </label>
            </div>
            
            <div class="row_form_popup row_pop_butt">
              <button class="bt_red">Войти</button>
              {# <a href="#">Забыли пароль?</a> #}
            </div>
            
            <div class="row_form_popup">
              <p>Войти при помощи соц. сетей:</p>
              <div class="soc_enter">
                <a href="#"><img src="/static/i/soc_face.png" alt="Facebook"></a>
                <a href="#"><img src="/static/i/soc_vk.png" alt="ВКонтакте"></a>
                <a href="#"><img src="/static/i/soc_gplus.png" alt="Google Plus"></a>
                <a href="#"><img src="/static/i/soc_ins.png" alt="Instagram"></a>
              </div>
            </div>

          </form>

        </div>
      </div>
      
      <div class="or_block">или</div>
      
      <div class="popap_row bg_popap">
        <div class="popap_row_wrapp">
          <h2 class="title_popap">Я новый <br>клиент BIKINIMINI</h2>

          <form class="js-step1-form js-step1-registration-form" action="{% url 'auth:registration' %}" method="post">
            <div class="error-messages"></div>

            <div class="row_form_popup">
              <label class="lbl_box">
                <p>Ваш e-mail</p>
                <input type="email" required="required" value="" name="email" class="input_text">
              </label>
            </div>
            
            <div class="row_form_popup">
              <label class="lbl_box">
                <p>Ваш пароль</p>
                <input type="password" required="required" value="" name="password" class="input_text">
              </label>
            </div>
            
            <div class="row_form_popup">
              <label class="lbl_box">
                <p>Ваш пароль ещё раз</p>
                <input type="password" required="required" value="" name="password_repeat" class="input_text">
              </label>
            </div>
            
            <div class="row_form_popup">
              <label class="lbl_box">
                <p>ФИО</p>
                <input type="text" required="required" value="" name="name" class="input_text">
              </label>
            </div>

            <div class="row_form_popup row_pop_butt">
              <button class="bt_red">Далее</button>
            </div>
          </form>
          
        </div>
      </div>
      
    </div>
  </div>

  {% comment %}
  <div class="window_popap no_float mini_window_popup callback_form" id="step2" style="display:none;">
      <div class="close_popap call_close js-call-close"><img src="/static/i/close_white_45.png" alt="Закрыть"></div>
      <div class="wrap_window_popap bg_wrapp_window">
          <div class="popap_row">
              <div class="popap_row_wrapp">
                  <h3 class="popup_title" style="margin-bottom: 10px;">Шаг 2!</h3>
                  <p class="call_introtext popup_text"></p>
                  <div class="bt_req_call red_bor_butt js-call-close">
                    <button class="butt_border">Закрыть</button>
                  </div>
              </div>
          </div>
      </div>
  </div>
  {% endcomment %}

  <div class="window_popap no_float" id="step3" style="display:none;">
    <div class="close_popap js-call-close"><img src="/static/i/close_icon.png" alt="Закрыть" /></div>
    <div class="wrap_window_popap bg_wrapp_window">
      <div class="popap_row">
        <div class="popap_row_wrapp">
          <h2 class="title_popap">Данные для доставки</h2>
          <form class="js-step3-form" action="{% url 'cart_api:step3' %}" method="post">
            <div class="error-messages"></div>

            <div class="rows_popup_input">
              <div class="row_form_popup">
                <label class="lbl_box">
                  <p>Страна:<span class="orange_text">*</span></p>
                  <select required name="country" value="{{ shipping_data.country }}" class="country_select">
                    {% for country in countries %}
                      <option value="{{ country.id }}"{% if country.id == shipping_data.country %} selected="selected"{% endif %}>{{ country.title }}</option>
                    {% endfor %}
                  </select>
                </label>
              </div>
              
              <div class="row_form_popup">
                <label class="lbl_box">
                  <p>Город:<span class="orange_text">*</span></p>
                  <input required type="text" value="{{ shipping_data.city }}" name="city" class="input_text" />
                </label>
              </div>
            </div>

            <div class="rows_popup_input">
              <label class="lbl_box">
                  <p style="color: rgb(61, 105, 122); font-size: 12px;">Адрес:<span class="orange_text">*</span></p>
                  <textarea required name="address" class="input_text no_hover_border" style="padding: 12px 2.25% 0; width: 95.45%; height: 135px;">{{ shipping_data.address }}</textarea>
                </label>
            </div>            
            
            <div class="rows_popup_input">
              <div class="row_form_popup">
                <label class="lbl_box">
                  <p>Контактный телефон:<span class="orange_text">*</span></p>
                  <input required type="text" value="{{ shipping_data.phone }}" name="phone" class="input_text" />
                </label>
              </div>
              
              <div class="row_form_popup">
                <label class="lbl_box">
                  <p>Имя, Фамилия, Отчество:<span class="orange_text">*</span></p>
                  <input required type="text" value="{{ shipping_data.name }}" name="name" class="input_text" />
                </label>
              </div>
            </div>
            
            <div class="row_form_popup row_pop_butt">
              <button class="bt_red">Оформить заказ</button>
            </div>
            
          </form>
        </div>
      </div>
      
      
    </div>
  </div>

  <div class="window_popap no_float mini_window_popup" id="step4" style="display:none;">
    <div class="close_popap js-call-close"><img src="/static/i/close_icon.png" alt="Закрыть" /></div>
    <div class="wrap_window_popap bg_wrapp_window">
      <div class="popap_row">
        <div class="popap_row_wrapp">
          <h2 class="title_popap">Заказ успешно <br />оформлен</h2>
          <div class="row_form_popup">
            <p><strong>Заказ №:</strong><span class="js-order-number">111 111</span></p>
            <p><strong >На сумму:</strong><span class="js-cart-summary">11 111р.</span></p>
            {# <p><strong>Способ получения:</strong><span>Самовывоз</span></p> #}

            <p style="margin-top: 30px;">В ближайшее время с вами всяжутся 
            менеджеры отдела доставки для уточнения 
            деталей заказа</p>

            <p>Если у вас возникли какие либо вопросы,
            вы можете связаться с нами по телефону  
            <strong class="pup_strong">+7 (916) 445 -65 -55</strong></p>

            <p>С уважением, администация bikinimini.ru</p>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="window_popap after_popap" id="step5" style="display:none;">
    <div class="close_popap js-call-close"><img src="/static/i/close_icon.png" alt="Закрыть" /></div>
    <div class="wrap_window_popap bg_wrapp_window">
      <div class="popap_row">
        <div class="popap_row_wrapp">
          <h2 class="title_string">Ваш заказ принят!</h2>
          <div>№ заказа: </strong><span class="js-order-number">111 111</span><br/></div>
          <div class="content_pup">
            <div class="p_pup">Итоговая стоимость заказа:</div> 
            <div class="product_price upper_price price_strong"><span class="js-cart-summary">11 111</span><abbr title="руб">руб.</abbr></div>

            <p>В ближайшее время с вами всяжутся 
            менеджеры отдела доставки для уточнения 
            деталей заказа</p>

            <p>Если у вас возникли какие либо вопросы,
            вы можете связаться с нами по телефону  
            <strong class="pup_strong">+7 (916) 445 -65 -55</strong></p>

            <p>С уважением, администация bikinimini.ru</p>
          </div>
        </div>
      </div>

      {% if special %}
        {% with special.product as sp %}
          <div class="popap_row bg_popap">
            <div class="popap_row_wrapp">
              <h2 class="title_string">Специальное предложение <br />Только для Вас!</h2>
              <h3 class="h3_pup">Добавьте еще одну модель </h3>

              <div class="pup_details_item">
                <div class="details_item_photo">
                  <div class="photo_list">
                    <a href="{{ special.get_discount_url }}?code={{ random_str }}"><img src="{{ sp.special_offer_cover }}" alt="{{ sp.title }}"></a>
                  </div>
                  <abbr class="sale_details">-{{ special.discount }}%</abbr>
                </div>
                
                <div class="details_item_content">
                  <h3><a href="{{ special.get_discount_url }}?code={{ random_str }}"> {{ sp.title }}</a></h3>
                  <h4>{{ sp.subtitle }}</h4>
                  <div class="txt_price_to">Цена для вас:</div>
                  
                  <div class="product_price sale_price"><s>{{ sp.price|to_int_plus }}</s><abbr title="руб">р.</abbr></div>
                  <div class="product_price">{{ sp.price|with_discount:special.discount }}<abbr title="руб">р.</abbr></div>
                  
                  <div class="clr"></div>
                  <a href="{{ special.get_discount_url }}?code={{ random_str }}" class="to_cart_list">В корзину</a>
                </div>
                
              </div>
              
              <div class="pup_details_txt">
                <strong>Примечание:</strong> Скидкой можете воспользоватся только вы, 
                перейдя по ссылке с данной страницы в течение следующих двух часов.
                Если вы покинете данную страницу, скидка более не распространяется.
              </div>
              
            </div>
          </div>
        {% endwith %}
      {% endif %}
    </div>
  </div>

{% endblock %}
