{% extends 'base.html' %}
{% load i18n core_tags %}

{% block meta_title %}{{ seo_settings.certificate.get_meta_title }}{% endblock %}
{% block meta_desc %}{{ seo_settings.certificate.get_meta_desc }}{% endblock %}
{% block meta_keyw %}{{ seo_settings.certificate.get_meta_keyw }}{% endblock %}

{% block og_title %}{{ seo_settings.certificate.get_meta_title }}{% endblock %}
{% block og_desc %}{{ seo_settings.certificate.get_meta_desc }}{% endblock %}

{% block twitter_title %}{{ seo_settings.certificate.get_meta_title }}{% endblock %}
{% block twitter_desc %}{{ seo_settings.certificate.get_meta_desc }}{% endblock %}

{% block content %}
  <main>
    <div class="main_content main_cut">
      
      <ul id="touch_breadcrumb" class="breadcrumb">
        <li><a href="#">Главная</a></li>
        <li><span>Подарочный сертификат</span></li>
      </ul>
    
      <div id="main_content" class="wrapp_content">
        <ul class="breadcrumb">
          <li><a href="#">Главная</a></li>
          <li><span>Подарочный сертификат</span></li>
        </ul>
        <h1 class="title_block">{{ seo_settings.certificate.get_h1 }}</h1>
        
          <div class="table_shell table_sert">
            <div class="table_row row_sert">
              <div class="table_cell row_cell sell_sert">
                
                <div class="sertificat_block" style="background-image: url(/static/images/sertificates/bg_sertificat1.gif);">
                  <div class="sertificat_wrapp">
                    <div class="sertificat_logo">
                      <img src="/static/i/sertificat_logo.png" alt="Bikinimini" />
                    </div>
                    <div class="sertificat_logo_name">
                      <img src="/static/i/sertificat_logo_name.png" alt="Anastasia Ivanovskaia" />
                    </div>
                    <div class="sertificat_title">
                      Подарочный сертификат
                    </div>
                    {# <div class="product_price upper_price">{{ certificate.price|to_int_plus }}<abbr title="руб">руб.</abbr></div> #}
                  </div>
                </div>

                <div class="text_sert">
                  {{ seo_settings.certificate.seo_text|safe }}
                </div>
              </div>
              
              <div class="table_cell row_cell sell_sert_form">
                <form action="">
                  <script>
                    (function( $ ) {
                      $.fn.selectbox2 = function() {
                      var selectDefaultHeight = 40;
                        $('#sertificates_select .selectboxssvalue').click(function() {
                          var currentHeight = $(this).closest("#sertificates_select").height();
                          if (currentHeight < 100 || currentHeight == selectDefaultHeight) {
                            $(this).closest("#sertificates_select").height("auto");
                            $(this).find('#arrow_select').attr("style", "border-radius: 1000px;transition: 0.2s;transform: rotate(180deg);");
                          }
                          if (currentHeight >= 101) {
                            $(this).closest("#sertificates_select").height(selectDefaultHeight);
                            $(this).find('#arrow_select').attr("style", "rotate(0deg);");
                          }
                        });
                        $('li.selectoption').click(function() {
                          $(this).closest("#sertificates_select").height(selectDefaultHeight);
                          $(this).closest("#sertificates_select").find('#arrow_select').attr("style", "rotate(0deg);");
                          
                          var t = $(this).closest("li.selectoption").text();
                          $(this).closest("#sertificates_select").find('.selectboxssvalue span.input_text_view').text(t);
                        });
                      };
                    })( jQuery );
                  </script>
                  <script> $(document).ready(function(){ $('#sertificates_select').selectbox2(); }); </script>
                  
                  <div class="title_normal">Выберите номинал:<span class="orange_text">*</span></div>
                  <div class="input_shell select_shel">
                    <div class="select_img"><!--.errr-->
                      <div class="selectboxss drop_list_text" id="sertificates_select">
                        <div class="selectboxssvalue">
                          <span class="input_text_view">{{ certificate.price|to_int_plus }}р.</span>
                          <img src="/static/i/arrow_down_list.png" class="arrowselect" id="arrow_select" />
                        </div>
                        <ul class="selectboxssmenu">
                          {% for cert in certificates %}
                            <li class="selectoption" data-price="{{ cert.price|to_int_plus }}">{{ cert.price|to_int_plus }}р.</li>
                          {% endfor %}
                        </ul>
                      </div>
                    </div>
                    <span class="err_r">Заполните поле</span>
                  </div>
                  
                  <div class="title_normal">Имя получателя:<span class="orange_text">*</span></div>
                  <div class="input_shell">
                    <input type="text" value="" name="name" class="input_text " placeholder="" />
                    <span class="err_r">Заполните поле</span>
                  </div>
                  
                  <div class="title_normal">E-mail получателя:</div>
                  <div class="input_shell">
                    <input type="text" value="" name="mail" class="input_text" placeholder="" />
                    <span class="err_r">Заполните поле</span>
                  </div>
                  
                  <div class="title_normal">Телефон отправителя:<span class="orange_text">*</span></div>
                  <div class="input_shell">
                    <input type="text" value="" name="phone" class="input_text" placeholder="" />
                    <span class="err_r">Заполните поле</span>
                  </div>
                  
                  <div class="title_normal">E-mail отправителя:<span class="orange_text">*</span></div>
                  <div class="input_shell">
                    <input type="text" value="" name="mail_to" class="input_text" placeholder="" />
                    <span class="err_r">Заполните поле</span>
                  </div>
                  
                  <div class="title_normal">Сообщение получателю:</div>
                  <div class="input_shell">
                    <textarea name="text" rows="4" id="text" class="t_area input_text bg_area"></textarea>
                    <span class="err_r">Заполните поле</span>
                  </div>
                  
                  <div class="title_normal">Когда отправлять:<span class="orange_text">*</span></div>
                  <div class="input_shell radio_float"><!-- класс ошибки .errr вставлять сюда -->
                    <label for="radio_id_1" class="radio_input">
                      <div class="input_cell">
                        <input type="radio" name="date" value="today" id="radio_id_1" class="check_radio" checked />
                      </div>
                      <p class="dott_cell"><span>Сейчас</span></p>
                    </label>
                    
                    <label for="radio_id_2" class="radio_input">
                      <div class="input_cell">
                        <input type="radio" name="date" value="add_date" id="radio_id_2" class="check_radio" />
                      </div>
                      <p class="dott_cell"><span>Выбрать дату</span></p>
                    </label>
                    
                    
                    <span class="err_r">Заполните поле</span>
                  </div>
                  
                  <div class="row_form_popup row_pop_butt">
                    <button class="bt_red">Купить</button>
                  </div>
                </form>
              </div>
            </div>
          </div>
      </div>
      
    </div>
  </main>
{% endblock %}
