# Django/Python #
.Python
*.py[cod]
**/*.py[cod]
temp/
temp/**/*.*
tmp/*
upload/
.temp
/static/*
/media/*
/main/settings/local.py
*.sqlite3
/env/*
/main/touchme

# OS or Editor folders, extensions #
.idea
.cache
.DS_Store
.project
.settings
.log
*.log
*.log.*
*.exe
*zip
Thumbs.db
*tmp*

# Certificate key files
*.csr
*.key
*.pem
