{% load i18n cart_tags core_tags wishlist_tags currency_tags %}

<ol>
  {% for item in obj.cart_items %}
    <li>
      <a href="{{ item.url|full_url }}"><strong>{{ item.title }}</strong></a>{% if item.product.vendor_code %}, {% trans 'артикул' %} <strong>{{ item.get_vendor_code }}</strong>{% endif %}{% if for_admin %}{% get_all_attrs_options item.attrs.items as attrs_options %}{% for option in attrs_options.color %}, {{ option.attribute.title|lower }}: {{ option.title|lower }}{% endfor %}{% for option in attrs_options.style %}, {{ option.attribute.title|lower }}: {{ option.title|lower }}{% endfor %}{% for option in attrs_options.size %}, {{ option.attribute.title|lower }}: {{ option.title|lower }}{% endfor %}{% endif %}, {% if item.discount %}{% trans 'цена со скидкой' %}: {{ item.option_price_c|with_discount:item.discount|with_delimeter|currency_light:obj.currency }}{% else %}{% trans 'цена' %}: {{ item.option_price_c|to_int_or_float|with_delimeter|currency_light:obj.currency }}{% endif %}<br/>

      {% if item.extra_products %}<br\>{% trans 'Дополнительные товары' %}: {% for extra_product_id, attrs in item.extra_products.items %}{% get_extra_product extra_product_id as extra_p %}{% if extra_p %}{{ extra_p.title }}{% if extra_p.vendor_code %}, {% trans 'артикул' %} {{ extra_p.vendor_code }}{% endif %}{% if for_admin %}{% get_all_attrs_options attrs.items as attrs_options %}{% for option in attrs_options.color %}, {{ option.attribute.title|lower }}: {{ option.title|lower }}{% endfor %}{% for option in attrs_options.style %}, {{ option.attribute.title|lower }}: {{ option.title|lower }}{% endfor %}{% for option in attrs_options.size %}, {{ option.attribute.title|lower }}: {{ option.title|lower }}{% endfor %}{% endif %}{% if not forloop.last %}; {% endif %}{% endif %}{% endfor %}. {% trans 'Цена доп.товаров' %}: {{ item.extra_price_c|to_int_or_float|with_delimeter|currency_light:obj.currency }}<br/>{% endif %}

      {% trans 'Кол-во' %}: {{ item.count }}<br/>
      {% if item.with_wrapping %}
        + {% trans 'Подарочная упаковка' %}: {{ item.wrapping_price_c|to_int_or_float|with_delimeter|currency_light:obj.currency }}<br/>
      {% endif %}
      {% trans 'Стоимость' %}: {{ item.price_c|to_int_or_float|with_delimeter|currency_light:obj.currency }}<br/>
    </li>
  {% endfor %}

  {% for item in obj.certificate_items %}
    <li>
      <a href="{{ item.url|full_url }}"><strong>{{ item.title_c }}</strong></a>{% if item.certificate.vendor_code %}, {% trans 'артикул' %} <strong>{{ item.get_vendor_code }}</strong>{% endif %}, {% trans 'имя получателя' %}: {{ item.recipient_name }}{% if item.recipient_email %}, {% trans 'email получателя' %}: {{ item.recipient_email }}{% endif %}{% if item.sender_name %}, {% trans 'имя отправителя' %}: {{ item.sender_name }}{% endif %}, {% trans 'телефон отправителя' %}: {{ item.sender_phone }}, {% trans 'email отправителя' %}: {{ item.sender_email }}{% if item.message %}, {% trans 'сообщение получателю' %}: {{ item.message|safe }}{% endif %}.<br/>

      {% if item.send_immediately or item.send_date %}
        {% trans 'Когда отправлять' %}: {% if item.send_immediately %}{% trans 'сразу' %}{% else %}{{ item.send_date|date:'d.m.Y' }}{% endif %}<br/>
      {% endif %}
      {% trans 'Стоимость' %}: {{ item.price_c|to_int_or_float|with_delimeter|currency_light:obj.currency }}<br/>
    </li>
  {% endfor %}
</ol>
