{% load i18n %}
<h3>{% trans 'Сбросьте ваш пароль на Bikinimini.ru' %}</h3>

<p>
    {% trans 'Чтобы сбросить свой пароль, пожалуйста, перейдите по этой ссылке' %}: <a href="https://{{ site }}{{ reset_password_link }}">https://{{ site }}{{ reset_password_link }}</a><br/>
</p>

<p>
    {% trans 'Мы будем рады ответить на Ваши вопросы' %}<br/>
    {% trans 'по телефону' %}: +7 (902) 354-38-45<br/>
    {% trans 'или по электронной почте' %}: info@bikinimini.ru.<br/>
</p>

<p>
    ----<br/><br/>
    {% trans 'С уважением, Ваша команда Bikinimini' %}<br/>
    <a href="https://bikinimini.ru">https://bikinimini.ru</a>
</p>
