{% load catalog_tags currency_tags %}
{% load i18n %}

{% if products|length %}

  <div class="item_list_wrapp" itemscope="" itemtype="http://schema.org/ItemList">
    {% for product in products %}
      <div class="product_list">
        {% with product|get_product_url:category_or_sex as product_url %}
          <div class="photo_list"><a href="{{ product_url }}"><img src="{{ product.cover_thumb }}" alt="{{ product.title }}" /></a></div>
          <h3><a href="{{ product_url }}">{{ product.title }}</a></h3>
          <h4>{{ product.subtitle }}</h4>
          <div class="product_price">{{ product.get_price|with_currency:currency|safe }}</div>
          <a href="{{ product_url }}" class="to_cart_list">{% trans 'В корзину' %}</a>
        {% endwith %}
      </div>
    {% endfor %}
  </div>

  {% if footer_banner %}
    {% with footer_banner as banner %}
      {% if not banner.has_button %}
        <a rel="nofollow" href="{{ banner.url }}"{% if banner.target_blank %} target="_blank"{% endif %}>
      {% endif %}
        <div class="with_banner_page" style="background-image:url({{ banner.image_url }});">
          {% if banner.has_text or banner.has_button %}
            <div class="with_banner_padd_page">
              {% for line in banner.lines.all %}
                <div class="{% if line.big %}with_big_text{% else %}with_mini_text{% endif %}">{{ line.line }}</div>
              {% endfor %}
              {% if banner.has_button %}<a rel="nofollow" href="{{ banner.url }}"{% if banner.target_blank %} target="_blank"{% endif %} class="butt_with">{{ banner.button_text }}</a>{% endif %}
            </div>
          {% endif %}
        </div>
      {% if not banner.has_button %}
        </a>
      {% endif %}
    {% endwith %}
  {% endif %}

  <div class="item_list_wrapp" itemscope="" itemtype="http://schema.org/ItemList"></div>

  {% comment %}
    <div class="pagination_block">
      <div class="wrapp_pagination">
        <a href="#" class="yet_items"><span>Показать ещё 10</span></a>
      </div>
    </div>
  {% endcomment %}

{% else %}
  {% if category %}
    <p><center style="margin: 100px 0;">{% trans 'В данной категории пока что нет товаров' %}</center></p>
  {% else %}
    <p><center style="margin: 100px 0;">{% trans 'В этом разделе пока что нет товаров' %}</center></p>
  {% endif %}
{% endif %}
