{% load i18n catalog_tags core_tags  %}


{% if attr_type == 'color' %}
  <div class="filtr_title ch_title_item">{{ attr.title }}:</div>
  <div class="check_box check_mini check_mini_item">
    {% for option in attr.options %}
      <label data-attr-id="{{ attr.id }}" data-attr-slug="{{ attr.slug }}" for="{{ attr.slug }}_{{ option.id }}"{% if forloop.counter > 4 %} style="display: none;"{% endif %} class="color_option">
        <input class="js-not-checkbox js-attr-checkbox js-attr-color" data-attr-slug="{{ attr.slug }}" data-option-id="{{ option.id }}" data-color-id="{{ option.id }}" type="checkbox" name="{{ attr.slug }}" id="{{ attr.slug }}_{{ option.id }}" value="{{ option.id }}" />
        {% if option.picture %}
          <span style="background: url('{{ option.detail_picture_url }}'); border: 1px solid #ccc;" title="{{ option.title }}">{{ option.title }}</span>
        {% else %}
          <span style="background-color: {{ option.color }}; border: 1px solid #ccc;" title="{{ option.title }}">{{ option.title }}</span>
        {% endif %}
      </label>
    {% endfor %}
  </div>
  {% if attr.options.count > 4 %}
    <a href="#" class="yet_more js-expand-colors" data-attr-id="{{ attr.id }}">Ещё цвета</a>
  {% endif %}
  {% if attr.price %}
    <div class="check_bx_check">
    <label for="fason-{{ attr.id }}" class="check_pr_input">
      <input type="checkbox" name="fason-{{ attr.id }}" id="fason-{{ attr.id }}" value="1" />
      <abbr class="abbr_check">Добавить к комплекту</abbr>
      <div class="product_price"><span id="price_ID--{{ attr.id }}">{{ attr.price|to_int_str }}</span><abbr title="руб">р.</abbr></div>
      <div class="del_check">
      Убрать из комплекта
      </div>
    </label>
    </div>
  {% endif %}
  <div class="clr"></div>


{% elif attr_type == 'style' %}
  <div class="row_chars_item">
    <script type="text/javascript">
    var connector = function(itemNavigation, carouselStage) {
      return carouselStage.jcarousel('items').eq(itemNavigation.index()); 
    }; 
    $(function() {
      var carouselNavigation = $('#check_photo_chars{{ attr.id }}').jcarousel();
      carouselNavigation.jcarousel('items').each(function() { 
      var item = $(this); 
      var target = connector(item, carouselNavigation);
       
      });
      
      $('#l_arr_nom_img_ch{{ attr.id }}').on('jcarouselcontrol:inactive', function() {
        $(this).addClass('inactive'); 
      }
      ).on('jcarouselcontrol:active', function() {
        $(this).removeClass('inactive'); 
      }
      ).jcarouselControl({ target: '-=1' }); 
      
      $('#r_arr_nom_img_ch{{ attr.id }}').on('jcarouselcontrol:inactive', function() {
        $(this).addClass('inactive');
      }
      ).on('jcarouselcontrol:active', function() {
        $(this).removeClass('inactive');
      }
      ).jcarouselControl({ target: '+=1' }); 
    });
    </script>
    <div class="filtr_title ch_title_item">{{ attr.title }}:</div>
    <div class="carousel_chars_check">
    <div class="check_box check_mini check_photo check_photo_chars" id="check_photo_chars{{ attr.id }}">
      <ul>
      {% for option in attr.options %}
        <li>
        {% comment %}
          <span>
          <img src="{{ option|get_photo_url:product }}" title="{{ option.title }}"/>
          </span>
        {% endcomment %}
        <label data-attr-slug="{{ attr.slug }}" for="{{ attr.slug }}_{{ option.id }}" title="{{ option.title }}">
          <input class="js-not-checkbox js-attr-checkbox js-attr-style" data-attr-slug="{{ attr.slug }}" data-option-id="{{ option.id }}" type="checkbox" name="{{ attr.slug }}" id="{{ attr.slug }}_{{ option.id }}" value="{{ option.id }}" />
          <span>
          <img src="{{ option|get_photo_url:product }}" />
          </span>
        </label>
        </li>
      {% endfor %}
      </ul>
    </div>
    <div class="l_arr" id="l_arr_nom_img_ch{{ attr.id }}"><img src="/static/i/arrow_slide.png" /></div>
    <div class="r_arr" id="r_arr_nom_img_ch{{ attr.id }}"><img src="/static/i/arrow_slide.png" /></div>
    </div>
  </div>
  {% with attr.neighbor as attr_n %}
    {% if attr_n and attr_n.attr_type == 'size' and attr_n.id in attrs_ids %}
      {% include 'catalog/include/product_attr.html' with attr=attr_n attr_type='size_neighbor' price=price %}
    {% endif %}
  {% endwith %}
  {% if attr.price %}
    <div class="check_bx_check">
    <label for="fason-{{ attr.id }}" class="check_pr_input">
      <input type="checkbox" name="fason-{{ attr.id }}" id="fason-{{ attr.id }}" value="1" />
      <abbr class="abbr_check">Добавить к комплекту</abbr>
      <div class="product_price"><span id="price_ID--{{ attr.id }}">{{ attr.price|to_int_str }}</span><abbr title="руб">р.</abbr></div>
      <div class="del_check">
      Убрать из комплекта
      </div>
    </label>
    </div>
  {% endif %}


{% elif attr_type == 'size' %}
  <div class="row_chars_item">
    <div class="filtr_title ch_title_item">{{ attr.title }}:</div>
    <div class="check_box check_size check_mini_item">
      {% for option in attr.options %}
        <label for="{{ attr.slug }}_{{ option.id }}" data-attr-slug="{{ attr.slug }}">
          <input class="js-not-checkbox js-attr-checkbox js-attr-size" data-attr-slug="{{ attr.slug }}" data-option-id="{{ option.id }}" type="checkbox" name="{{ attr.slug }}" id="{{ attr.slug }}_{{ option.id }}" value="{{ option.id }}" />
          <span{% if attr.slug == 'diametr' %} style="font-size: 12px;"{% endif %} title="{{ option.title }}">{{ option.title }}</span>
        </label>
      {% endfor %}
    </div>
    {% if attr.price %}
      <div class="check_bx_check">
      <label for="fason-{{ attr.id }}" class="check_pr_input">
        <input type="checkbox" name="fason-{{ attr.id }}" id="fason-{{ attr.id }}" value="1" />
        <abbr class="abbr_check">Добавить к комплекту</abbr>
        <div class="product_price"><span id="price_ID--{{ attr.id }}">{{ attr.price|to_int_str }}</span><abbr title="руб">р.</abbr></div>
        <div class="del_check">
        Убрать из комплекта
        </div>
      </label>
      </div>
    {% endif %}
  </div>
  <div class="clr"></div>

{% elif attr_type == 'size_neighbor' %}
  <div class="row_chars_item row_chars_mrg">
    <div class="filtr_title ch_title_item">{{ attr_n.title }}:</div>
    <div class="check_box check_size check_mini_item">
      {% for option in attr_n.options.all %}
        {% if option.id in attr_n.options_ids %}
          <label for="{{ attr_n.slug }}_{{ option.id }}" data-attr-slug="{{ attr_n.slug }}">
            <input class="js-not-checkbox js-attr-checkbox js-attr-size" data-attr-slug="{{ attr_n.slug }}" data-option-id="{{ option.id }}" type="checkbox" name="{{ attr_n.slug }}" id="{{ attr_n.slug }}_{{ option.id }}" value="{{ option.id }}" />
            <span{% if attr.slug == 'diametr' %} style="font-size: 12px;"{% endif %} title="{{ option.title }}">{{ option.title }}</span>
          </label>
        {% endif %}
      {% endfor %}
    </div>
    {% if attr.price %}
      <div class="check_bx_check">
      <label for="fason-{{ attr.id }}" class="check_pr_input">
        <input type="checkbox" name="fason-{{ attr.id }}" id="fason-{{ attr.id }}" value="1" />
        <abbr class="abbr_check">Добавить к комплекту</abbr>
        <div class="product_price"><span id="price_ID--{{ attr.id }}">{{ attr.price|to_int_str }}</span><abbr title="руб">р.</abbr></div>
        <div class="del_check">
        Убрать из комплекта
        </div>
      </label>
      </div>
    {% endif %}
  </div>
  <div class="clr"></div>

{% endif %}
