{% load i18n catalog_tags core_tags %}

{% if attr_type == 'color' %}
  <div class="filtr_title ch_title_item">{{ attr.title }}:</div>
  <div class="check_box check_mini check_mini_item">
    {% for option in attr.options %}
      {% get_is_chosen attr.slug option.id extra_product_id as is_chosen %}
      <label data-attr-id="{{ attr.id }}" data-attr-slug="{{ attr.slug }}" data-option-id="{{ option.id }}" for="{{ attr.slug }}_{{ option.id }}"{% if forloop.counter > 4 and not is_chosen %} style="display: none;"{% endif %} class="color_option js-can-be-shown">
        <input class="js-not-checkbox js-attr-checkbox js-attr-color" data-attr-slug="{{ attr.slug }}" data-option-id="{{ option.id }}"{% if choose_option %} data-attr-type="{{ attr.attr_type }}"{% endif %} data-color-id="{{ option.id }}" type="checkbox"{% if is_chosen %} checked="checked"{% endif %} name="{{ attr.slug }}" id="{{ attr.slug }}_{{ option.id }}" value="{{ option.id }}"/>
        {% if option.picture %}
          <span style="background: url('{{ option.detail_picture_url }}'); border: 1px solid #ccc;" title="{{ option.title }}">{{ option.title }}</span>
        {% else %}
          <span style="background-color: {{ option.color }}; border: 1px solid #ccc;" title="{{ option.title }}">{{ option.title }}</span>
        {% endif %}
      </label>
    {% endfor %}
  </div>
  {% if attr.options.count > 4 %}
    <a href="#" class="yet_more js-expand-colors" data-attr-id="{{ attr.id }}">{% trans 'Ещё цвета' %}</a>
  {% endif %}
  {% if attr.price %}
    {% include 'catalog/include/product_attr_extra_price.html' with attr=attr extra_product_id=extra_product_id %}
  {% endif %}
  <div class="clr"></div>


{% elif attr_type == 'style' %}
  <div class="row_chars_item">
    <script type="text/javascript">
    var connector = function(itemNavigation, carouselStage) {
      return carouselStage.jcarousel('items').eq(itemNavigation.index()); 
    }; 
    $(function() {
      var carouselNavigation = $('#check_photo_chars{{ attr.id }}').jcarousel();
      carouselNavigation.jcarousel('items').each(function() { 
      var item = $(this); 
      var target = connector(item, carouselNavigation);
       
      });
      
      $('#l_arr_nom_img_ch{{ attr.id }}').on('jcarouselcontrol:inactive', function() {
        $(this).addClass('inactive'); 
      }
      ).on('jcarouselcontrol:active', function() {
        $(this).removeClass('inactive'); 
      }
      ).jcarouselControl({ target: '-=1' }); 
      
      $('#r_arr_nom_img_ch{{ attr.id }}').on('jcarouselcontrol:inactive', function() {
        $(this).addClass('inactive');
      }
      ).on('jcarouselcontrol:active', function() {
        $(this).removeClass('inactive');
      }
      ).jcarouselControl({ target: '+=1' }); 
    });
    </script>
    <div class="filtr_title ch_title_item">{{ attr.title }}:</div>
    <div class="carousel_chars_check">
    <div class="check_box check_mini check_photo check_photo_chars" id="check_photo_chars{{ attr.id }}">
      <ul>
      {% for option in attr.options %}
        {% get_is_chosen attr.slug option.id extra_product_id as is_chosen %}
        <li>
        {% comment %}
          <span>
          <img src="{{ option|get_photo_url:product }}" title="{{ option.title }}"/>
          </span>
        {% endcomment %}
        <label data-attr-slug="{{ attr.slug }}" for="{{ attr.slug }}_{{ option.id }}" title="{{ option.title }}">
          <input class="js-not-checkbox js-attr-checkbox js-attr-style" data-attr-slug="{{ attr.slug }}" data-option-id="{{ option.id }}"{% if choose_option %} data-attr-type="{{ attr.attr_type }}"{% endif %} type="checkbox"{% if is_chosen %} checked="checked"{% endif %} name="{{ attr.slug }}" id="{{ attr.slug }}_{{ option.id }}" value="{{ option.id }}" />
          <span>
          <img src="{{ option|get_photo_url:product }}" />
          </span>
        </label>
        </li>
      {% endfor %}
      </ul>
    </div>
    <div class="l_arr" id="l_arr_nom_img_ch{{ attr.id }}"><img src="/static/i/arrow_slide.png" /></div>
    <div class="r_arr" id="r_arr_nom_img_ch{{ attr.id }}"><img src="/static/i/arrow_slide.png" /></div>
    </div>
  </div>
  {% with attr.neighbor as attr_n %}
    {% if attr_n and attr_n.attr_type == 'size' and attr_n.id in attrs_ids %}
      {% include 'catalog/include/product_attr.html' with attr=attr_n attr_type='size_neighbor' price=price %}
    {% endif %}
  {% endwith %}
  {% if attr.price %}
    <div class="clr"></div>
    {% include 'catalog/include/product_attr_extra_price.html' with attr=attr extra_product_id=extra_product_id float_none=True %}
  {% endif %}


{% elif attr_type == 'size' %}
  <div class="row_chars_item">
    <div class="filtr_title ch_title_item">{{ attr.title }}:</div>
    <div class="check_box check_size check_mini_item">
      {% for option in attr.options %}
        {% get_is_chosen attr.slug option.id extra_product_id as is_chosen %}
        <label for="{{ attr.slug }}_{{ option.id }}" data-attr-slug="{{ attr.slug }}">
          <input class="js-not-checkbox js-attr-checkbox js-attr-size" data-attr-slug="{{ attr.slug }}" data-option-id="{{ option.id }}"{% if choose_option %} data-attr-type="{{ attr.attr_type }}"{% endif %} type="checkbox"{% if is_chosen %} checked="checked"{% endif %} name="{{ attr.slug }}" id="{{ attr.slug }}_{{ option.id }}" value="{{ option.id }}" />
          <span style="{% if attr.slug == 'diametr' %}font-size: 12px;{% endif %}{% if option.is_one_size %} line-height: 20px;{% endif %}" title="{{ option.title }}">{% if option.is_one_size %}{{ option.title|with_br|safe }}{% else %}{{ option.title }}{% endif %}</span>
        </label>
      {% endfor %}
    </div>
    {% if attr.price %}
      {% include 'catalog/include/product_attr_extra_price.html' with attr=attr extra_product_id=extra_product_id %}
    {% endif %}
  </div>
  <div class="clr"></div>

{% elif attr_type == 'size_neighbor' %}
  <div class="row_chars_item row_chars_mrg">
    <div class="filtr_title ch_title_item">{{ attr.title }}:</div>
    <div class="check_box check_size check_mini_item">
      {% for option in attr.options.all %}
        {% get_is_chosen attr.slug option.id extra_product_id as is_chosen %}
        {% if option.id in attr.options_ids %}
          <label for="{{ attr.slug }}_{{ option.id }}" data-attr-slug="{{ attr.slug }}">
            <input class="js-not-checkbox js-attr-checkbox js-attr-size" data-attr-slug="{{ attr.slug }}" data-option-id="{{ option.id }}"{% if choose_option %} data-attr-type="{{ attr.attr_type }}"{% endif %} type="checkbox"{% if is_chosen %} checked="checked"{% endif %} name="{{ attr.slug }}" id="{{ attr.slug }}_{{ option.id }}" value="{{ option.id }}" />
            <span style="{% if attr.slug == 'diametr' %}font-size: 12px;{% endif %}{% if option.is_one_size %} line-height: 20px;{% endif %}" title="{{ option.title }}">{% if option.is_one_size %}{{ option.title|with_br|safe }}{% else %}{{ option.title }}{% endif %}</span>
          </label>
        {% endif %}
      {% endfor %}
    </div>
    {% if attr.price %}
      {% include 'catalog/include/product_attr_extra_price.html' with attr=attr extra_product_id=extra_product_id %}
    {% endif %}
  </div>
  <div class="clr"></div>

{% endif %}
