{% load i18n %}
{# <div class="window_popup no_float mini_window_popup" id="wishlist" style="display:none;"> #}
<div class="window_popup rows_order_block item_list_popup" id="wishlist" style="display:none;">
  <div class="close_popup js-call-close"><img src="/static/i/close_icon.png" alt="Закрыть" /></div>
  <div class="wrap_window_popup bg_wrapp_window">
    <div class="popup_row">
      <div class="popup_row_wrapp">
        <div class="rows_cut_block">
          
          <div class="rows_block_info">
            <div class="row_info">
              <h2 class="title_block">{% trans "Список желаемых покупок" %} </h2>
            </div>
            
            <div class="js-wishlist-popup-content"></div>
          </div>
          
        </div>
      </div>
    </div>
    
  </div>
</div>