<footer>
  <div class="footer_wrapp">
    <ul class="menu_foot">
      <li class="logo_foot"><a href=""><img src="/static/i/logo.png" alt="МиниБикини" /></a></li>
    </ul>
    
    <div id="foot_menu">
      <a href="#" id="touch-menu-foot">Меню</a>
      <ul>
        <li><a href="">Размеры</a></li>
        <li><a href="">О нас</a></li>
        <li><a href="">Фасоны</a></li>
        <li><a href="">Вопрос-ответ</a></li>
        <li><a href="">Оплата и доставка</a></li>
      </ul>
    </div>
    
    <ul class="menu_foot contacts_foot">
      <li class="bt_phone"><a href="tel:+79164456555">+7 (916) <strong>445-65-55</strong></a></li>
      <li class="bt_req_call"><a href="#"><strong>Обратный звонок</strong></a></li>
    </ul>
  </div>
</footer>
