{% load core_tags %}
{% load i18n %}

<footer>
  <div class="footer_wrapp">
    <ul class="menu_foot">
      <li class="logo_foot"><a href=""><img src="/static/i/logo.png" alt="{% trans 'МиниБикини' %}" /></a></li>
    </ul>
    
    <div id="foot_menu">
      <a href="#" id="touch-menu-foot">Меню</a>
      <ul>
        {% for item in menu.footer %}
          <li><a href="{{ item.link }}" title="{{ item.label }}">{{ item.label }}</a></li>
        {% endfor %}
      </ul>
    </div>
    
    <ul class="menu_foot contacts_foot">
      <li class="bt_phone"><a href="tel:{{ settings.phone|to_phone }}">{{ settings.phone|safe }}</strong></a></li>
      <li class="bt_req_call"><a rel="leanModal1" name="callback" href="#callback"{% if ENABLE_METRICS and settings.ym_code %} onclick="yaCounter26447493.reachGoal('button_callback'); return true;"{% endif %}><strong>{% trans 'Обратный звонок' %}</strong></a></li>
    </ul>
  </div>
</footer>


<!-- высота карточек в каталоге и на всём сайте >>> -->
	<script type="text/javascript" src="/static/js/query.matchHeight.js"></script>
	<script type="text/javascript">
		(function() {
			$(function() {
				var byRow = $('div').hasClass('shell_wrapp');
				$('div.item_list_wrapp').each(function() {
					$(this).children('div.product_list').matchHeight({
						byRow: byRow
					});
				});
			});
		})();
	</script>
<!-- высота карточек в каталоге и на всём сайте <<< -->


<!--callback >>> -->
<div class="window_popap no_float mini_window_popup callback_form" id="callback" style="display:none;">
    <div class="close_popap call_close js-call-close"><img src="/static/i/close_white_45.png" alt="{% trans 'Закрыть' %}"></div>
    <div class="wrap_window_popap bg_wrapp_window">
        <div class="popap_row">
            <div class="popap_row_wrapp">
                <h2>{% trans 'Заказать звонок' %}</h2>
                <p class="call_introtext">{% trans 'Заполните форму, и мы вам перезвоним' %}.</p>
                <div class="row_form_popup">
                    <form class="callBackForm js-callback-form" method="post" action="{% url 'forms:callback' %}">
                        {% csrf_token %}
                        <label for="callback_id_name">
                            <span>{% trans 'Ваше имя' %}:</span>
                            <input type="text" value="{{ profile.name|default_if_none:'' }}" name="name" required id="callback_id_name" class="input_text" />
                        </label>
                        <label for="callback_id_phone">
                            <span>{% trans 'Телефон' %}:</span>
                            <input type="text" value="{{ profile.phone|default_if_none:'' }}" name="phone" required id="callback_id_phone" class="input_text" />
                        </label>
                        <div class="bt_req_call red_bor_butt">
                            <button class="butt_border">{% trans 'Заказать звонок' %}</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>


<!-- логин/регистрация -->

<div class="window_popap" id="auth" style="display: none;">
  <div class="close_popap js-call-close"><img src="/static/i/close_icon.png" alt="Закрыть"></div>
  <div class="wrap_window_popap bg_wrapp_window">
    <div class="popap_row">
      <div class="popap_row_wrapp">
        <h2 class="title_popap">Я уже являюсь <br>клиентом BIKINIMINI</h2>

        <form class="js-auth-form js-auth-login-form" action="{% url 'auth:login' %}" method="post">
          <div class="error-messages"></div>

          <div class="row_form_popup">
            <label class="lbl_box">
              <p>Ваш e-mail</p>
              <input type="email" required="required" value="" name="email" class="input_text">
            </label>
          </div>
          
          <div class="row_form_popup">
            <label class="lbl_box">
              <p>Ваш пароль</p>
              <input type="password" required="required" value="" name="password" class="input_text">
            </label>
          </div>
          
          <div class="row_form_popup">
            <label class="lbl_box check_popap_row">
              <input class="check_form" type="checkbox" name="remember_me">
              <p>Запомнить меня на сайте</p>
            </label>
          </div>
          
          <div class="row_form_popup row_pop_butt">
            <button class="bt_red">Войти</button>
            {# <a href="#">Забыли пароль?</a> #}
          </div>
          
          <div class="row_form_popup">
            <p>Войти при помощи соц. сетей:</p>
            <div class="soc_enter">
              <a href="{% url 'auth:social:fb' %}"><img src="/static/i/soc_face.png" alt="Facebook"></a>
              <a href="{% url 'auth:social:vk' %}"><img src="/static/i/soc_vk.png" alt="ВКонтакте"></a>
              <a href="{% url 'auth:social:gp' %}"><img src="/static/i/soc_gplus.png" alt="Google Plus"></a>
              <a href="{% url 'auth:social:ig' %}"><img src="/static/i/soc_ins.png" alt="Instagram"></a>
            </div>
          </div>

        </form>

      </div>
    </div>
    
    <div class="or_block">или</div>
    
    <div class="popap_row bg_popap">
      <div class="popap_row_wrapp">
        <h2 class="title_popap">Я новый <br>клиент BIKINIMINI</h2>

        <form class="js-auth-form js-auth-registration-form" action="{% url 'auth:registration' %}" method="post">
          <div class="error-messages"></div>

          <div class="row_form_popup">
            <label class="lbl_box">
              <p>Ваш e-mail</p>
              <input type="email" required="required" value="" name="email" class="input_text">
            </label>
          </div>
          
          <div class="row_form_popup">
            <label class="lbl_box">
              <p>Ваш пароль</p>
              <input type="password" required="required" value="" name="password" class="input_text">
            </label>
          </div>
          
          <div class="row_form_popup">
            <label class="lbl_box">
              <p>Ваш пароль ещё раз</p>
              <input type="password" required="required" value="" name="password_repeat" class="input_text">
            </label>
          </div>
          
          <div class="row_form_popup">
            <label class="lbl_box">
              <p>ФИО</p>
              <input type="text" required="required" value="" name="name" class="input_text">
            </label>
          </div>

          <div class="row_form_popup row_pop_butt">
            <button class="bt_red">Далее</button>
          </div>
        </form>
        
      </div>
    </div>
    
  </div>
</div>

{% block popups %}{% endblock %}

<script type="text/javascript" src="/static/js/modal.js"></script>
<script type="text/javascript">
	$(function() {
		$('a[rel*=leanModal1]').leanModal({ top : 200, closeButton: ".js-call-close" });
	});
</script>
<!--callback <<< -->
