{% load i18n %}

<!-- логин/регистрация -->

<!-- кнопки определения пользователя -->

<div class="window_popup_but" id="auth" style="display: none;">
  <div class="close_popup js-call-close"><img src="/static/i/close_icon.png" alt="Закрыть"></div>
  <div class="wrap_window_popup">
    <div class="popup_row_but js-show-popup" data-popup-id="#login">
      <div class="popup_row_wrapp">
        <span class="title_popup_but">{% trans 'Я уже покупал на сайте' %}</span>
      </div>
    </div>
    <div class="popup_row_but js-show-popup" data-popup-id="#registration">
      <div class="popup_row_wrapp">
        <span class="title_popup_but">{% trans 'Я покупаю в первый раз' %}</span>
      </div>
    </div>
  </div>
  <a rel="leanModal1" style="display: none;" href="#login">{% trans 'Я уже покупал на сайте' %}</a>
  <a rel="leanModal1" style="display: none;" href="#registration">{% trans 'Я покупаю в первый раз' %}</a>
</div>


<!-- форма авторизации -->

<div class="window_popup_reg" id="login" style="display: none;">
  <div class="close_popup js-call-close"><img src="/static/i/close_icon.png" alt="Закрыть"></div>
  <div class="wrap_window_popup">
    <div class="popup_row_reg">
      <div class="popup_row_wrapp">
        <p class="popup_back_wrap">
          <span class="js-show-popup popup_back" data-popup-id="#auth">&larr; {% trans 'Шаг назад' %}</span>
          <a rel="leanModal1" style="display: none;" href="#auth">&larr; {% trans 'Шаг назад' %}</a>
        </p>
        <h2 class="title_popup">{% trans 'Я уже являюсь <br>клиентом BIKINIMINI' %}</h2>

        <form class="js-auth-form js-auth-login-form" action="{% url 'auth:login' %}" method="post">
          <div class="error-messages"></div>

          <div class="row_form_popup">
            <label class="lbl_box">
              <p>{% trans 'Ваш e-mail' %}</p>
              <input type="email" required="required" value="" name="email" class="input_text">
            </label>
          </div>
          
          <div class="row_form_popup">
            <label class="lbl_box">
              <p>{% trans 'Ваш пароль' %}</p>
              <input type="password" required="required" value="" name="password" class="input_text">
            </label>
          </div>
          
          <div class="row_form_popup">
            <label class="lbl_box check_popup_row">
              <input class="check_form" type="checkbox" name="remember_me">
              <p>{% trans 'Запомнить меня на сайте' %}</p>
            </label>
          </div>
          
          <div class="row_form_popup row_pop_butt">
            <button class="bt_red">{% trans 'Войти' %}</button>
            <span class="js-show-popup" data-popup-id="#reset_password">{% trans 'Забыли пароль?' %}</span>
            <a rel="leanModal1" style="display: none;" name="reset_password" href="#reset_password">{% trans 'Забыли пароль?' %}</a>
          </div>
          
          <div class="row_form_popup">
            <p>{% trans 'Войти при помощи соц. сетей' %}:</p>
            <div class="soc_enter">
              <a href="{% url 'auth:social:fb' %}"><img src="/static/i/soc_face.png" alt="{% trans 'Facebook' %}"></a>
              <a href="{% url 'auth:social:vk' %}"><img src="/static/i/soc_vk.png" alt="{% trans 'ВКонтакте' %}"></a>
              <a href="{% url 'auth:social:gp' %}"><img src="/static/i/soc_gplus.png" alt="{% trans 'Google Plus' %}"></a>
              {% comment %} <a href="{% url 'auth:social:ig' %}"><img src="/static/i/soc_ins.png" alt="{% trans 'Instagram' %}"></a> {% endcomment %}
            </div>
          </div>

        </form>
      </div>
      </div>
    </div>
 </div>   

<!-- форма регистрации -->

<div class="window_popup_reg" id="registration" style="display: none;">
  <div class="close_popup js-call-close"><img src="/static/i/close_icon.png" alt="Закрыть"></div>
  <div class="wrap_window_popup bg_wrapp_window">
    <div class="popup_row_reg bg_popup">
      <div class="popup_row_wrapp">
        <p class="popup_back_wrap">
          <span class="js-show-popup popup_back" data-popup-id="#auth">&larr; {% trans 'Шаг назад' %}</span>
          <a rel="leanModal1" style="display: none;" href="#auth">&larr; {% trans 'Шаг назад' %}</a>
        </p>
        <h2 class="title_popup">{% trans 'Я новый <br>клиент BIKINIMINI' %}</h2>

        <form class="js-auth-form js-auth-registration-form" action="{% url 'auth:registration' %}" method="post">
          <div class="error-messages"></div>

          <div class="row_form_popup">
            <label class="lbl_box">
              <p>{% trans 'Ваш e-mail' %}</p>
              <input type="email" required="required" value="" name="email" class="input_text">
            </label>
          </div>
          
          <div class="row_form_popup">
            <label class="lbl_box">
              <p>{% trans 'Ваш пароль' %}</p>
              <input type="password" required="required" value="" name="password" class="input_text">
            </label>
          </div>
          
          <div class="row_form_popup">
            <label class="lbl_box">
              <p>{% trans 'Ваш пароль ещё раз' %}</p>
              <input type="password" required="required" value="" name="password_repeat" class="input_text">
            </label>
          </div>
          
          <div class="row_form_popup">
            <label class="lbl_box">
              <p>{% trans 'ФИО' %}</p>
              <input type="text" required="required" value="" name="name" class="input_text">
            </label>
          </div>

          <div class="row_form_popup">
            <label class="lbl_box check_popup_row">
              <input class="check_form" type="checkbox" name="subscription" style="margin-right: 5px;">
              <p style="float: none;">{% trans 'Я хочу получать информацию о скидках и новинках' %}</p>
            </label>
          </div>

          <div class="row_form_popup">
            <label class="lbl_box check_popup_row">
              <input class="check_form" type="checkbox" name="agree" style="margin-right: 5px;" required="required">
              <p style="float: none;">{% trans 'Я cогласен на обработку персональных данных' %} <a href="agree/" target="_blank">{% trans 'Читать' %}</a></p>
            </label>
          </div>

          <div class="row_form_popup row_pop_butt">
            <button class="bt_red">{% trans 'Далее' %}</button>
          </div>
        </form>
        
        <div class="row_form_popup">
          <p>{% trans 'Войти при помощи соц. сетей' %}:</p>
          <div class="soc_enter">
            <a href="{% url 'auth:social:fb' %}"><img src="/static/i/soc_face.png" alt="{% trans 'Facebook' %}"></a>
            <a href="{% url 'auth:social:vk' %}"><img src="/static/i/soc_vk.png" alt="{% trans 'ВКонтакте' %}"></a>
            <a href="{% url 'auth:social:gp' %}"><img src="/static/i/soc_gplus.png" alt="{% trans 'Google Plus' %}"></a>
            {% comment %} <a href="{% url 'auth:social:ig' %}"><img src="/static/i/soc_ins.png" alt="{% trans 'Instagram' %}"></a> {% endcomment %}
          </div>
        </div>

      </div>
    </div>
  </div>
</div>
