{% load i18n core_tags %}
{% get_current_language as CURRENT_LANGUAGE %}
{% get_current_path as CURRENT_PATH %}
{% get_translated_path as TRANSLATED_PATH %}

<div id="touch_menu">
  <div class="lang_head lng_header">
    <a href="#" onclick="return false;" class="lang_head_tit">{% trans 'Язык' %}: {{ LANGUAGES_DICT|get_value:CURRENT_LANGUAGE|slice:':3'|upper }}<img src="/static/i/blank.gif" onclick="nodeExpand(19860001,0)" id="img_19860001"></a>
    <ul id="tb_19860001" style="display: none;">
      {% for lang_code, lang_name in LANGUAGES %}
        <form action="{% url 'set_language' %}" method="post" id="i18n_{{ lang_code }}1">
          {% csrf_token %}
          <input name="next" type="hidden" value="{% get_translated_path lang=lang_code %}" />
          <input name="language" type="hidden" value="{{ lang_code }}" />
        </form>
        <li>{% if CURRENT_LANGUAGE == lang_code %}<img src="/static/i/arrow_list.png">{{ lang_name }}{% else %}<a href="#" onClick="document.getElementById('i18n_{{ lang_code }}1').submit()">{{ lang_name }}</a>{% endif %}</li>
      {% endfor %}
    </ul>
  </div>
  
  <div id="logo_mini"><a href="/" title="МиниБикини"><img src="/static/i/logo.png" alt="МиниБикини" /></a></div>
  <a href="#" id="touch-menu-top">Меню</a>
</div>

<div class="menu_top_line_wrapp">
  <div class="logo"><a href="/" title="МиниБикини"><img src="/static/i/logo.png" alt="МиниБикини" /></a></div>
  
  <ul class="cat_row_top">
    <li><a href="{% url 'men' %}" title="Мужчинам">Мужчинам</a></li>
    <li><a href="{% url 'women' %}" title="Женщинам">Женщинам</a></li>
  </ul>
  
  <ul class="cat_row_top cat_row_top2">
    {% for item in menu.header %}
      <li><a href="{{ item.link }}" title="{{ item.label }}">{{ item.label }}</a></li>
    {% endfor %}
  </ul>
  <div class="clr clr_mrgn"></div>
  <div class="list_top_menu_wrapp">
    <ul class="list_menu_lev1">
      <li><a href="#">Подарочный сертификат</a></li>
      <li><a href="{% url 'blog:home' %}"><img src="/static/i/logo_mini.png" alt="desinger" />desinger</a></li>
      <li><a href="{% url 'videos' %}">Видео</a></li>
      <li><a href="#" >Список желаемых покупок&nbsp;&nbsp;<img src="/static/i/desir.png" alt="" />&nbsp;&nbsp;<span class="disc_number">3</span></a></li>
    </ul>
    <ul class="list_menu_lev1 list_menu_lev2 js-header-menu">
      <li class="lang_head">
        <a href="#" onclick="return false;" class="lang_head_tit">{% trans 'Язык' %}: {{ LANGUAGES_DICT|get_value:CURRENT_LANGUAGE|slice:':3'|upper }}<img src="/static/i/blank.gif" onClick="nodeExpand(198600,0)"  id="img_198600"></a>
        
        <ul id="tb_198600" style="display:none">
          {% for lang_code, lang_name in LANGUAGES %}
            <form action="{% url 'set_language' %}" method="post" id="i18n_{{ lang_code }}">
              {% csrf_token %}
              <input name="next" type="hidden" value="{% get_translated_path lang=lang_code %}" />
              <input name="language" type="hidden" value="{{ lang_code }}" />
            </form>
            <li>{% if CURRENT_LANGUAGE == lang_code %}<img src="/static/i/arrow_list.png">{{ lang_name }}{% else %}<a href="#" onClick="document.getElementById('i18n_{{ lang_code }}').submit()">{{ lang_name }}</a>{% endif %}</li>
          {% endfor %}
        </ul>
      </li>

      <script type="text/javascript">
        function nodeExpand(nodeId, level) {
          var d = document;
          var img = 'img_' + nodeId;
          var tb = 'tb_' + nodeId;
          if(d.getElementById(tb).style.display == 'none') {
            if(level == 0) {d.getElementById(img).src = '/static/i/blank.gif';}
            if(level == 1) {d.getElementById(img).src = '/static/i/blank.gif';}
            d.getElementById(tb).style.display = '';
          }
          else {
            if(level == 0) {d.getElementById(img).src = '/static/i/blank.gif';}
            if(level == 1) {d.getElementById(img).src = '/static/i/blank.gif';}
            d.getElementById(tb).style.display = 'none';
          }
        }
      </script>
      <li class="js-auth-switch"{% if not request.user.is_anonymous %} style="display: none;"{% endif %}><a rel="leanModal1" href="#auth" href="#">Вход / регистрация</a></li>
      <li class="js-auth-switch"{% if request.user.is_anonymous %} style="display: none;"{% endif %}><a href="{% url 'profile' %}">Мой профиль</a></li>
      <li class="js-auth-switch"{% if request.user.is_anonymous %} style="display: none;"{% endif %}><a href="#">Моё избранное</a></li>
      <li class="js-auth-switch"{% if request.user.is_anonymous %} style="display: none;"{% endif %}><a href="{% url 'profile' %}?tab=orders">История покупок</a></li>
      <li class="js-auth-switch"{% if request.user.is_anonymous %} style="display: none;"{% endif %}><a href="{% url 'auth:logout' %}">Выход</a></li>
    </ul>
  </div>
</div>
