{% load core_tags %}
<header style="background-image: url({{ promo_banner.get_cover_url }});">
  <div class="menu_top_line">
    {% include 'blocks/header_menu.html' %}
    
    <div class="clr touch_clr"></div>
    
    <ul class="bt_contacts">
      <li class="bt_phone"><a href="tel:{{ settings.phone|to_phone }}">{{ settings.phone|safe }}</a></li>
      <li class="bt_soc"><a href="#"><img src="/static/i/soc_viber.png" alt="Viber" />Viber</a></li>
      <li class="bt_soc"><a href="#"><img src="/static/i/soc_whatsapp.png" alt="Whatsapp" />Whatsapp</a></li>
      <li class="clr_butt_head clr_butt_head0"></li>
      
      <li class="bt_req_call"><a rel="leanModal1" name="callback" href="#callback"><strong>Заказать звонок</strong></a></li>
      <li class="clr_butt_head"></li>
      <li class="bt_cart"><a href="{% url 'cart' %}"><img src="/static/i/cart_icon.png" alt="Корзина" /><strong>Корзина</strong> <span title="Кол-во" class="js-cart-count">{{ cart.count }}</span></a></li>
    </ul>
    
    <div class="clr"></div>
    
    <!--\\\-->
      <div class="text_head_block">
        {% if promo_banner.description_h1 %}
          <h1><em>{{ promo_banner.description_h1 }}</em></h1>
        {% endif %}
        {% if promo_banner.description_picture %}
          <img src="{{ promo_banner.description_picture.url }}"{% if promo_banner.description_picture_alt %} alt="{{ promo_banner.description_picture_alt }}"{% endif %}/>
        {% endif %}
        {% if promo_banner.description_p %}
          <p>
            <em>
              {{ promo_banner.description_p|linebreaksbr }}
            </em>
          </p>
        {% endif %}        
        <a href="{{ promo_banner.link }}" title="{{ promo_banner.link_text }}" target="_blank" class="text_link_cat">{{ promo_banner.link_text }}</a>
      </div>
      {% comment %}
        <div class="arrow_text_head">
          <a href="{{ promo_banner.link }}" title="{{ promo_banner.link_text }}" target="_blank" class="link_arrow_text">{{ promo_banner.link_text }}</a>
        </div>
      {% endcomment %}
    <!--///-->

  </div>
  
  {# <h3 class="sl_text" style="background-image: url(/static/images/sl_text.png);">Дерзко Стильно Провокационно</h3> #}
  <h3 class="sl_text" style="background-image: url(/static/images/re.jsx1.png);">Дерзко Стильно Провокационно</h3>
  {% with promo_banner.girl as girl %}
    {% if girl %}
      <span class="grl_head" style="background-image: url({{ girl.get_photo.url }}); height: {{ girl.get_photo.height }}px; width: {{ girl.get_photo.width }}px; margin-left: {{ girl.margin_left }}px;"></span>
    {% else %}
      <span class="grl_head" style="background-image: url(/static/images/grl_head.png)"></span>
    {% endif %}
  {% endwith %}
</header>
