{% load core_tags %}
<header style="background-image: url(/static/images/bg_header.jpg);">
  <div class="menu_top_line">
    {% include 'blocks/header_menu.html' %}
    
    <div class="clr touch_clr"></div>
    
    <ul class="bt_contacts">
      <li class="bt_phone"><a href="tel:{{ settings.phone|to_phone }}">{{ settings.phone|safe }}</strong></a></li>
      <li class="bt_soc"><a href="#"><img src="/static/i/soc_viber.png" alt="Viber" />Viber</a></li>
      <li class="bt_soc"><a href="#"><img src="/static/i/soc_whatsapp.png" alt="Whatsapp" />Whatsapp</a></li>
      <li class="clr_butt_head clr_butt_head0"></li>
      
      <li class="bt_req_call"><a rel="leanModal1" name="callback" href="#callback"><strong>Заказать звонок</strong></a></li>
      <li class="clr_butt_head"></li>
      <li class="bt_cart"><a href="#"><img src="/static/i/cart_icon.png" alt="Корзина" /><strong>Корзина</strong> <span title="Кол-во">4</span></a></li>
    </ul>
    <div class="clr"></div>
  </div>
</header>
