<div class="item_list_wrapp" itemscope="" itemtype="http://schema.org/ItemList">
  {% for i in 'xxxxxxxx' %}
    <div class="product_list">
      <div class="photo_list"><a href=""><img src="/static/images/catalog/pic{{ forloop.counter }}.jpg" alt="" /></a></div>
      <h3><a href="">Стринги DRIVE LUX RED</a></h3>
      <h4>Яркие микро стринги</h4>
      <div class="product_price">4300<abbr title="руб">р.</abbr></div>
      <a href="#" class="to_cart_list">В корзину</a>
    </div>
  {% endfor %}
</div>
