<div class="window_popap rows_order_block">
  <div class="close_popap"><img src="/static/i/close_icon.png" alt="Закрыть" /></div>
  <div class="wrap_window_popap bg_wrapp_window">
    <div class="popap_row">
      <div class="popap_row_wrapp">
        <form action="" class="rows_cut_block">
          
          <div class="rows_block_info">
            <div class="row_info">
              <h2 class="title_block">Выбор способа доставки</h2>
              <div class="rows_radio_block">
                <label for="radio_id_1" class="radio_input">
                  <div class="shell_cell_row">
                    <div class="input_cell"><input type="radio" name="dostavka" value="kurer_mos" id="radio_id_1" class="check_radio"></div>
                    <p class="dott_cell"><strong><span>Курьером Москва и МО</span></strong><span class="val_radio_row">Стоимость : 500 руб.</span></p>
                  </div>
                </label>
                <label for="radio_id_2" class="radio_input">
                  <div class="shell_cell_row">
                    <div class="input_cell"><input type="radio" name="dostavka" value="SDEK" id="radio_id_2" class="check_radio"></div>
                    <p class="dott_cell"><strong><span>Службой доставки СДЕК</span></strong><span class="val_radio_row">Стоимость : 200 руб.</span></p>
                  </div>
                </label>
                <label for="radio_id_3" class="radio_input">
                  <div class="shell_cell_row">
                    <div class="input_cell"><input type="radio" name="dostavka" value="SDEK" id="radio_id_3" class="check_radio"></div>
                    <p class="dott_cell"><strong><span>Самовывоз м. Таганская</span></strong><span class="val_radio_row">Стоимость : 0 руб.</span></p>
                  </div>
                </label>
                
                <label for="radio_id_4" class="radio_input">
                  <div class="shell_cell_row">
                    <div class="input_cell"><input type="radio" name="dostavka" value="kurer_rus" id="radio_id_4" class="check_radio"></div>
                    <p class="dott_cell"><strong><span>Курьером по России</span></strong><span class="val_radio_row">Стоимость : 1000 руб.</span></p>
                  </div>
                </label>
                
              </div>
            </div>
            
            <div class="row_info">
              <h2 class="title_block">Выбор способа оплаты</h2>
              <div class="rows_radio_block">
                <label for="radio_id_5" class="radio_input">
                  <div class="shell_cell_row">
                    <div class="input_cell"><input type="radio" name="money" value="nal" id="radio_id_5" class="check_radio"></div>
                    <p><strong class="no_dash"><span>Наличными при получении</span></strong></p>
                  </div>
                </label>
                <label for="radio_id_6" class="radio_input">
                  <div class="shell_cell_row">
                    <div class="input_cell"><input type="radio" name="money" value="InterKassa" id="radio_id_6" class="check_radio"></div>
                    <p><strong class="no_dash"><span>Оплатить через InterKassa.com</span></strong></p>
                  </div>
                </label>
              </div>
            </div>
          </div>
          
          <div class="row_form_popup row_pop_butt">
            <button class="bt_red">Далее</button>
          </div>
          
        </form>
      </div>
    </div>
    
  </div>
</div>