<div class="window_popap after_popap">
  <div class="close_popap"><img src="/static/i/close_icon.png" alt="Закрыть" /></div>
  <div class="wrap_window_popap bg_wrapp_window">
    <div class="popap_row">
      <div class="popap_row_wrapp">
        <h2 class="title_string">Ваш заказ принят!</h2>
        <div class="content_pup">
          <div class="p_pup">Итоговая стоимость заказа:</div> 
          <div class="product_price upper_price price_strong">10 000<abbr title="руб">руб.</abbr></div>

          <p>В ближайшее время с вами всяжутся 
          менеджеры отдела доставки для уточнения 
          деталей заказа</p>

          <p>Если у вас возникли какие либо вопросы,
          вы можете связаться с нами по телефону  
          <strong class="pup_strong">+7 (916) 445 -65 -55</strong></p>

          <p>С уважннием, администация bikinimini.ru</p>
        </div>
      </div>
    </div>
    
    <div class="popap_row bg_popap">
      <div class="popap_row_wrapp">
        <h2 class="title_string">Специальное предложение <br />Только для Вас!</h2>
        <h3 class="h3_pup">Добавьте еще одну модель </h3>
        
        <div class="pup_details_item">
          <div class="details_item_photo">
            <div class="photo_list">
              <a href=""><img src="/static/images/details/photo_detail_1.jpg" alt=""></a>
            </div>
            <abbr class="sale_details">-50%</abbr>
          </div>
          
          <div class="details_item_content">
            <h3><a href=""> Микро Стринги DRIVE</a></h3>
            <h4>Яркие микро стринги</h4>
            <div class="txt_price_to">Цена для вас:</div>
            
            <div class="product_price sale_price"><s>3800</s><abbr title="руб">р.</abbr></div>
            <div class="product_price">3300<abbr title="руб">р.</abbr></div>
            
            <div class="clr"></div>
            <a href="#" class="to_cart_list">В корзину</a>
          </div>
          
        </div>
        
        <div class="pup_details_txt">
          <strong>Примечание:</strong> Скидкой можете воспользоватся только вы, 
          перейдя по ссылке с данной страницы, если вы покинете данную старницу, скидка более не распространяется.
        </div>
        
      </div>
    </div>
  </div>
</div>