<div class="window_popap rows_order_block item_list_popup">
  <div class="close_popap"><img src="/static/i/close_icon.png" alt="Закрыть" /></div>
  <div class="wrap_window_popap bg_wrapp_window">
    <div class="popap_row">
      <div class="popap_row_wrapp">
        <div action="" class="rows_cut_block">
          
          <div class="rows_block_info">
            <div class="row_info">
              <h2 class="title_block">Список желаемых покупок</h2>
            </div>
            
            <div class="row_info">
              <div class="item_list_wrapp">
                <div class="product_list">
                  <div class="photo_list"><a href=""><img src="/static/images/catalog/pic1.jpg" alt=""></a></div>
                  <h3><a href="">Стринги DRIVE LUX RED</a></h3>
                  <h4>Яркие микро стринги</h4>
                  <div class="product_price">4300<abbr title="руб">р.</abbr></div>
                  <a href="#" class="to_cart_list">В корзину</a>
                </div>
                <div class="product_list">
                  <div class="photo_list"><a href=""><img src="/static/images/catalog/pic2.jpg" alt=""></a></div>
                  <h3><a href="">Стринги DRIVE LUX RED</a></h3>
                  <h4>Яркие микро стринги</h4>
                  <div class="product_price">4300<abbr title="руб">р.</abbr></div>
                  <a href="#" class="to_cart_list">В корзину</a>
                </div>
                <div class="product_list">
                  <div class="photo_list"><a href=""><img src="/static/images/catalog/pic3.jpg" alt=""></a></div>
                  <h3><a href="">Стринги DRIVE LUX RED</a></h3>
                  <h4>Яркие микро стринги</h4>
                  <div class="product_price">4300<abbr title="руб">р.</abbr></div>
                  <a href="#" class="to_cart_list">В корзину</a>
                </div>
                <div class="product_list">
                  <div class="photo_list"><a href=""><img src="/static/images/catalog/pic4.jpg" alt=""></a></div>
                  <h3><a href="">Стринги DRIVE LUX RED</a></h3>
                  <h4>Яркие микро стринги</h4>
                  <div class="product_price">4300<abbr title="руб">р.</abbr></div>
                  <a href="#" class="to_cart_list">В корзину</a>
                </div>
                <div class="product_list">
                  <div class="photo_list"><a href=""><img src="/static/images/catalog/pic5.jpg" alt=""></a></div>
                  <h3><a href="">Стринги DRIVE LUX RED</a></h3>
                  <h4>Яркие микро стринги</h4>
                  <div class="product_price">4300<abbr title="руб">р.</abbr></div>
                  <a href="#" class="to_cart_list">В корзину</a>
                </div>
                <div class="product_list">
                  <div class="photo_list"><a href=""><img src="/static/images/catalog/pic6.jpg" alt=""></a></div>
                  <h3><a href="">Стринги DRIVE LUX RED</a></h3>
                  <h4>Яркие микро стринги</h4>
                  <div class="product_price">4300<abbr title="руб">р.</abbr></div>
                  <a href="#" class="to_cart_list">В корзину</a>
                </div>
              </div>
            </div>
            <br />
            <div style="text-align:center;"><a class="bt_red bt_list_products" href="#">Перейти на страницу желаемых покупок</a></div>
          </div>
          
        </div>
      </div>
    </div>
    
  </div>
</div>