<div class="window_popap no_float mini_window_popup">
  <div class="close_popap"><img src="/static/i/close_icon.png" alt="Закрыть" /></div>
  <div class="wrap_window_popap bg_wrapp_window">
    <div class="popap_row">
      <div class="popap_row_wrapp">
        <h2 class="title_popap">Заказ успешно <br />оформлен</h2>
        <div class="row_form_popup">
          <p><strong>Заказ №:</strong><span>224 1567</span></p>
          <p><strong>На сумму:</strong><span>5 000р.</span></p>
          <p><strong>Способ получения:</strong><span>Самовывоз</span></p>
        </div>
      </div>
    </div>
  </div>
</div>