<h3><span style="color:#c0392b">WICHTIG! <!-- span--> <!-- h3--> </span></h3>

<p><span style="color:#c0392b">Unterw&auml;sche, die Unterseite der Badeanz&uuml;ge sowie einteilige Badeanz&uuml;ge k&ouml;nnen nicht umgetauscht und zur&uuml;ckgegeben werden! </span><!-- span--> <!-- p--></p>

<div class="wrap-accordion" uk-accordion="multiple: true">
    <div class="parent">
     <a class="uk-accordion-title" href="#">
       <div class="tit"><h2>Versandkosten <!-- h2--></h2></div><div><img src="/static/i/dc.svg"></div>
     </a>

     <div class="uk-accordion-content">
        <h3>Der Preis f&uuml;r den Lieferservice wird unter Ber&uuml;cksichtigung mehrerer Parameter berechnet: <!-- h3--></h3>

        <ul>
            <li>Ort der Abrechnungen von Absender und Empf&auml;nger (das gesamte Territorium Russlands und des Auslandes ist in Tarifzonen unterteilt); <!-- li--></li>
            <li>Versandgewicht <!-- li--></li>
            <li>Das Vorhandensein von zus&auml;tzlichen kostenpflichtigen Diensten und Dienstleistungen (Nachnahme, Versicherung, Zolldienste). <!-- li--> <!-- ul--></li>
        </ul>

        <h3>Lieferung in Moskau <!-- h3--></h3>

        <ul>
            <li>Versand auf eigene Kosten - kostenlos <!-- li--></li>
            <li>Kurier Express - 1 Tag, 7 $. <!-- li--> <!-- ul--></li>
        </ul>

        <h3>Lieferung in der Region Moskau <!-- h3--></h3>

        <ul>
            <li>Versand auf eigene Kosten - jederzeit ohne Ruhetag m. Pavaletskaya<!-- li--></li>
            <li>Kurier Express - 1 Tag, ab 9 $. <!-- li--> <!-- ul--></li>
        </ul>

        <h3>Lieferung in ganz Russland <!-- h3--></h3>

        <ul>
            <li>Kurier Express - 1-3 Tage, ab 11 $. <!-- li--></li>
            <li>EMS T&uuml;rlieferdienst - 1-3 Tage. 16 $ <!-- li--></li>
            <li>Mit der russischen Post an die n&auml;chste Post 3-7 Tage 8 $. <!-- li--> <!-- ul--></li>
        </ul>

        <h3>Lieferung in die GUS-L&auml;nder <!-- h3--></h3>

        <ul>
            <li>Russische Post - 1-5 Tage 8 $. <!-- li--> <!-- ul--></li>
        </ul>

        <h3>Lieferung in andere L&auml;nder der Welt <!-- h3--></h3>

        <ul>
            <li>Mail-Service - ab 20 USD. <!-- li--></li>
            <li>Mailservice Express - 1-5 Tage - ab 40 USD. <!-- li--> <!-- ul--></li>
        </ul>
     </div>
    </div>

    <div class="parent">
     <a class="uk-accordion-title" href="#">
       <div class="tit"><h2>Lieferzeit <!-- h2--></h2></div><div><img src="/static/i/dc.svg"></div>
     </a>

     <div class="uk-accordion-content">
        <p>Die Bestellung wird innerhalb von 4 Werktagen erstellt. Das Paket beginnt sofort, nachdem Sie die Bestellung best&auml;tigt haben. Als n&auml;chstes wird die Bestellung mit der von Ihnen gew&auml;hlten Methode versandt. Wenn Ihre Bestellung an einem Wochenende, an Feiertagen oder au&szlig;erhalb der Gesch&auml;ftszeiten aufgegeben wurde, wird sie am n&auml;chsten Gesch&auml;ftstag versandt. Erstklassige Pakete werden von Dienstag bis Freitag (an Werktagen) w&auml;hrend der &Ouml;ffnungszeiten der Post&auml;mter per russischer Post versandt. <!-- P--></p>

        <h3>Abholung <!-- h3--></h3>

        <ul>
            <li>Versand auf eigene Kosten - jederzeit ohne Ruhetag m. Taganskaya <!-- li--> <!-- ul--></li>
        </ul>

        <h3>Kurierzustellung des Gesch&auml;fts <!-- h3--></h3>

        <ul>
            <li>Kurier Express - 1-3 Tage <!-- li--> <!-- ul--></li>
        </ul>

        <h3>DHL-Versandunternehmen <!-- h3--></h3>

        <ul>
            <li>Per Kurier in die Welt: 2-6 Werktage <!-- li--> <!-- ul--></li>
        </ul>

        <h3>EMS-Kurierdienst <!-- h3--></h3>

        <ul>
            <li>Per Kurier in Russland: 3-7 Werktage <!-- li--></li>
            <li>Weltweit per Kurier: 7-14 Werktage <!-- li--> <!-- ul--></li>
        </ul>

        <h3>Post von Russland <!-- h3--></h3>

        <ul>
            <li>Die Lieferzeit betr&auml;gt 7-12 Werktage. <!-- li--> <!-- ul--></li>
        </ul>
     </div>
    </div>

    <div class="parent">
     <a class="uk-accordion-title" href="#">
       <div class="tit"><h2>Zahlungsmethoden <!-- h2--></h2></div><div><img src="/static/i/dc.svg"></div>
     </a>

     <div class="uk-accordion-content">
        <ul>
            <li>Bei Bestellung eines Filialkuriers bei Erhalt in bar <!-- li--></li>
        </ul>

        <p>Zahlung vor Ort mit Visa, MasterCard / Maestro, American Express und MIR-Karten <!-- li--> <!-- ul--></p>
     </div>
    </div>

    <div class="parent">
     <a class="uk-accordion-title" href="#">
       <div class="tit"><h2>Auftragsverfolgung <!-- h2--></h2></div><div><img src="/static/i/dc.svg"></div>
     </a>

     <div class="uk-accordion-content">
        <p>Nach der Bezahlung der Bestellungen auf der Website https://bikinimini.ru/ generiert unsere Verkaufsabteilung Bestellungen f&uuml;r den Versand. Nachdem Ihre Bestellung an den Kurierdienst &uuml;bergeben oder per russischer Post versandt wurde, erhalten Sie eine E-Mail an Ihre E-Mail-Adresse mit einer Sendungsnummer, mit der Sie die Bewegung Ihrer Bestellung verfolgen k&ouml;nnen. <!-- P--></p>

        <h3>EMS-Kurierdienst <!-- h3--></h3>

        <p>Verfolgen Sie die Bestellung: https://www.pochta.ru/emspost <!-- p--></p>

        <h3>DHL-Kurierdienst <!-- h3--></h3>

        <p>Verfolgen Sie die Bestellung: https://www.dhl.ru/ru/express/tracking.html <!-- p--></p>

        <h3>Post von Russland <!-- h3--></h3>

        <p>Verfolgen Sie die Bestellung: https://www.pochta.ru/tracking <!-- p--></p>

        <p>* Wenn Sie Ihre Bestellung nicht innerhalb von 30 Tagen nach Erhalt der Tracknummer erhalten haben, kontaktieren Sie uns bitte per E-Mail bikinimini@inbox.ru <!-- p--></p>

        <h2>Versand auf eigene Kosten in Moskau <!-- h2--></h2>

        <p>F&uuml;r Moskauer ist die Abholung (kostenlos) an folgender Adresse m&ouml;glich: Metro Paveletskaya, 3. Paveletsky-Stra&szlig;e, Haus 3, Apartments 20, Ausstellungsraum &#39;Bikinimini @ <!-- p--></p>

        <p>Betriebsart: Rund um die Uhr, nach telefonischer Vereinbarung. Nachdem Sie die Bestellung auf eigene Kosten bei Shipment aufgegeben und bezahlt haben, k&ouml;nnen Sie uns unter bikinimini@inbox.ru schreiben oder uns unter der Telefonnummer +7 (916) 445-65-55 kontaktieren, um das Ausstellungsdatum des zu vereinbaren Bestellung. <!-- p--></p>
     </div>
    </div>

    <div class="parent">
     <a class="uk-accordion-title" href="#">
       <div class="tit"><h2>Zur&uuml;ck <!-- h2--></h2></div><div><img src="/static/i/dc.svg"></div>
     </a>

     <div class="uk-accordion-content">
        <h3><span style="color:#c0392b">WICHTIG! <!-- span--> <!-- h3--> </span></h3>

        <p><span style="color:#c0392b">Unterw&auml;sche, die Unterseite der Badeanz&uuml;ge sowie einteilige Badeanz&uuml;ge k&ouml;nnen nicht umgetauscht und zur&uuml;ckgegeben werden! </span><!-- span--> <!-- p--></p>

        <ul>
            <li>Sobald wir Ihre Ware erhalten haben und sicherstellen, dass sie den Bedingungen der R&uuml;cksendung entspricht, stellen wir Ihnen eine R&uuml;ckerstattung aus. <!-- li--></li>
            <li>Wenn die Waren auf der Website mit Kreditkarte oder anderen Online-Zahlungsmethoden bezahlt wurden, wird das Guthaben f&uuml;r die Waren auf dieselbe Weise auf dasselbe Konto zur&uuml;ckerstattet. <!-- li--></li>
            <li>Bitte beachten Sie, dass der Geldeingang ab dem Datum des Wareneingangs im Lager bis zu 10 Werktage dauern kann. <!-- li--> <!-- ul--></li>
        </ul>
     </div>
    </div>
</div>
