<h3><span style="color:#c0392b"><strong>ВАЖНО!</strong></span></h3>

<p><span style="color:#c0392b">Нижнее белье, низ от купальников, а также слитные купальники <strong>обмену и возврату не подлежат</strong>!</span></p>

<div class="wrap-accordion" uk-accordion="multiple: true">
    <div class="parent">
     <a class="uk-accordion-title" href="#">
       <div class="tit"><h2>Стомость доставки</h2></div><div><img src="/static/i/dc.svg"></div>
     </a>

     <div class="uk-accordion-content">
        <h3>Цена услуги доставки рассчитывается с учетом нескольких параметров:&nbsp;</h3>

        <ul>
            <li>Местонахождение населенных пунктов отправителя и получателя (вся территория России и зарубежья разделена на тарифные зоны);&nbsp;</li>
            <li>Вес отправления;</li>
            <li>Наличие дополнительных платных услуг и сервисов (страхование, таможенные услуги).&nbsp;</li>
        </ul>

        <h3>Доставка по Москве</h3>

        <ul>
            <li><strong>Самовывоз</strong> - бесплатно</li>
            <li><strong>Курьером экспресс - </strong>1 день , 400 руб.</li>
        </ul>

        <h3>Доставка по Московской области</h3>

        <ul>
            <li><strong>Самовывоз</strong> - в любое время без выходных м. Павелецкая</li>
            <li><strong>Курьером экспресс - </strong>1 день , от 600 руб.</li>
        </ul>

        <h3>Доставка по России</h3>

        <ul>
            <li><strong>Курьером экспресс - </strong>1-3 дня , от 700 руб.</li>
            <li><strong>EMS</strong> служба доставки до двери - 1-3 дня. 1000 руб.</li>
            <li><strong>Почтой России</strong> до ближайшего почтового отделения 3-7 дней 500 руб.</li>
        </ul>

        <h3>Доставка в страны СНГ</h3>

        <ul>
            <li><strong>Почтой России </strong>- 1-5 дней 500 руб.</li>
        </ul>

        <h3>Доставка в другие страны мира</h3>

        <ul>
            <li><strong>Почтовый сервис</strong> - 1250 руб.</li>
            <li><strong>Почтовый сервис экспресс</strong>&nbsp; 1-5 дней- от 2500 руб.</li>
        </ul>
     </div>
    </div>

    <div class="parent">
     <a class="uk-accordion-title" href="#">
       <div class="tit"><h2>Время доставки</h2></div><div><img src="/static/i/dc.svg"></div>
     </a>

     <div class="uk-accordion-content">
        <p>Заказ формируется в течении <strong>4 рабочих дней</strong>. Комплектация начинается сразу после подтверждения вами заказа. Далее заказ отправляется выбранным вами способом.</p>

        <p>Если ваш заказ был оформлен в выходной или праздничный день или в нерабочее время - он будет отправлен в ближайший рабочий день.<br />
        Отправка посылок первого класса Почтой России осуществляется со вторника по пятницу (в рабочие дни) в часы работы почтовых отделений.</p>

        <h3>Самовывоз</h3>

        <ul>
            <li><strong>Самовывоз</strong> - в любое время без выходных м. Таганская</li>
        </ul>

        <h3>Курьерская доставка магазина</h3>

        <ul>
            <li><strong>Курьером экспресс - </strong>1-3 дня</li>
        </ul>

        <h3>Транспортная компания DHL</h3>

        <ul>
            <li><strong>Курьером по миру</strong>: 2-6 рабочих дней</li>
        </ul>

        <h3>Курьерская служба EMS</h3>

        <ul>
            <li>Курьером по России: 3-7 рабочих дней</li>
            <li>Курьером по миру: 7-14 рабочих дней</li>
        </ul>

        <h3>Почта России</h3>

        <ul>
            <li>&nbsp;Срок доставки 7-12 рабочих дней.</li>
        </ul>
     </div>
    </div>

    <div class="parent">
     <a class="uk-accordion-title" href="#">
       <div class="tit"><h2>Способы оплаты</h2></div><div><img src="/static/i/dc.svg"></div>
     </a>

     <div class="uk-accordion-content">
        <ul>
            <li>Наличными при получени, при заказе курьера магазина</li>
            <li>Оплата на сайте картами Visa, MasterCard/Maestro, American Express , МИР</li>
        </ul>
     </div>
    </div>

    <div class="parent">
     <a class="uk-accordion-title" href="#">
       <div class="tit"><h2>Отслеживание заказа</h2></div><div><img src="/static/i/dc.svg"></div>
     </a>

     <div class="uk-accordion-content">
        <p>После оплаты заказов на сайте https://bikinimini.ru/ наш отдел продаж формирует заказы на отправку. После того как ваш заказ будет передан курьерской службе или отправлен Почтой России - Вы получите электронное письмо на ваш e-mail адрес с трек-номером, по которому Вы сможете отслеживать пути&nbsp;перемещения Вашего заказа.&nbsp;</p>

        <p><strong>Курьерская служба EMS</strong></p>

        <p>Отследить заказ:&nbsp; <a href="https://www.pochta.ru/emspost rel="> https://www.pochta.ru/emspost </a></p>

        <p><strong>Курьерская служба DHL</strong></p>

        <p>Отследить заказ:&nbsp;<a href="https://www.dhl.ru/ru/express/tracking.html rel=">https://www.dhl.ru/ru/express/tracking.html</a></p>

        <p><strong>Почта России</strong></p>

        <p>Отследить заказ:<a href="https://www.pochta.ru/emspost">https://www.pochta.ru/tracking</a></p>

        <p>* Если Вы не получили свой заказ в течение 30 дней после получения трек-номера, пожалуйста, свяжитесь с нами по почте bikinimini@inbox.ru</p>

        <h2>Самовывоз в г. Москва</h2>

        <p>Для москвичей доступен самовывоз (бесплатно) по адресу: м. Павелецкая , 3-й Павелецкий проезд , дом 3 , аппартаменты 20, шоу рум &quot;Bikinimini&quot;</p>

        <p>Режим работы: Круглосуточно, по предварительному согласованию по телефону. После того, как Вы оформили и оплатили заказ с доставкой &laquo;Самовывоз&raquo;, Вы можете написать нам на почту bikinimini@inbox.ru&nbsp; или связаться по номеру телефона +7 (916) 445-65-55 для согласования даты выдачи заказа.</p>
     </div>
    </div>

    <div class="parent">
     <a class="uk-accordion-title" href="#">
       <div class="tit"><h2>Возврат</h2></div><div><img src="/static/i/dc.svg"></div>
     </a>

     <div class="uk-accordion-content">
        <h3><span style="color:#c0392b"><strong>ВАЖНО!</strong></span></h3>

        <p><span style="color:#c0392b">Нижнее белье, низ от купальников, а также слитные купальники <strong>обмену и возврату не подлежат</strong>!</span></p>

        <ul>
            <li>Как только мы получим Ваш товар, и убедимся, что он соответствует условиям возврата, то мы оформим вам возврат денежных средств.</li>
            <li>Если товар был оплачен на сайте банковской картой или другими способами внесения онлайн-платежей, средства за товар вернутся тем же способом на тот же счет.&nbsp;</li>
            <li>Пожалуйста, обратите внимание, что поступление средств может занять до 10 рабочих дней с момента поступления товара на склад.</li>
        </ul>
     </div>
    </div>
</div>
