._disabled { pointer-events: none; -webkit-pointer-events: none; opacity: 0.5; }
/*
textarea.error { background: rgb(251, 227, 228); border: 1px solid #fbc2c4; color: #8a1f11; }
input.error { background: rgb(251, 227, 228); border: 1px solid #fbc2c4; color: #8a1f11; }
*/
textarea.error { background: rgb(251, 227, 228); border: 1px solid #dc4335; color: #8a1f11; }
input.error { background: rgb(251, 227, 228); border: 1px solid #dc4335; color: #8a1f11; }
.err-message { color: #cc0000; text-align: left; margin-bottom: 5px; }
textarea.input_text.no_hover_border:focus, textarea.input_text.no_hover_border:hover { border: 1px solid #dee8ed; }
select.country_select {
    padding: 0 3%;
    width: 100% !important;
    margin: 0;
    display: inline-block;
    width: 72px;
    height: 42px;
    position: relative;
    z-index: 100;
    display: inline-block;
    width: 70px;
    position: relative;
    height: 40px;
    border-radius: 3px;
    border: solid 1px #dee8ed;
    background-color: #ebf1f4;
    color: #272727;
    cursor: pointer;
    overflow: hidden;
    text-align: left;
}
select.country_select.errr { border-color: #8c2c34; background-color: #ffe6e8; }
.row_form_popup span.js-show-popup {
    cursor: pointer;
    display: inline-block;
    text-decoration: underline;
    color: #1b8ff1;
    font-size: 11px;
}
.row_form_popup span.js-show-popup:hover { text-decoration: none; }
.play_thumb { 
    width: 40px;
    height: 40px;
    line-height: 40px;
    left: auto; 
    margin-left: 15px;
    top: auto; 
    margin-top: 15px;
}
.play_preview { 
    width: 200px;
    height: 200px;
    line-height: 200px;
    left: auto; 
    margin-left: 150px;
    top: auto; 
    margin-top: 150px;
}
.h3_title_block { margin-bottom: 3px; font-size: 20px; }
.align_left { text-align: left !important; }

.product_video_image { width:500px; height:512px; }
@media screen and (max-width: 1030px) {
    .product_video_image { width: 295px; height: 300px; }
    .play_preview { 
        width: 120px;
        height: 120px;
        line-height: 120px;
        left: auto; 
        margin-left: 90px;
        top: auto; 
        margin-top: 90px;
    }
}


/* кнопки*/
.window_popup_but{
    position: absolute;
    opacity: 1;
    z-index: 11000;
    left: 50%;
    margin-left: -324px;
    top: 200px;
    height: 100px;
        -webkit-border-radius: 15px;
    width: 640px;
    overflow: hidden;
}        
.window_popup_but .wrap_window_popup{
    display: table;
}     
.popup_row_but{
    border-color: #fff;
    background: #A82A33;
    border-radius: 57px;
    text-align: center;
    border: 2px solid;
    margin: 20px 0;
    color: #fff;
    text-transform: uppercase;
    width: 300px;
        margin: 0 10px;
}      
 .popup_row_but .popup_row_wrapp{
    padding: 22px 27px 5px 27px;
}
  .popup_row_but:hover{
    background: #8c2c34;
    border-radius: 100px;
         cursor: pointer;
}
@media screen and (max-width: 720px) {
     .window_popup_but .wrap_window_popup{
    display: block;
}  
.popup_row_but{
    margin: 10px 0;
}
  }
    
@media screen and (max-width: 580px) {
        .window_popup_but, .window_popup_reg {margin-left:0;left:0;width:100%;}
        }
    
@media screen and (max-width: 460px) {
        .window_popup_but, .window_popup_reg {top:100px;}
        .popup_row_but {float:none;width:100%;}
    }
  
    
 /*Формы регистрации\авторизации*/
 .popup_back_wrap{
     margin-bottom: 15px;
     
 }
 .popup_back{
    color: #3d697a;
    font-size: 16px;
 }
 .popup_row_reg {
    width: 100%;
    position: relative;
    z-index: 2;
}
.window_popup_reg{
      position: absolute;
    z-index: 3300;
    top: 170px;
    left: 50%;
    margin-left: -143px;
    background-color: #fff;
    border-radius: 15px;
    -webkit-border-radius: 15px;
    width: 300px;
    overflow: hidden;
} 

.popup_row_reg .row_form_popup{
    margin-top: 18px;
}
        
 /**/
