._disabled { pointer-events: none; -webkit-pointer-events: none; opacity: 0.5; }
/*
textarea.error { background: rgb(251, 227, 228); border: 1px solid #fbc2c4; color: #8a1f11; }
input.error { background: rgb(251, 227, 228); border: 1px solid #fbc2c4; color: #8a1f11; }
*/
textarea.error { background: rgb(251, 227, 228); border: 1px solid #dc4335; color: #8a1f11; }
input.error { background: rgb(251, 227, 228); border: 1px solid #dc4335; color: #8a1f11; }
.err-message { color: #cc0000; text-align: left; margin-bottom: 5px; }
textarea.input_text.no_hover_border:focus, textarea.input_text.no_hover_border:hover { border: 1px solid #dee8ed; }
select.country_select {
    padding: 0 3%;
    width: 100% !important;
    margin: 0;
    display: inline-block;
    width: 72px;
    height: 42px;
    position: relative;
    z-index: 100;
    display: inline-block;
    width: 70px;
    position: relative;
    height: 40px;
    border-radius: 3px;
    border: solid 1px #dee8ed;
    background-color: #ebf1f4;
    color: #272727;
    cursor: pointer;
    overflow: hidden;
    text-align: left;
}
select.country_select.errr { border-color: #8c2c34; background-color: #ffe6e8; }
.row_form_popup span.js-show-popup {
    cursor: pointer;
    display: inline-block;
    text-decoration: underline;
    color: #1b8ff1;
    font-size: 11px;
}
.row_form_popup span.js-show-popup:hover { text-decoration: none; }
.play_thumb { 
    width: 40px;
    height: 40px;
    line-height: 40px;
    left: auto; 
    margin-left: 15px;
    top: auto; 
    margin-top: 15px;
}
.play_preview { 
    width: 200px;
    height: 200px;
    line-height: 200px;
    left: auto; 
    margin-left: 150px;
    top: auto; 
    margin-top: 150px;
}
.h3_title_block { margin-bottom: 3px; font-size: 20px; }
.align_left { text-align: left !important; }
