/* css document */
@charset "utf-8";

* {padding:0;margin:0;}
:focus { outline:0;}
img {border:0;max-width:100%}
textarea {resize: none;}
input,textarea,button {-webkit-appearance: none;font-family: sans-serif;}
input[type="text"].error,input[type="tel"].error,input[type="number"].error,textarea.error {background-color:#FAFFBD;}
a {text-decoration:none;}
abbr {text-decoration:none;}

/*
    FONTS                           >>>> 
    ------------------------------------
    |   font-family: 'Museo100';
    |   font-family: 'Museo300';
    |   font-family: 'Museo500';
    |   font-family: 'Museo700';
    |   font-family: 'Museo900';
    |   font-family: 'NeoBold';
    |   font-family: 'NeoBoldItalic';
    |   font-family: 'NeoItalic';
    |   font-family: 'NeoLight';
    |   font-family: 'NeoLightItalic';
    |   font-family: 'NeoMedium';
    |   font-family: 'NeoRegular';
    |   font-family: 'NeoUltra';
    ------------------------------------
    FONTS                           <<<< 
*/

body {font-family: Helvetica, Verdana, sans-serif;background-color: #252526;}



header,main,nav,footer {display:block;}

/*  TRANSITION  >>> */
    .cat_row_top li a, .list_menu_lev1 li a, .bt_req_call a, .bt_contacts li a, .text_link_cat, .link_arrow_text, .product_list, .product_list h3 a, .butt_with, .menu_foot li a, .sl_text, .check_box label input ~ span, .sec_menu li a, .bt_red, .reset_frm , .yet_items span, .pagination_list li a
          {-moz-transition: .30s ease-in-out;-o-transition: .30s ease-in-out;transition: .30s ease-in-out;-webkit-transition: .30s ease-in-out;}

/*  OPACITY: .7 >>> */
    .cat_row_top li a:hover, .list_menu_lev1 li a:hover, .bt_contacts li a:hover, .text_link_cat:hover 
          {opacity:.65;}

/* relative AND clear >>> */
    .menu_top_line, .list_menu_lev1, .menu_top_line_wrapp, .cat_row_top, .list_top_menu_wrapp, .bt_contacts, .text_head_block, main, .main_content, .item_list_wrapp, .photo_list, .text_preview_wrapp, .text_preview_inner, .with_banner_wrapp, .with_banner_padd, .footer_wrapp, .menu_foot, header, #touch_menu, #foot_menu, .sec_block, #main_content, .sec_menu, .sec_menu ul, .breadcrumb, .sec_filtr, .check_box, .filtr_title, .sec_filtr_wrapp, .check_box, .yet_items, .pagination_list
          {display:block;position:relative;}
    
    .clr {clear:both;display:block;float:none;padding:0;margin:0;width:100%;height:0;}
    
    .menu_top_line:after, .list_menu_lev1:after, .menu_top_line_wrapp:after, .cat_row_top:after, .list_top_menu_wrapp:after, .bt_contacts:after, .text_head_block:after, main:after, .main_content:after, .item_list_wrapp:after, .text_preview_wrapp:after, .text_preview_inner:after, .with_banner_wrapp:after, .footer_wrapp:after, .menu_foot:after, header:after, #touch_menu:after, #foot_menu:after, .sec_block:after, #main_content:after, .sec_menu:after , .sec_menu ul :after, .breadcrumb:after, .sec_filtr:after, .check_box:after, .filtr_title:after, .sec_filtr_wrapp:after, .check_box:after, .yet_items:after, .pagination_list:after
          {content:'';clear:both;display:block;float:none;padding:0;margin:0;width:100%;height:0;}
/* <<< relative AND clear */

/* list style >>> */
    .list_menu_lev1, .cat_row_top, .bt_contacts, .menu_foot, #foot_menu ul, .lang_head ul, .sec_menu ul, .breadcrumb, .pagination_list
	{list-style:none;}

/* background-color:#8c2c34; >>> */
  .link_arrow_text:hover, .cat_row_top2 li a:hover, .bt_cart a:hover, .bt_req_call a:hover
    {background-color:#8c2c34;}



/* 98% */
    .menu_top_line, .main_content, .text_preview_inner, .with_banner_wrapp, .footer_wrapp 
	{margin:0 auto;width: 98%;}

/*  font-family: 'NeoMedium' >>>    */
    .list_menu_lev1 li, .cat_row_top li, .bt_phone strong, .bt_cart a, .bt_req_call a, .text_link_cat, .title_block, .product_list, .reset_frm
    {font-family: 'NeoMedium';}
	
/*  font-family: 'NeoRegular' >>>    */	
	.product_list h4, .text_preview_inner p, .with_mini_text, .menu_foot li a, #foot_menu li, .sec_menu, .breadcrumb, .sec_filtr  
	{font-family: 'NeoRegular';}

/*  font-family: 'NeoLight' >>>    	
	.sec_menu  
	{font-family: 'NeoRegular';}
*/

/*  font-family: 'Museo500' >>>    */
	.pagi_bts {font-family: 'Museo300';}


/*  font-family: 'Museo500' >>>    */
	.yet_items {font-family: 'Museo500';}

/*  font-family: 'Museo700' >>>    */
	.pagination_list {font-family: 'Museo700';}
	
/*  font-family: 'NeoBold' >>>    */	
	.product_price, .to_cart_list, .text_preview_inner p strong, .with_big_text,.butt_with, .contacts_foot .bt_req_call a, .title_sec_block, .bt_red 
	{font-family: 'NeoBold';}

	
    
/* HEADER >>> */
    header {position:relative;width:100%;/*background-image: url(../images/bg_header.jpg);background-size: 100% auto;*/background-position: 50% 34px;background-repeat: no-repeat;background-size: cover;background-color: #313131;padding-bottom:275px;padding-top: 47px;}
	header:before {content:'';display:block;position:absolute;right:0;bottom:0;width:50%;height:100%;}
	.list_top_menu_wrapp:before, header:before{background-color: rgba(185,55,65,.8005);background-color: rgba(201,65,65,.8005);}
	.list_top_menu_wrapp:before {background-color:#a82a33;}

    /* top line menu >>> */
        .menu_top_line_wrapp {margin:0 auto;width:100%;}
		#touch_menu, #touch-menu-foot, #touch_breadcrumb {display:none;}
        .list_top_menu_wrapp {background-color:#313131;margin-bottom:13px;width:100%;position: absolute;left: 0;top: -47px;}
            .list_top_menu_wrapp:before {content:'';position:absolute;display:block;width:50%;height:100%;right:0;top:0;z-index:1;}
            .list_menu_lev1 {float:left;z-index:2}
                .list_menu_lev1 li {display:block;float:left;color:#fff;font-size:12px;line-height:34px;vertical-align:middle;white-space:nowrap;margin-right:18px;}
                .list_menu_lev1 li:last-child {margin-right:0}
                .list_menu_lev1 li a {color:inherit;}
                .list_menu_lev1 li img {display:inline-block;vertical-align:middle;}
                .disc_number {display:inline-block;vertical-align:middle;text-align:center;color:#fff;background-color:#a82a33;width:21px;height:21px;line-height:21px;font-size:10px;border-radius:50%;-webkit-border-radius:50%;}
            .list_menu_lev2 {float:right;}
			
			.lang_head {position:relative;}
			.lang_head .lang_head_tit {border-bottom: 1px dotted rgb(255, 255, 255);/* display: block; */position: relative;}
            .lang_head .lang_head_tit:hover {border-bottom-color:transparent;}
            .lang_head .lang_head_tit img {margin-left:2px;cursor:pointer;display:block;width:100%;height:34px;position:absolute;background:url(i/arrow_list.png) no-repeat 100% 50%;top: -8px;right: -10px;}
			.lang_head ul {display:block;position: absolute;background-color: #313131;padding: 7px 19px;}
			.lang_head ul li {display:block;position:relative;}
			.lang_head ul li img {-o-transform: rotate(-90deg);-ms-transform: rotate(-90eg);-moz-transform: rotate(-90deg);-webkit-transform: rotate(-90deg);transform: rotate(-90deg);position:absolute;left: -11px;top:50%;margin-top:-3px;}
			

    /* <<< top line menu */
    
    .logo {float:left;}
        .logo a {display:block;text-decoration:none;}
        
    .cat_row_top {float:left;padding-top:24px;}
        .cat_row_top li {display:block;float:left;color:#fff;text-transform:uppercase;white-space:nowrap;margin-left:9px;}
            .cat_row_top li a {display:block;color:inherit;font-size:15px;line-height: 15px;padding: 12px 21px 10px 21px;background-color:#e1312f;border-radius:21px;-webkit-border-radius:21px;border-bottom:3px solid #8c2c34;vertical-align:middle;}
    
    .cat_row_top2 {float:right;padding-right: 21px;}
        .cat_row_top2 li a {background-color:transparent;border:none;padding-left:11px;padding-right:11px;}
        .cat_row_top2 li a:hover {opacity:1}

    .bt_contacts {float:right;text-align:right;margin-top: -14px;}
        .bt_contacts li {display:inline-block;text-align:center;color:#fff;vertical-align:top;}
        .bt_contacts li a {color:inherit;display:block;}
        .bt_contacts li img {display:block;margin:0 auto 3px auto;}
        .bt_contacts li strong {font-weight:normal;}
        .bt_contacts ~ div.clr {margin-top: 220px;}
		.bt_contacts li.clr_butt_head {display:none;padding:0;margin:0;}
        
        .bt_phone {font-family:'NeoLight';font-size:18px;margin-right:15px;padding-top: 9px;}
        
        .bt_soc {font-family:'Museo100';font-size:12px;padding-top: 5px;}
        
        .bt_req_call {margin-right:7px;}
        .bt_req_call a {display:block;border:2px solid #fff;line-height: 15px;padding: 10px 11px 9px 11px;border-radius:21px;-webkit-border-radius:21px;color:#fff;font-size: 14px;text-transform:uppercase;overflow:hidden;position:relative;}
			.bt_req_call a:hover {opacity:1 !important;}
			
            
        .bt_cart a {display:block;border:2px solid transparent;line-height: 15px;padding: 10px 11px 9px 45px;border-radius:21px;-webkit-border-radius:21px;color:#fff;font-size: 14px;text-transform:uppercase;position:relative;}
            .bt_cart a:hover {opacity:1 !important;}
            .bt_cart a img {display:inline-block;margin-bottom:0;position:absolute;left: 11px;top:50%;margin-top:-10.5px;}
            .bt_cart a span {display:inline-block;position:absolute;left: 25px;top:-12px;background-color:#2c2c2c;font-size:10px;border-radius:50%;-webkit-border-radius:50%;width:21px;height:21px;line-height:21px;}
    
    
        .text_head_block {float:left;color:#fff;max-width: 500px;}
        .text_head_block p {max-width: 460px;}
            .text_head_block h1 {font-family:'Museo900';font-size:28px;padding-bottom:8px;text-transform:uppercase;}
            .text_head_block h1~img {display:block;margin-bottom:19px;}
            .text_head_block p {padding-bottom:21px;font-family:'Museo100';font-size:18px;line-height:24px;}
        
            .text_link_cat {display:inline-block;color:inherit;font-size:15px;line-height: 15px;padding: 12px 17px 11px 17px;background-color:#e1312f;border-radius:21px;-webkit-border-radius:21px;vertical-align:middle;text-transform:uppercase;margin-top:5px;}
            
            .arrow_text_head {float:right;padding-top:89px;position:relative;}
                .link_arrow_text {background:url(i/arrow_text_icon.png) no-repeat 50% 50%;display:inline-block;overflow:hidden;text-decoration:none;text-indent:-1000px;width:125px;height:125px;border-radius:50%;-webkit-border-radius:50%;border:1px solid #fff;}
                
        .sl_text {display:block;width:182px;height:252px;position:absolute;left:50%;bottom:415px;margin-left:260px;z-index:1;text-indent:-1000px;overflow:hidden;background-position:50% 50%;background-repeat:no-repeat;background-size:cover;}
        
        .grl_head {display:block;width:314px;height:737px;position:absolute;z-index:2;left:50%;bottom:0;margin-left:-118px;background-position:50% 50%;background-repeat:no-repeat;background-size:cover;}
        
/* <<< HEADER */


/* >>> MAIN */
	main {background-color:#fff;}
	
		.main_content {padding: 35px 0 0 0;}
			.title_block {font-size:30px;text-transform:uppercase;color:#323232;padding-top:35px;margin-bottom:26px;text-align: center;}
			
	/* >>> CATALOG */
		.item_list_wrapp {margin-left:-56px;padding-bottom: 57px;text-align: center;}
			.product_list {/* float:left; */width: 247px;height: 418px;border:5px solid rgba(0,0,0,.050);overflow: hidden;text-align: center;margin-left:56px;margin-top:5px;margin-bottom:21px;display: inline-block;}
				.product_list:hover {border-color:rgba(185,55,65,.340);}
				.photo_list {margin:31px auto 33px;width:199px;height:199px;overflow:hidden;border-radius:50%;-webkit-border-radius:50%;line-height:199px;}
				.photo_list a {text-decoration:none;display:block;height:100%;vertical-align:middle;}
				.photo_list img {display:inline-block;line-height:199px;min-height:100%;min-width:100%;border-radius:50%;-webkit-border-radius:50%;}
				
				
				.product_list h3 {padding:0;margin:0 0 5px;font-size:17px;color:#363636;text-transform:uppercase;font-weight:normal;max-height: 41px;overflow: hidden;}
				.product_list h3 a {color:inherit;text-decoration:none;display:block;}
				.product_list h3 a:hover {color:#b93741;}
				
				.product_list h4 {padding:0;margin:0 0 15px;font-weight:normal;font-size:12px;color:#3b444a;}
				.product_price {font-size:24px;position:relative;color:#212121;}
					.product_price abbr {display:inline-block;font-size:14px;vertical-align:top;position:absolute;top:3px;margin-left:2px;}
					
				.to_cart_list {display: inline-block;border: 2px solid #b93741;line-height: 15px;padding: 10px 12px 9px 37px;border-radius: 21px;-webkit-border-radius: 21px;color: #b93741;font-size: 14px;text-transform: uppercase;position: relative;margin: 10px auto 0;}
					.to_cart_list:after, .to_cart_list:before {content:'';display:block;position:absolute;width:18px;height:21px;background-repeat:no-repeat;background-position:50% 50%;left: 12px;top: 6px;}
					.to_cart_list:after {background-image:url(i/cart_icon_red.png);opacity:1;}
					.to_cart_list:before {background-image:url(i/cart_icon.png);opacity:0;}
					.to_cart_list:hover {background-color:#b93741;color:#fff;}
						.to_cart_list:hover:before {opacity:1;}
						.to_cart_list:hover:after {opacity:0;}
	/* <<< CATALOG */
	
	
	/* <<< TEXT BACKGROUND RED */
		.text_preview_wrapp {background-color:#e1312f;background-image: url(i/bg_text_red.png);background-position: 50% 0;padding: 50px 0 85px;color: #fff;}
			.text_preview_inner {}
			.text_preview_inner .title_block {color:#fff;margin-bottom:25px;}
			.text_preview_inner p {padding:0;margin:0 0 20px;font-size:14px;line-height:22px;}
			.text_preview_inner p strong {font-weight:normal}
			
			.text_preview_left {float:left;width: 75%;}
			.soc_block_text {float:right;padding-top: 70px;}
			
	/* <<< TEXT BACKGROUND RED */
	
	/* <<< banner main page (to bottom) */
		.with_banner {background-color:#393939;overflow:hidden;}
			.with_banner_wrapp {background-position: 50% 0;background-repeat:no-repeat;background-size:auto 100%;padding-top:100px;padding-bottom:50px;}
			.with_banner_padd {left:50%;margin-left:-315px}
			
			.with_mini_text, .with_big_text {color:#fff;text-transform:uppercase;}
			.with_mini_text {font-size:48px;}
			.with_big_text {font-size:80px;}
			
			.butt_with {display: inline-block;border: 2px solid #fff;line-height: 15px;padding: 10px 15px 9px 15px;border-radius: 21px;-webkit-border-radius: 21px;color: #fff;font-size: 14px;text-transform: uppercase;overflow: hidden;position: relative;margin-top: 20px;}
				.butt_with:hover {color:#393939;background-color:#fff;}
	/* <<< banner main page (to bottom) */
	
/* <<< MAIN */

/* <<< FOOTER */
	footer {clear:both}
		.footer_wrapp {padding:24px 0 16px;}
		.menu_foot {float:left}
			.menu_foot li {float:left;display:block;margin-right:27px;padding-top: 32px;}
			.menu_foot li.logo_foot {margin-right:130px;padding-top:0;}
			.menu_foot li {color:#fff;font-size: 15px;}
			.menu_foot li a {color:inherit;}
			.menu_foot li a:hover {color:#e1312f;}
			.menu_foot li:last-child {/* margin-right:0; */}
		
		#foot_menu {float:left;}
			#foot_menu li {float:left;display:block;margin-right:27px;padding-top: 32px;color:#fff;font-size: 15px;}
			#foot_menu li:last-child {margin-right:0;}
			#foot_menu a {color:inherit;}
			#foot_menu li:hover {color:#e1312f;}
			#touch-menu-foot {display:none;}
			
		
		.contacts_foot {float:right;}
			.contacts_foot .bt_phone a {font-size:21px}
			.contacts_foot .bt_req_call a {position:relative;color:#e1312f;border-color:#e1312f;top: -6px;}
			.contacts_foot .bt_req_call a:hover {color:#fff;border-color:#fff;background-color:transparent;}
			.contacts_foot .bt_req_call a strong {font-weight:normal;}
/* <<< FOOTER */




/*################################*/
/*#####    INNER PAGES CSS   #####*/
/*################################*/

/* HEADER >>> */
	.inner_page_wrapp header {padding-bottom:20px}
	.inner_page_wrapp .bt_contacts ~ div.clr {margin-top:0}
/* HEADER <<< */

/* main_content, sec_block, #main_content >>> */
	.inner_page_wrapp .main_content {display:table;padding-top:20px;}
	.inner_page_wrapp .sec_block, .sec_block ~ #main_content {display:table-cell;vertical-align:top;}
	
	/* breadcrumb */
		.breadcrumb {margin:0;padding:0;margin-bottom:15px;margin-top:5px;}
		.breadcrumb li {margin:0;padding:0;color:#313131;font-size:13px;float:left;position:relative;}
		.breadcrumb li:after {content:'/';display:inline-block;color:inherit;margin:0 8px;}
		.breadcrumb li:last-child:after {display:none;}
		.breadcrumb li a {margin:0;padding:0;color:inherit;text-decoration:underline;}
		.breadcrumb li a:hover {text-decoration:none;}
		.breadcrumb li:first-child + li a {color:#a82a33 !important;}
		
		/* breadcrumb TOUCH */
		#touch_breadcrumb {}
	/* breadcrumb <<< */
	
	
/* main_content <<< */

/* SEC_BLOCK >>> */
	.sec_block {padding-right: 51px;width:257px}
			.sec_menu {background-color:#A82B33;}
			.sec_menu,   .sec_filtr {color:#fff;padding-bottom: 11px;padding-top: 11px;}
			.sec_menu *,  .sec_filtr * {color:inherit;}
			
			.sec_menu li {display:block;font-size:15px;line-height:16px;padding-left:0;}
			.sec_menu strong {font-weight:normal;}
			.sec_menu li a:hover {background-color:#8c2c34}
			.sec_menu li a {display:block;padding:14px 10px 14px 28px;}

			.title_sec_block:first-child {padding:14px 0 14px 28px;}
			
		/* sec_filtr */
			.sec_menu ~ .sec_filtr {margin-top:18px;}
			.sec_filtr {background-color:#313131;}
			
			.sec_filtr_wrapp {padding: 14px 28px 14px 28px;text-align: center;}
				.sec_filtr_wrapp .title_sec_block {padding-top:0;padding-left:0;padding-right:0;text-align: left;}

				.filtr_title {font-size:15px;margin-top:15px;margin-bottom: 3px;text-align: left;}
				
				.check_box {margin-left: -7.5px;}
					.check_box label {position:relative;width: 30px;height: 30px;line-height: 30px;margin-left: 7.5px;display: inline-block;font-size: 12px;margin-top: 8px;}
					.check_box label input[type="checkbox"] {position:absolute;top:0;left:0;height:100%;width:100%;background:none;border:none;opacity:0;padding: 0;margin: 0;}
					.check_box label input[type="checkbox"] ~ span {display:block;position:absolute;top:0;left:0;border: 1px solid #8c2c34;height:100%;padding: 1px;width:100%;background-color: transparent;color: #fff;text-align:center;vertical-align:middle;white-space:nowrap;line-height: inherit;cursor:pointer;border-radius: 50%;-webkit-border-radius: 50%;}
					.check_box label input[type="checkbox"]:checked ~ span, .check_box label input[type="checkbox"]:hover ~ span  {background-color:#8c2c34;color:#fff;}
					/*.check_box label input[type="checkbox"]:checked ~ span:hover {background-color:transparent}
					,.check_box label input[type="checkbox"]:hover ~ span*/


					.check_box label input[type="checkbox"]:checked:hover ~ span, .check_mini  label input[type="checkbox"]:checked:hover ~ span 
					{cursor:default;}
				
				.check_mini {margin-left: -7px;}
					.check_mini  label {width: 24px;height: 24px;line-height: 24px;margin-left: 7px;}
					.check_mini  label input[type="checkbox"] ~ span {border: none;text-indent:-1000px;}
					.check_mini  label input[type="checkbox"]:hover ~ span
					{opacity:.660;}
					.check_mini  label input[type="checkbox"] ~ span:before {content:'';display:block;position:absolute;top: -1px;opacity: 0;cursor: pointer;left: -1px;height:100%;width:100%;border-radius:50%;-webkit-border-radius:50%;background: rgba(255, 255, 255, 0.38) url(i/icon-ok.png) no-repeat 50% 50%;background-size: 50%;padding: 1px;}
					.check_box label input[type="checkbox"]:checked ~ span:before {opacity:1;cursor:default}
				
				
				.check_input {font-size:14px;text-align: center;padding-top:7px;margin-left:0;}
					.check_input input {color:#252526;border:none;display:inline-block;width:60px;padding:11px 10px 11px 10px;white-space:nowrap;text-align:center;vertical-align:middle;border-radius: 18px;-webkit-border-radius: 18px;float: left;}
					.check_input * {text-align: center !important;}
					.check_input input ~ span {display:inline-block;line-height:36px;}
					.check_input input ~ span ~ input {float:right;/* margin-right: 17px; */}
					
				
				.check_photo {margin-left:-19px;}
					.check_photo label {width:88px;height:88px;margin-left:19px;}
					.check_photo label input[type="checkbox"] ~ span {background-color:#fff !important;text-indent:0;line-height:88px;}
					.check_photo label input[type="checkbox"] ~ span img {display:inline-block;vertical-align:middle;}
				
				.bt_red {display: inline-block;color: inherit;font-size: 14px;line-height: 14px;padding: 12px 33px 10px 33px;background-color: #8c2c34;border-radius: 21px;-webkit-border-radius: 21px;border:none;vertical-align: middle;color: #fff;text-transform: uppercase;white-space: nowrap;cursor:pointer;}
					.bt_red:hover {background-color: #A82B33;}
					
				.sec_filtr .bt_red {margin: 31px 0 0 0;}
				
				.reset_frm {display: inline-block;color: inherit;font-size: 14px;line-height: 14px;padding: 5px 13px 5px 13px;background-color: transparent;border:none;vertical-align: middle;color: #fff;white-space: nowrap;cursor:pointer;}
					.sec_filtr .reset_frm {/* margin-left:53px; */margin-top:5px;}
				
						::-webkit-input-placeholder {color:#252526;}
						::-moz-placeholder                   {color:#252526;}
						:-moz-placeholder                     {color:#252526;}
						:-ms-input-placeholder           {color:#252526;}
						:focus::-webkit-input-placeholder {color: transparent}
						:focus::-moz-placeholder                   {color: transparent}
						:focus:-moz-placeholder                     {color: transparent}
						:focus:-ms-input-placeholder           {color: transparent}

	
/* SEC_BLOCK <<< */


/* #main_content >>> */
	.inner_page_wrapp .item_list_wrapp {/* text-align:left */}
	
	/* text block >>> */
		.text_preview_page {padding-bottom:50px}
		.text_preview_page .text_preview_inner {width:auto}
			.text_preview_page .title_block {color:#252526;text-align:left;}
	/* text block <<< */
	
		.with_banner_page {overflow:hidden;background-repeat: no-repeat;background-position: 0 50%;background-size: auto 100%;background-color: #3B3B39;padding-top:40px;padding-bottom:30px}
		.with_banner_padd_page {padding-left: 30%;}
		.with_banner_page .with_mini_text {font-size:40px}
		.with_banner_page .with_big_text {font-size:66px}
		
		.with_banner_page ~ .item_list_wrapp {margin-top:26px;}


/* #main_content <<< */

/* PAGINATION >>> */
	.pagination_block {padding-bottom:50px} 
	.pagination_block ~ .text_preview_page {padding-top:20px} 
	
	.yet_items {color:#c90101;text-align:center;font-size:14px;text-decoration:none;margin-bottom:30px;white-space:nowrap;line-height:18px;}
		.yet_items span {display:inline-block;border-bottom:2px dotted #c90101;}
		.yet_items:hover span {border-bottom-color:rgba(201,1,1,.2321);}
		
		
	.pagination_list {text-align:center;padding:0;margin:0;float:none;text-transform:lowercase;cursor:default;}
		.pagination_list li {display:inline-block;padding:0;margin:0;float:none;color:#143848;font-size:14px;padding:1px 4px;}
		.pagination_list li a {text-decoration:none;color:#94adba;display:block;line-height:18px;cursor:pointer;}
		.pagination_list li a:hover {color:#143848;}
		li.active_pagi a {color:#143848;font-size:16px}
		li.active_pagi a:hover {color:#94adba;}
		
		.pagi_bts a {position:relative;}
		.pagi_bts a:before {content:'';display:block;width:6px;height:12px;background:url(i/arrow_pagi.png);position:absolute;left: -12px;top: 3px;}
		.pagi_bts:last-child a:before {-o-transform: rotate(-180deg);-ms-transform: rotate(-180deg);-moz-transform: rotate(-180deg);-webkit-transform: rotate(-180deg);transform: rotate(-180deg);left:auto;right:-12px;}
		
		.pagination_list .pagi_bts:first-child {margin-right:20px;}
		.pagination_list .pagi_bts:last-child   { margin-left:20px;}
		
		
	
/* PAGINATION <<< */













/*############################*/
/*#####    MOBILE CSS    #####*/
/*############################*/

/* 1280 */
	@media screen and (max-width: 1290px) {
		.menu_top_line, .main_content, .text_preview_inner, .with_banner_wrapp, .footer_wrapp 
			{margin:0 auto;width: 92%;}
			
		.cat_row_top2 {padding-right: 0;}
		.list_top_menu_wrapp:before {padding-right: 4%;margin-right: -4%;}
		
		.item_list_wrapp {margin-left: -35px;padding-bottom: 57px;}
		.product_list {margin-left:35px;}
		
		.menu_foot li.logo_foot {margin-right: 24px;}
		
		.with_banner_page           {background-position: -80px 50%;}
		.with_banner_padd_page {padding-left: 34%;}
		
		/* sec_block >>> */
		
		/* sec_block <<< */
	}
	
	@media screen and (max-width: 1277px) {
		.inner_page_wrapp .item_list_wrapp {margin-left: -45px;}
		.inner_page_wrapp .product_list {margin-left: 45px;width: 232px;}
		
		
		
	}
		
	@media screen and (max-width: 1250px) {
		.inner_page_wrapp .item_list_wrapp {margin-left: -25px;}
		.inner_page_wrapp .product_list {margin-left: 25px;width: 232px;}
	}
		
	@media screen and (max-width: 1200px) {
		.inner_page_wrapp .item_list_wrapp {margin-left: -11px;}
		.inner_page_wrapp .product_list {margin-left: 11px;width: 232px;}
	}
	
	@media screen and (max-width: 1180px) {
		.inner_page_wrapp .item_list_wrapp {margin-left: -6px;}
		.inner_page_wrapp .product_list {margin-left: 6px;width: 230px;}
	}
	
	@media screen and (max-width: 1150px) { /* 1024px */
		.menu_top_line, .main_content, .text_preview_inner, .with_banner_wrapp, .footer_wrapp 
			{margin:0 auto;width: 96%;}
		.list_top_menu_wrapp:before {padding-right: 0;margin-right: -2px;}	
		.list_top_menu_wrapp:before, header:before {width:42%;}
		
		.text_head_block p {font-size: 16px;}
		.text_head_block h1~img {max-width: 86%;}
		
		.sl_text {margin-left: 200px;}
		
		.item_list_wrapp {margin-left: -25px;}
		.product_list {margin-left: 25px;width: 297px;}
		
		.inner_page_wrapp .item_list_wrapp {margin-left: -5px;}
		.inner_page_wrapp .product_list {margin-left: 4px;width: 230px;}
		
		.sec_block {padding-right:20px;}
		
		.inner_page_wrapp           .menu_top_line, 
		.inner_page_wrapp             .main_content, 
		.inner_page_wrapp .text_preview_inner, 
		.inner_page_wrapp   .with_banner_wrapp, 
		.inner_page_wrapp             .footer_wrapp {
			width:99%;
		}
		
		
		#foot_menu li {margin-right: 11px;font-size:13px}
		.contacts_foot .bt_phone, .contacts_foot .bt_req_call {margin-top:-5px}
		.menu_foot li.logo_foot {max-width:190px;}
	}
	@media screen and (max-width: 1024px) {
		.with_banner_page           {background-position: -100px 50%;}
		.with_banner_padd_page {padding-left: 32%;}
	}
	@media screen and (max-width: 1023px) { /* 768px */
		body, html {overflow-x:hidden;}
		.menu_top_line, .main_content, .text_preview_inner, .with_banner_wrapp, .footer_wrapp 
			{margin:0 auto;width: 98%;}
			
		.item_list_wrapp {margin-left: -11px;}
		.product_list {margin-left: 11px;width: 232px;}
		
		.inner_page_wrapp .item_list_wrapp {margin-left: -25px;}
		.inner_page_wrapp .product_list {margin-left: 25px;width: 290px;}
		
		.text_preview_left {width: 63%;}
		.with_banner_padd {margin-left: -220px;}
		.with_banner_wrapp {background-position: 28% 0;}

		.bt_contacts {margin-top: 23px;z-index: 10;float: none;}
		.bt_contacts li.clr_butt_head {display:block;}
		
		.clr_butt_head0 {display:none !important}
		
		.sl_text {margin-bottom: 30px;margin-left: 179px;}
		
		.bt_contacts ~ div.clr {margin-top: 160px;}
		
		.bt_cart {margin-top:10px}
		
		.text_head_block h1~img {max-width: 70%;}
		.text_head_block {max-width: 430px;}
		.text_head_block p {max-width: 310px;}
		
		header {background-position: 50% 0;padding-top:47px;padding-bottom: 305px;}
		
		.logo {display:none}
		
		.text_head_block h1 {font-size:21px}
		
		.arrow_text_head {padding-top: 160px;}
		
		#touch_menu {display:block;position: absolute;top: -20px;z-index: 11;}
		.menu_top_line_wrapp {display:none;position: absolute;z-index: 100;top: 50px;background-color: #313131;padding: 2%;width: 96%;}
		.list_top_menu_wrapp:before {display:none;}
		.list_menu_lev1 li {float:none;width:auto}
		.list_menu_lev2 {float:left;margin-left:30px}
		.list_top_menu_wrapp {float: right;width:auto;position: relative;top: 0;}
		.cat_row_top {padding-top:0;float: left;}
		.cat_row_top li {display:block;float: none;margin-top: 9px;}
		.cat_row_top2 li {margin-top: 0;text-transform:none}
		.cat_row_top2 ~ .clr_mrgn {display:none}

			#logo_mini {display:inline-block;margin-right:14px;}
			#logo_mini a, #logo_mini a img {display:block;text-decoration:none;}
			#touch-menu-top, #touch-menu-foot {background:#e1322f url(i/arrow_touch.png) no-repeat 50% 50%;display:inline-block;width:37px;height:37px;overflow:hidden;border-radius:50%;-webkit-border-radius:50%;text-indent:-1000px;vertical-align:top;margin-top:26px}
			.touch_clr {display:block}
			
		#foot_menu ul {display:none;position: absolute;padding:0;bottom: 100%;right: 0;width: 200px;text-align: right;background-color:#313131;padding:15px;}
		#foot_menu ul li {float:none;margin:0;padding:10px 0;}
		#foot_menu {position:absolute;right:0;margin-top: -6px;}
		#touch-menu-foot {background-color:transparent;border:2px solid #E1322F;background-image:url(i/arrow_touch_red.png);}
		
		.contacts_foot {margin-right:60px;}
			
	}
	@media screen and (max-width: 920px) {
		.inner_page_wrapp .item_list_wrapp {margin-left: -11px;}
		.inner_page_wrapp .product_list {margin-left: 11px;}
	}
	@media screen and (max-width: 904px) {
		.inner_page_wrapp .item_list_wrapp {margin-left: -25px;}
		.inner_page_wrapp .product_list {margin-left: 25px;width:232px}
		
		.with_banner_padd_page {padding-left: 17%;}
		.with_banner_page           {padding-top: 70px;}
		.with_banner_page .with_mini_text {font-size: 27px;}
		.with_banner_page .with_big_text {font-size: 46px;}
		
		
		.pagination_list li {padding:1px;}
		.pagination_list .pagi_bts:first-child {margin-right:10px;}
		.pagination_list .pagi_bts:last-child   { margin-left:10px;}
	}
	@media screen and (max-width: 799px) {
		.inner_page_wrapp .item_list_wrapp {margin-left: -5px;}
		.inner_page_wrapp .product_list {margin-left: 5px;width:232px}
	}
	@media screen and (max-width: 780px) {
		.inner_page_wrapp .item_list_wrapp {margin-left: 0;}
		.inner_page_wrapp .product_list {margin-left: 0;width:230px}
		
		.inner_page_wrapp .main_content {padding-top:15px;}
	}
	@media screen and (max-width: 770px) {
		.inner_page_wrapp           .menu_top_line, 
		.inner_page_wrapp             .main_content, 
		.inner_page_wrapp .text_preview_inner, 
		.inner_page_wrapp   .with_banner_wrapp, 
		.inner_page_wrapp             .footer_wrapp {
			width:100%;
		}
		
		.inner_page_wrapp .item_list_wrapp {margin-left: 0;}
		.inner_page_wrapp .product_list {margin-left: 0;width:230px}
		
	}
	
	@media screen and (max-width: 760px) {
		
		.inner_page_wrapp .item_list_wrapp {margin-left: 0;}
		.inner_page_wrapp .product_list {margin-left: 0;width:290px}
		
	}
	
	@media screen and (max-width: 720px) { /* mobile touch */
		header {padding-top: 0;background-position: 10% 100%;padding-bottom: 30px;}
		#touch_menu {top: auto;position: relative;padding-top: 20px;margin: 0 auto;text-align: center;}
		.menu_top_line_wrapp {top:95px;}
		
		.shell_wrapp {min-width:320px !important;}
		
		.clr_butt_head, .sl_text, .grl_head, header:before, .arrow_text_head {display:none !important;}
		/*.clr_butt_head0 {display:block !important;margin-top:7px !important;}*/
		.bt_contacts {text-align:center;}
		
		.text_head_block {float:none;max-width:100%;}
		.text_head_block p {max-width:100%;}
		.bt_contacts ~ div.clr {margin-top:40px !important;}
		
		.bt_req_call {margin-top:10px}
		
		.item_list_wrapp {margin-left: -11px;}
		.product_list {margin-left: 11px;width: 290px;}
		
		.text_preview_inner {text-align:center;width:94%}
		.text_preview_wrapp {padding: 10px 0 15px;}
		.text_preview_left {float:none;width:100%;text-align:left;}
		
		.with_banner_padd {margin-left:-150px;}
		.with_mini_text, .with_big_text {font-size:41px;}
		.with_banner_wrapp {background-position: 18% 0;}
		
		.soc_block_text {float:none;display:inline-block;padding-top: 10px;}
		
		
		header:before {
			display: block !important;
			background-color: transparent;
			background: -moz-linear-gradient(left, rgba(255,255,255,0) 0%, rgba(0,0,0,.7) 100%);
			background: -webkit-linear-gradient(left, rgba(255,255,255,0) 0%,rgba(0,0,0,.7) 100%);
			background: linear-gradient(to right, rgba(255,255,255,0) 0%,rgba(0,0,0,.7) 100%);
			filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00ffffff', endColorstr='#000000',GradientType=1 );
			width: 26%;
		}
		.contacts_foot {margin-right:50px;}
		
		.cat_row_top {float:none;}
		.cat_row_top li {display:inline-block;}
		
		.list_top_menu_wrapp {float:left;padding-left: 21px;margin-top: 10px;/* border-top: 1px solid rgba(225, 49, 47, 0.18); */}
		
		.list_menu_lev1 {margin-right:10px}
		.list_top_menu_wrapp {float:none}
		.list_menu_lev2 {margin-left:0;float:right}
		
		.text_preview_page .text_preview_inner {text-align:left}
	}
	
	@media screen and (max-width: 670px) {
		.footer_wrapp {text-align:center;}
		
		header:before {display:none !important;}
		
		.menu_foot, .contacts_foot, .contacts_foot .bt_phone, .contacts_foot .bt_req_call {float:none;display:inline-block;vertical-align: top;}
		.contacts_foot {margin-right:0;}
		.contacts_foot .bt_phone, .contacts_foot .bt_req_call {padding-top: 20px;}
		
		.item_list_wrapp {margin-left: -11px;}
		.product_list {margin-left: 11px;width: 232px;}
		
		#foot_menu {display:none !important}
		
	}
	@media screen and (max-width: 590px) {
		.breadcrumb, .inner_page_wrapp .pagination {display:none}
		
		#touch_breadcrumb, 
		.inner_page_wrapp .main_content, 
		.inner_page_wrapp .sec_block, 
		.inner_page_wrapp .sec_block ~ #main_content {display:block;width:100%}
		#touch_breadcrumb {margin-left: 28px;width: auto;}
		
		.inner_page_wrapp .item_list_wrapp {text-align:center}
		
		.sec_filtr_wrapp {text-align:left}

		.sec_filtr .bt_red {margin-left:80px;}

		.filtr_title, .check_box {margin-left:0;padding-left:80px;padding-right:80px;text-align: left;}
		.check_photo label {float:left;margin-left:0;margin-right: 19px;}
		.check_photo label:nth-child(2n) {margin-right: 0;}
		.check_photo label:first-child {/* float:right; */}
		
		.check_input {text-align:left}
		.check_input input, .check_input input ~ span ~ input {float:none}
		.check_input input ~ span {margin-left:10px;margin-right:10px}



		.text_preview_page .text_preview_inner {
			width: 94%;
		}
	}
	@media screen and (max-width: 500px) {
		.clr_butt_head0 {display:block !important;margin-top:7px !important;}
		.text_head_block {float:none;margin:0 auto;width:330px;text-align:center;}
		.text_head_block p, .text_head_block h1 {text-align:left;padding-left:5%;}
		.text_head_block img {margin-left:5%;}
		
		header:before {display:none !important;}
		
		.list_top_menu_wrapp, .list_menu_lev2 {float:left}
		
		.text_preview_inner p {padding-right:0;max-width:90%;}
		
		.item_list_wrapp {margin-left: -11px;}
		.product_list {margin-left: 11px;width: 290px;}
		
		.sec_filtr .reset_frm {display:block;text-align:center;width:100%;padding-left:0;padding-right:0;}
		.filtr_title, .check_box {margin-left:0;padding-left:30px;padding-right:30px;}
		
		.check_photo {margin-left: 0;}
		.check_input, .check_box, .sec_filtr_wrapp, .sec_filtr_wrapp .reset_frm {text-align:left;}
		.sec_filtr_wrapp .bt_red {margin-left:30px;}
		.sec_filtr_wrapp .reset_frm {margin-left:30px;margin-top:10px}
	}
	@media screen and (max-width: 480px) {
		.check_input input ~ span {margin-left:10px;margin-right:10px}
	}
	@media screen and (max-width: 410px) {
		.with_banner_padd_page {padding-left: 17%;}
		.with_banner_page           {padding-top: 30px;}
		.with_banner_page .with_mini_text {font-size: 23px;}
		.with_banner_page .with_big_text {font-size: 36px;}

		.sec_filtr_wrapp .bt_red, .sec_filtr_wrapp .reset_frm {margin-left: 30px;float: left;}
		.sec_filtr_wrapp .reset_frm {margin-left: 0;text-align:center;}
		
		.sec_filtr_wrapp {padding: 14px 28px 14px 20px;text-align: center;}

		.sec_filtr_wrapp .bt_red, .sec_filtr_wrapp .reset_frm {
			margin-left: 30px;
			float: left;
		}
		.sec_filtr_wrapp .reset_frm {width: auto;clear: both;}
		
	}
	
	@media screen and (max-width: 380px) {
		.item_list_wrapp {margin-left: -13px;}
		
		.with_mini_text, .with_big_text {font-size: 36px;}
		
		.text_preview_page {display:none}
	}
	@media screen and (max-width: 340px) {
		.check_photo label:nth-child(2n) {margin-right:0}
	}

	@media screen and (max-width: 320px) {
		.check_mini {margin-left:-11px;text-align: center;}
		.check_mini label {margin-left:11px;float:left}


		.check_input, .check_box, .sec_filtr_wrapp, .sec_filtr_wrapp .reset_frm {text-align: center;}

		.check_box {text-align: left;}

		.check_mini, .check_input {text-align: center;}

		.check_photo label {display:inline-block;float:none;}

		.check_size label {margin-left:0;margin-right:8px;}

		.check_input input {float:left;}
		.check_input input ~ span {text-align: center;}
		.check_input input ~ span ~ input {float:right;}

		.sec_filtr_wrapp .bt_red, .sec_filtr_wrapp .reset_frm {
			margin-left: 0;
			float: none;
		}
		.sec_filtr_wrapp .reset_frm {width: 100%;}

		.check_photo {margin-left:0;text-align:left}
		.check_photo label {margin-left:0;float:left;margin-right: 0;}
		.check_photo label:nth-child(2n) {float:right;}

	}











