{% extends 'base.html' %}
{% load i18n %}

{% block meta_title %}{{ seo_settings.video.get_meta_title }}{% endblock %}
{% block meta_desc %}{{ seo_settings.video.get_meta_desc }}{% endblock %}
{% block meta_keyw %}{{ seo_settings.video.get_meta_keyw }}{% endblock %}

{% block og_title %}{{ seo_settings.video.get_meta_title }}{% endblock %}
{% block og_desc %}{{ seo_settings.video.get_meta_desc }}{% endblock %}

{% block twitter_title %}{{ seo_settings.video.get_meta_title }}{% endblock %}
{% block twitter_desc %}{{ seo_settings.video.get_meta_desc }}{% endblock %}

{% block content %}
  <main>
    <div class="main_content main_content_video">
      
      <div class="blog_title">
        <ul class="breadcrumb">
          <li><a href="{% url 'home' %}">Главная</a></li>
          <li><span>Видео</span></li>
        </ul>
        <h1 class="title_block">Видео</h1>
      </div>
    
      <div id="main_content" class="content_video">
        {# {% include 'video/include/videos.html' %} #}
        {% include page_template %}
      </div>      
    </div>
  </main>
{% endblock %}

{% block extra_js %}
    <script src="http://code.jquery.com/jquery-latest.js"></script>
    <script src="{{ STATIC_URL }}el-pagination/js/el-pagination.js"></script>
    <script>$.endlessPaginate();</script>
{% endblock %}
