{% extends 'base.html' %}
{% load embed_video_tags catalog_tags currency_tags %}
{% load i18n %}

{% block meta_title %}{{ video.get_meta_title }}{% endblock %}
{% block meta_desc %}{{ video.get_meta_desc }}{% endblock %}
{% block meta_keyw %}{{ video.get_meta_keyw }}{% endblock %}

{% block og_title %}{{ video.get_meta_title }}{% endblock %}
{% block og_desc %}{{ video.get_meta_desc }}{% endblock %}

{% block twitter_title %}{{ video.get_meta_title }}{% endblock %}
{% block twitter_desc %}{{ video.get_meta_desc }}{% endblock %}

{% block content %}
  <main>
    <div class="main_content main_content_video">
      
      <div class="blog_title">
        <ul class="breadcrumb">
          <li><a href="{% url 'home' %}">{% trans 'Главная' %}</a></li>
          <li><a href="{% url 'videos' %}">{% trans 'Видео' %}</a></li>
          <li><span>{{ video.title }}</span></li>
        </ul>
        <!--h1 class="title_block">{{ video.get_h1 }}</h1-->
      </div>
      
      <div id="main_content" class="content_video">
        
        <div class="video_wrapp_page">
          
          <div class="movie_row">
            <div class="movie">
              <div class="wrapp_movie">
                {% video video.video '100%x453' %}
              </div>
            </div>
            <h1 class="title_block">{{ video.get_h1 }}</h1>
            {% get_product_text video as video_text %}
            {% if video_text %}
              <div class="text_blog">
                {{ video_text|safe }}
              </div>
            {% endif %}
            {% with video.products.all as products %}
              {% if products %}
                {# <a href="{{ product.get_absolute_url }}" class="red_button">{% trans 'Купить товар из этого видео' %}</a> #}
                <h3 class="title_block h3_title_block">{% if products.count == 1 %}{% trans 'Купить товар из этого видео' %}{% else %}{% trans 'Купить товары из этого видео' %}{% endif %}</h3>
                <div class="item_list_wrapp align_left" itemscope="" itemtype="http://schema.org/ItemList">
                  {% for p in products %}
                    <div class="product_list">
                      <div class="photo_list">
                        <a href="{{ p.get_absolute_url }}">
                          <img src="{{ p.cover_thumb }}" alt="{{ p.title }}" />
                        </a>
                        {% if p.is_on_sale %}<span class="product-label product-label_discount" title="">-{{ p.sale_percent }}%</span>{% endif %}
                      </div>
                      <h3><a href="{{ p.get_absolute_url }}">{{ p.title }}</a></h3>
                      <h4>{{ p.subtitle }}</h4>
                      <div class="product_price{% if product.is_on_sale %} product_price_sale{% endif %}">
                        {% if p.is_on_sale %}
                          <s title="Старая цена">{{ p.get_price|with_currency:currency|abbr_to_span|safe }}</s>
                          {{ p.get_sale_price|with_currency:currency|abbr_to_span|safe }}
                        {% else %}
                          {{ p.get_price|with_currency:currency|abbr_to_span|safe }}
                        {% endif %}
                      </div>
                      <a href="{{ p.get_absolute_url }}" class="to_cart_list">{% trans 'В корзину' %}</a>
                    </div>
                  {% endfor %}
                </div>
              {% endif %}
            {% endwith %}
          </div>
          
          {% comment %}
            <div class="movie_row">
              <div class="movie">
                <div class="wrapp_movie">
                  <img src="/static/images/video/movie2.jpg" />
                  <a href="#" class="play movie_play">Play</a>
                </div>
              </div>
              <h2 class="title_block">Заголовок видео 2</h2>
              <div class="text_blog">
                <p>
                  Мини бикини от Анастасии Ивановской – это брендовые миниатюрные купальники ручной работы, которые выбирают смелые и уверенные в себе представительницы прекрасного пола. Мини бикини интернет магазин представляет в ассортименте, витрины порадуют девушек уникальными раздельными купальниками, купальниками из сетки, купальниками с мини-шортиками, купальниками с рюшами, купальниками с трусиками на завязках.
                </p>
              </div>
              <a href="#" class="red_button">Купить товар из этого видео</a>
            </div>
          {% endcomment %}
          
        </div>
      </div>
      
    </div>
  </main>
{% endblock %}
