{% extends 'base.html' %}
{% load i18n %}

{% block meta_title %}{{ seo_settings.blog.get_meta_title }}{% endblock %}
{% block meta_desc %}{{ seo_settings.blog.get_meta_desc }}{% endblock %}
{% block meta_keyw %}{{ seo_settings.blog.get_meta_keyw }}{% endblock %}

{% block og_title %}{{ seo_settings.blog.get_meta_title }}{% endblock %}
{% block og_desc %}{{ seo_settings.blog.get_meta_desc }}{% endblock %}

{% block twitter_title %}{{ seo_settings.blog.get_meta_title }}{% endblock %}
{% block twitter_desc %}{{ seo_settings.blog.get_meta_desc }}{% endblock %}

{% block content %}
  <main>
    <div class="main_content main_content_blog">

      {% block breadcrumbs %}
        <div class="blog_title">
          <ul class="breadcrumb">
            <li><a href="{% url 'home' %}">{% trans 'Главная' %}</a></li>
            <li>{% trans 'Блог' %}</li>
          </ul>
          <h1 class="title_block">{{ seo_settings.blog.get_h1 }}</h1>
        </div>
      {% endblock %}
      
      <div class="sec_block sec_content_blog">
        <div class="row_arhive_wth">
          <form method="get" action="{{ request.path }}" class="mini_search">
            <input type="text" value="{% if f.q %}{{ f.q }}{% endif %}" name="q" class="input_text " placeholder="{% trans 'Поиск' %}:">
            <div class="row_form_popup row_pop_butt">
              <button class="bt_red">{% trans 'Найти' %}</button>
            </div>
          </form>
          
          {% if has_months %}
            <div class="arhive_block">
              <div class="arhive_wrapp">
                <h2>{% trans 'Архив' %}</h2>
                {% for column in months_columns %}
                  <ul class="arhive_list">
                    {% for month in column %}
                      <li><a href="{{ request.path }}?year={{ month.year }}&month={{ month.month }}">{{ month|date:'F Y' }}</a></li>
                    {% endfor %}
                  </ul>
                {% endfor %}
              </div>
            </div>
          {% endif %}
        </div>

        {% if gallery.count %}
          <div class="gallery_sec">
            <div class="gallery_sec_wrapp">
              <h2>{% trans 'Галерея' %}</h2>
              <div class="block_photo_sec">
                {% for photo in gallery %}
                  <a href="{{ photo.post.get_absolute_url }}"><img src="{{ photo.thumb_url }}" alt="{{ photo.post.title }}" title="{{ photo.post.title }}"/></a>
                {% endfor %}
              </div>
            </div>
          </div>
        {% endif %}

        {% comment %} {% include 'blog/include/sidebar_instagram.html' %} {% endcomment %}
        {% comment %} {% if social_widgets|length %}
          <div class="soc_block_text" style="width: 100%">
            <div>
              <div class="w_inner_box" style="width: 100%">
                <div class="tabs_butt tabs3">
                  {% for widget in social_widgets %}
                    <a href="#tab{{ forloop.counter }}" class="{{ widget.icon }}{% if forloop.first %} on{% endif %}">{{ widget.label }}</a>
                  {% endfor %}
                </div>
                <div class="tabs_content">
                  {% for widget in social_widgets %}
                    <div class="tab3" id="tabCont{{ forloop.counter }}" style="display: {% if forloop.first %}block{% else %}none{% endif %};">
                      {% if widget.key != 'tw' %}
                        <div>
                          {{ widget.code|safe }}
                        </div>
                      {% else %}
                        {{ widget.code|safe }}
                      {% endif %}
                    </div>
                  {% endfor %}
                </div>
                <script>
                  jQuery(document).ready(function(){
                  var tabsNum = jQuery(".tabs3 a").length;
                  var tabHash = document.location.hash;
                  if(tabHash === "") {tabHash = "#tab1"};
                  var currentTab = parseInt(tabHash.slice(4));
                  var currentTab = parseInt(tabHash.slice(4));
                  jQuery(".tabs3 a[href='" + tabHash + "']").addClass("on");

                  jQuery(".tabs3 a").click(function() {
                    jQuery(".tabs3 a").removeClass("on");
                    jQuery(this).addClass("on");
                    jQuery(this).blur(0);
                    tabHash = jQuery(this).attr("href");
                    currentTab = parseInt(tabHash.slice(4));
                    setTabs();
                  });

                  function setTabs() {
                    jQuery("div.tab3").hide();
                    jQuery("#tabCont" + currentTab).show();
                  };
                  setTabs();
                  });
                </script>
                
                <style>
                  #vk_groups, #vk_groups iframe {height:400px !important;}
                  .tabs_content {position:relative;display:block;clear:both;float:none !important;}
                  h4.jdhshf  {display:block;clear:both;float:none !important;font-weight: 300;background: #EFE9E9;padding: 5px;font-family: 'Calibri', sans-serif;box-shadow: inset 0 0 4px rgba(0,0,0,.13);color:#343333;margin-top:7px;margin-bottom:11px;}
                  .tabs_content:after {content:'';clear:both;display:block;}
                  .w_inner_box {margin-top:11px;}
                  .item-page ul {padding: 0 0 0 50px;}
                  .item-page ul li {padding: 0 0 0 0;}
                  .w_inner_box {width:235px;overflow:hidden}
                  .tabs_butt {position:relative;white-space:nowrap;}
                  .tabs_butt:after {content:'';clear:both;display:block;}
                  .tabs_butt a {display:block;text-decoration:none;float:left;padding:0;margin:0;height:39px;width:25%;background-position:50% 50%;background-repeat:no-repeat;text-indent:-1000px;position:relative;}
                  .tabs_butt a.INS {background-color:#4d78a1;background-image:url(/static/i/IN.jpg);}
                  .tabs_butt a.VK {background-color:#4d759c;background-image:url(/static/i/VK.jpg);}
                  .tabs_butt a.FB {background-color:#3a5b97;background-image:url(/static/i/FB.jpg);}
                  .tabs_butt a.TW {background-color:#6FC4E9;background-image:url(/static/i/TW.jpg);}
                  .tabs_butt a.on {z-index:25;box-shadow:inset 0 0 6px rgba(255,255,255,.73);}
                </style> 
              </div>
            </div>
          </div>
        {% endif %} {% endcomment %}
      </div>
    
      <div id="main_content" class="content_blog">
        <div id="posts" style="min-height: 200px;">
          {% if posts.count %}
            {% include 'blog/include/posts.html' with posts=posts %}
          {% else %}
            {% trans 'Ничего не найдено' %}
          {% endif %}
        </div>
      </div>
    </div>
  </main>
{% endblock %}
