{% extends 'base.html' %}
{% load i18n %}

{% block meta_title %}{{ seo_settings.404.get_meta_title }}{% endblock %}
{% block meta_desc %}{{ seo_settings.404.get_meta_desc }}{% endblock %}
{% block meta_keyw %}{{ seo_settings.404.get_meta_keyw }}{% endblock %}

{% block og_title %}{{ seo_settings.404.get_meta_title }}{% endblock %}
{% block og_desc %}{{ seo_settings.404.get_meta_desc }}{% endblock %}

{% block twitter_title %}{{ seo_settings.404.get_meta_title }}{% endblock %}
{% block twitter_desc %}{{ seo_settings.404.get_meta_desc }}{% endblock %}

{% block content %}
  <main>
    <div class="main_content">
        <div class="blog_title">
            {% block breadcrumbs %}
              <ul class="breadcrumb">
                <li><a href="{% url 'home' %}">{% trans 'Главная' %}</a></li>
                <li>{{ seo_settings.404.get_h1 }}</li>
              </ul>
            {% endblock %}
            <h1 class="title_block" style="margin-bottom: 5px;">{{ seo_settings.404.get_h1 }}</h1>
            <h3>{% trans 'Такой страницы не существует' %}</h3>
        </div>
        <div id="main_content" class="content_video list_push cnt_left">
          <div class="text_preview_left text_light_page" style="margin-top: 40px;">
            <p>{% trans 'Возможно, вы ввели неправильный адрес, или зашли на товар, который распродан.' %}</p>
            <a href="{% url 'women' %}" target="_blank" style="cursor: pointer;">{% trans 'Вернуться в каталог' %}</a>
            {{ seo_settings.404.get_seo_text|safe }}
          </div>
        </div>
    </div>
  </main>
{% endblock %}
