{% extends 'base.html' %}
{% load i18n %}

{% block meta_title %}Тест{% endblock %}
{% block meta_desc %}Тест{% endblock %}
{% block meta_keyw %}Тест{% endblock %}

{% block og_title %}Тест{% endblock %}
{% block og_desc %}Тест{% endblock %}

{% block twitter_title %}Тест{% endblock %}
{% block twitter_desc %}Тест{% endblock %}

{% block content %}
  <main>
    <div class="main_content">
      <div id="main_content" class="content_video list_push cnt_left" style="padding: 50px 50px 150px 50px;">
        <div class="text_preview_left txt_black text_light_page">
          <a rel="leanModal1" href="#auth-test" style="font-size: 1.2rem">Тест</a>
        </div>
      </div>
    </div>
  </main>
{% endblock %}
