{% extends 'base.html' %}
{% load i18n %}

{% block meta_title %}{{ seo_settings.global.get_meta_title }}{% endblock %}
{% block meta_desc %}{{ seo_settings.global.get_meta_desc }}{% endblock %}
{% block meta_keyw %}{{ seo_settings.global.get_meta_keyw }}{% endblock %}

{% block og_title %}{{ seo_settings.global.get_meta_title }}{% endblock %}
{% block og_desc %}{{ seo_settings.global.get_meta_desc }}{% endblock %}

{% block twitter_title %}{{ seo_settings.global.get_meta_title }}{% endblock %}
{% block twitter_desc %}{{ seo_settings.global.get_meta_desc }}{% endblock %}

{% block content %}
  <main>
    <div class="main_content main_content_blog">
      
      <!--ul id="touch_breadcrumb" class="breadcrumb">
        <li><a href="#">Главная</a></li>
        <li><a href="#">Блог</a></li>
      </ul-->
      <div class="blog_title">
        <ul class="breadcrumb">
          <li><a href="#">Главная</a></li>
          <li><a href="#">Блог</a></li>
        </ul>
        <h1 class="title_block">Блог</h1>
      </div>
      
      <div class="sec_block sec_content_blog">
        <div class="row_arhive_wth">
          <form method="get" action="" class="mini_search">
            <input type="text" value="" name="name" class="input_text " placeholder="Поиск:">
            <div class="row_form_popup row_pop_butt">
              <button class="bt_red">Найти</button>
            </div>
          </form>
          
          <div class="arhive_block">
            <div class="arhive_wrapp">
              <h2>Архив</h2>
              <ul class="arhive_list">
                <li><a href="#">Январь 2016</a></li>
                <li><a href="#">Февраль 2016</a></li>
                <li><a href="#">Март 2016</a></li>
                <li><a href="#">Апрель 2016</a></li>
                <li><a href="#">Май 2016</a></li>
                <li><a href="#">Июнь 2016</a></li>
              </ul>
              <ul class="arhive_list">  
                <li><a href="#">Июль 2016</a></li>
                <li><a href="#">Август 2016</a></li>
                <li><a href="#">Сентябрь 2016</a></li>
                <li><a href="#">Октябрь 2016</a></li>
                <li><a href="#">Ноябрь 2016</a></li>
                <li><a href="#">Декабрь 2016</a></li>
              </ul>
            </div>
          </div>
        </div>
      
        <div class="gallery_sec">
          <div class="gallery_sec_wrapp">
            <h2>Галерея</h2>
            <div class="block_photo_sec">
              <a href="#"><img src="/static/images/blog/photo_sec_1.jpg" alt="" /></a>
              <a href="#"><img src="/static/images/blog/photo_sec_2.jpg" alt="" /></a>
              <a href="#"><img src="/static/images/blog/photo_sec_3.jpg" alt="" /></a>
              <a href="#"><img src="/static/images/blog/photo_sec_4.jpg" alt="" /></a>
              <a href="#"><img src="/static/images/blog/photo_sec_5.jpg" alt="" /></a>
              <a href="#"><img src="/static/images/blog/photo_sec_6.jpg" alt="" /></a>
              <a href="#"><img src="/static/images/blog/photo_sec_1.jpg" alt="" /></a>
              <a href="#"><img src="/static/images/blog/photo_sec_2.jpg" alt="" /></a>
              <a href="#"><img src="/static/images/blog/photo_sec_3.jpg" alt="" /></a>
            </div>
          </div>
        </div>
      </div>
    
      <div id="main_content" class="content_blog">
        <div class="rows_blog">
          
          <div class="row_blog">
            <div class="img_blog">
              <img src="/static/images/blog/photo_blog_1.jpg" alt="" />
              
              <a href="#" class="bt_red">Мероприятия</a>
              <span class="bt_red">25.08.2017</span>
            </div>
            <div class="text_blog">
              <h2><a href="#">Заголовок текста или мероприятия</a></h2>
              <p>
                Каждый веб-разработчик знает, что такое текст-«рыба». Текст этот, несмотря на название, не имеет никакого отношения к обитателям водоемов. Используется он веб-дизайнерами для вставки на интернет-страницы и демонстрации внешнего вида контента, просмотра шрифтов, абзацев, отступов и т.д.
              </p>
            </div>
          </div>
          
          <div class="row_blog">
            <div class="img_blog">
              <img src="/static/images/blog/photo_blog_2.jpg" alt="" />
              
              <a href="#" class="bt_red">Мероприятия</a>
              <span class="bt_red">24.08.2017</span>
            </div>
            <div class="text_blog">
              <h2><a href="#">Заголовок текста или мероприятия</a></h2>
              <p>
                Каждый веб-разработчик знает, что такое текст-«рыба». Текст этот, несмотря на название, не имеет никакого отношения к обитателям водоемов. Используется он веб-дизайнерами для вставки на интернет-страницы и демонстрации внешнего вида контента, просмотра шрифтов, абзацев, отступов и т.д.
              </p>
            </div>
          </div>
          
          <div class="row_blog">
            <div class="img_blog">
              <img src="/static/images/blog/photo_blog_3.jpg" alt="" />
              
              <a href="#" class="bt_red">Мероприятия</a>
              <span class="bt_red">23.08.2017</span>
            </div>
            <div class="text_blog">
              <h2><a href="#">Заголовок текста или мероприятия</a></h2>
              <p>
                Каждый веб-разработчик знает, что такое текст-«рыба». Текст этот, несмотря на название, не имеет никакого отношения к обитателям водоемов. Используется он веб-дизайнерами для вставки на интернет-страницы и демонстрации внешнего вида контента, просмотра шрифтов, абзацев, отступов и т.д.
              </p>
            </div>
          </div>
          
        </div>
        
        <div class="pagination_block">
          <div class="wrapp_pagination">
            <a href="#" class="yet_items"><span>Показать ещё 10</span></a>
            <div class="pagination pagination_blog">
              <ul class="pagination_list" id="paginationUL">
                <li class="pagi_bts pagi_back">
                  <a href="#">Назад</a>
                </li>
                <li><a href="#">1</a></li>
                <li><a href="#">&hellip;</a></li>
                <li><a href="#">7</a></li>
                <li><a href="#">8</a></li>
                <li><a href="#">9</a></li>
                <li><a href="#">10</a></li>
                <li class="active_pagi"><a href="#">11</a></li>
                <li><a href="#">12</a></li>
                <li><a href="#">13</a></li>
                <li><a href="#">14</a></li>
                <li><a href="#">15</a></li>
                <li><a href="#">16</a></li>
                <li><a href="#">17</a></li>
                <li><a href="#">18</a></li>
                <li><a href="#">19</a></li>
                <li><a href="#">20</a></li>
                <li><a href="#">21</a></li>
                <li><a href="#">22</a></li>
                <li><a href="#">23</a></li>
                <li><a href="#">24</a></li>
                <li><a href="#">&hellip;</a></li>
                <li><a href="#">38</a></li>
                <li class="pagi_bts pagi_next">
                  <a href="#">Далее</a>
                </li>
              </ul>
            </div>
          </div>
        </div>
      </div>
    </div>
  </main>
{% endblock %}
