{% extends 'base.html' %}
{% load i18n %}

{% block meta_title %}{{ seo_settings.global.get_meta_title }}{% endblock %}
{% block meta_desc %}{{ seo_settings.global.get_meta_desc }}{% endblock %}
{% block meta_keyw %}{{ seo_settings.global.get_meta_keyw }}{% endblock %}

{% block og_title %}{{ seo_settings.global.get_meta_title }}{% endblock %}
{% block og_desc %}{{ seo_settings.global.get_meta_desc }}{% endblock %}

{% block twitter_title %}{{ seo_settings.global.get_meta_title }}{% endblock %}
{% block twitter_desc %}{{ seo_settings.global.get_meta_desc }}{% endblock %}

{% block content %}
  <main>
    <div class="main_content main_content_blog">
      
      <div class="blog_title">
        <ul class="breadcrumb">
          <li><a href="#">Главная</a></li>
          <li><a href="#">Блог</a></li>
          <li><a href="#">Заголовок текста или мероприятия</a></li>
        </ul>
        <h1 class="title_block">Заголовок текста или мероприятия</h1>
      </div>
      
      <div class="sec_block sec_content_blog sec_mini_movie">
        
        <div class="arhive_block mini_video">
          <div class="arhive_wrapp mini_video_wrapp">
            <h2>Видео</h2>
            
            <div class="list_mini_video">
              <div class="row_movie">
                <div class="object_movie">
                  <img src="/static/images/blog_page/movie_1.jpg" />
                  <div class="play_movie"></div>
                </div>
                <div class="object_movie">
                  <img src="/static/images/blog_page/movie_1.jpg" />
                  <div class="play_movie"></div>
                </div>
              </div>
            </div>
          </div>
        </div>
      
        <div class="gallery_sec photogallery_bl_page">
          <div class="gallery_sec_wrapp">
            <h2>Галерея</h2>
            <div class="block_photo_sec">
              <a href="#"><img src="/static/images/blog/photo_sec_1.jpg" alt="" /></a>
              <a href="#"><img src="/static/images/blog/photo_sec_2.jpg" alt="" /></a>
              <a href="#"><img src="/static/images/blog/photo_sec_3.jpg" alt="" /></a>
              <a href="#"><img src="/static/images/blog/photo_sec_4.jpg" alt="" /></a>
              <a href="#"><img src="/static/images/blog/photo_sec_5.jpg" alt="" /></a>
              <a href="#"><img src="/static/images/blog/photo_sec_6.jpg" alt="" /></a>
              <a href="#"><img src="/static/images/blog/photo_sec_1.jpg" alt="" /></a>
              <a href="#"><img src="/static/images/blog/photo_sec_2.jpg" alt="" /></a>
              <a href="#"><img src="/static/images/blog/photo_sec_3.jpg" alt="" /></a>
            </div>
          </div>
        </div>
      </div>
    
      <div id="main_content" class="content_blog">
        <div class="rows_blog rows_bl_page">
          
          <div class="row_blog row_blog_page">
            <div class="img_blog">
              <img src="/static/images/blog/photo_blog_1.jpg" alt="" />
              
              <a href="#" class="bt_red">Мероприятия</a>
              <span class="bt_red">25.08.2017</span>
            </div>
            <div class="text_blog">
              <p>
                Каждый веб-разработчик знает, что такое текст-«рыба». Текст этот, несмотря на название, не имеет никакого отношения к обитателям водоемов. Используется он веб-дизайнерами для вставки на интернет-страницы и демонстрации внешнего вида контента, просмотра шрифтов, абзацев, отступов и т.д.
              </p>
            </div>
          </div>
          
          <div class="row_blog row_blog_page">
            <div class="img_blog">
              <img src="/static/images/blog/photo_blog_2.jpg" alt="" />
            </div>
            <div class="text_blog">
              <p>
                Говорить о «купальном костюме» древности, Средневековья, Ренессанса и последующих эпох не приходится. В те времена люди купались либо вовсе без одежды, либо в нижнем белье, которое не было приспособлено специально для купания.
              </p>
              <p>
                На фресках в Помпеях и в некоторых других местах бывшей Римской империи изображены женщины в костюмах, напоминающих современные бикини, однако позже эта традиция была забыта на долгие века.
              </p>
              <p>
                Античное восхищение обнажённым телом уступило место презрению и даже «умерщвлению» грешной плоти. Однако купание всё же оставалось излюбленным развлечением людей.
              </p>
              <p>
                В эпоху Людовика XIV дамы и кавалеры купались в нижнем белье, что приводило в недоумение испанцев — в Испании было немыслимым увидеть даже краешек ноги женщины, не то что созерцать женщину в намокшей белой сорочке.
              </p>
              <p>
                Первые костюмы, специально предназначенные для купания, стали появляться в конце XVIII века на волне общеевропейского увлечения идеями Руссо, призывавшего к естественности и близости к природе.
              </p>
              <p>
                В XIX веке появились первые раздельные женские купальные костюмы. В Англии в викторианскую эпоху совместное купание мужчин и женщин даже в специальных костюмах осуждалось. Во избежание этого были изобретены так называемые купальные машины, закрывающие купающихся от посторонних глаз.
              </p>
              <p>
                Однако во Франции нравы были куда свободнее. Там же для мужчин появляется специальный полосатый обтягивающий костюм.
              </p>
            </div>
          </div>
          
          <div class="soc_share">
            <div class="soc_share_wrapp">
              <div class="title_mini">Поделиться в соц. сетях:</div>
              <a href="#"><img src="/static/images/social/face.png" alt="FaceBook" /></a>
              <a href="#"><img src="/static/images/social/vk.png" alt="Vk" /></a>
              <a href="#"><img src="/static/images/social/tw.png" alt="Twitter" /></a>
              <a href="#"><img src="/static/images/social/ok.png" alt="Ok" /></a>
              <a href="#"><img src="/static/images/social/you.png" alt="YouTube" /></a>
              <a href="#"><img src="/static/images/social/gplus.png" alt="GooglePlus" /></a>
            </div>
          </div>
          
          <div class="comment_block">
            <div class="comment_wrapp">
              <h3 class="title_block">Комментарии</h3>
              
              <div class="comment_row">
                <h4>Марина</h4>
                <div class="comment_date">29 июля 2016</div>
                <div class="comment_text">
                  Таким образом реализация намеченных плановых заданий требуют от нас анализа форм развития. 
                </div>
              </div>
              
              <div class="comment_row">
                <h4>Никита</h4>
                <div class="comment_date">29 июля 2016</div>
                <div class="comment_text">
                  Таким образом реализация намеченных плановых заданий требуют от нас анализа форм развития. 
                </div>
              </div>
              
              <div class="comment_row">
                <h4>Мартышка</h4>
                <div class="comment_date">29 июля 2016</div>
                <div class="comment_text">
                  Таким образом реализация намеченных плановых заданий требуют от нас анализа форм развития. 
                </div>
              </div>
              
              <form action="" method="post" class="comment_form">
                <div class="input_shell">
                  <textarea name="text" rows="4" id="text" class="t_area input_text bg_area"></textarea>
                  <span class="err_r">Заполните поле</span>
                </div>
                <div class="row_form_popup row_pop_butt">
                  <button class="bt_red">Отправить</button>
                </div>
              </form>
              
            </div>
          </div>
          
        </div>
        
      </div>
      
    </div>
  </main>
{% endblock %}
