{% extends 'base.html' %}
{% load i18n %}

{% block meta_title %}{{ seo_settings.home.get_meta_title }}{% endblock %}
{% block meta_desc %}{{ seo_settings.home.get_meta_desc }}{% endblock %}
{% block meta_keyw %}{{ seo_settings.home.get_meta_keyw }}{% endblock %}

{% block og_title %}{{ seo_settings.home.get_meta_title }}{% endblock %}
{% block og_desc %}{{ seo_settings.home.get_meta_desc }}{% endblock %}

{% block twitter_title %}{{ seo_settings.home.get_meta_title }}{% endblock %}
{% block twitter_desc %}{{ seo_settings.home.get_meta_desc }}{% endblock %}

{% block base_class %}shell_wrapp{% endblock %}

{% block header %}
  {% include 'blocks/header_home.html' %}
{% endblock %}

{% block content %}
  <main>
    <div class="main_content">
      <h2 class="title_block">Популярные товары</h2>
      {% include 'blocks/homepage_products.html' %}
    </div>
    
    <div class="text_preview_wrapp">
      <div class="text_preview_inner">
        {% if seo_settings.home.seo_text %}
          <div class="text_preview_left">
            {{ seo_settings.home.seo_text|safe }}
          </div>
        {% endif %}
        
        <div class="soc_block_text">
          <div>
            <!--VK-->
            <script type="text/javascript" src="//vk.com/js/api/openapi.js?116"></script>
            <!-- VK Widget -->
            <div id="vk_groups" style="height:auto !important"></div>
            <script type="text/javascript">
            VK.Widgets.Group("vk_groups", {mode: 0, width: "235", height: "365", color1: 'FFFFFF', color2: '2B587A', color3: '5B7FA6'}, 68369405);
            </script>
            <!--/VK-->
          </div>
        </div>
      </div>
    </div>
    
    <div class="with_banner">
      <div class="with_banner_wrapp" style="background-image:url(/static/images/akciya_bg.jpg);">
        <div class="with_banner_padd">
          <div class="with_mini_text">Конкурс на</div>
          <div class="with_big_text">лучшее фото</div>
          <div class="with_mini_text">в бикини</div>
          <a href="" class="butt_with">Принять участие</a>
        </div>
      </div>
    </div>
  </main>
{% endblock %}
