{% extends 'base.html' %}
{% load i18n core_tags %}

{% block meta_title %}{{ seo_settings.home.get_meta_title }}{% endblock %}
{% block meta_desc %}{{ seo_settings.home.get_meta_desc }}{% endblock %}
{% block meta_keyw %}{{ seo_settings.home.get_meta_keyw }}{% endblock %}

{% block og_title %}{{ seo_settings.home.get_meta_title }}{% endblock %}
{% block og_desc %}{{ seo_settings.home.get_meta_desc }}{% endblock %}

{% block twitter_title %}{{ seo_settings.home.get_meta_title }}{% endblock %}
{% block twitter_desc %}{{ seo_settings.home.get_meta_desc }}{% endblock %}

{% block base_class %}shell_wrapp{% endblock %}

{% block header %}
  {% include 'blocks/header_home.html' %}
{% endblock %}

{% block content %}
  <main>
    <div class="main_content">

      {% if settings.catalog_special_banner_mobil_url %}
      <style>
        @media screen and (min-width: 480px) {
          .banner_mobil {
            display: none;
          }
        }
        .banner_mobil__img {
          width: 100%;
        }
      </style>
      <div class="banner_mobil">
        <picture>
          <img class="banner_mobil__img" src="{{ settings.catalog_special_banner_mobil_url }}">
        </picture>
      </div>
      {% endif %}

      <h2 class="title_block">{% trans 'Популярные товары' %}</h2>
      {% include 'blocks/homepage_products.html' %}
    </div>
    
    <div class="text_preview_wrapp">
      <div class="text_preview_inner">
        {% if seo_settings.home.get_seo_text %}
          <div class="text_preview_left text_light_page">
            {{ seo_settings.home.get_seo_text|safe }}
          </div>
        {% endif %}

        {% if social_widgets|length %}
          <div class="soc_block_text">
            <div>
              <div class="w_inner_box">
                <div class="tabs_butt tabs3">
                  {% for widget in social_widgets %}
                    <a href="#tab{{ forloop.counter }}" class="{{ widget.icon }}{% if forloop.first %} on{% endif %}">{{ widget.label }}</a>
                  {% endfor %}
                </div>
                <div class="tabs_content">
                  {% for widget in social_widgets %}
                    <div class="tab3" id="tabCont{{ forloop.counter }}" style="display: {% if forloop.first %}block{% else %}none{% endif %};">
                      {% if widget.key != 'tw' %}
                        <div>
                          {{ widget.code|safe }}
                        </div>
                      {% else %}
                        {{ widget.code|safe }}
                      {% endif %}
                    </div>
                  {% endfor %}
                </div>
                <script>
                  jQuery(document).ready(function(){
                  var tabsNum = jQuery(".tabs3 a").length;
                  var tabHash = document.location.hash;
                  if(tabHash === "") {tabHash = "#tab1"};
                  var currentTab = parseInt(tabHash.slice(4));
                  var currentTab = parseInt(tabHash.slice(4));
                  jQuery(".tabs3 a[href='" + tabHash + "']").addClass("on");

                  jQuery(".tabs3 a").click(function() {
                    jQuery(".tabs3 a").removeClass("on");
                    jQuery(this).addClass("on");
                    jQuery(this).blur(0);
                    tabHash = jQuery(this).attr("href");
                    currentTab = parseInt(tabHash.slice(4));
                    setTabs();
                  });

                  function setTabs() {
                    jQuery("div.tab3").hide();
                    jQuery("#tabCont" + currentTab).show();
                  };
                  setTabs();
                  });
                </script>
                
                <style>
                  #vk_groups, #vk_groups iframe {height:400px !important;}
                  .tabs_content {position:relative;display:block;clear:both;float:none !important;}
                  h4.jdhshf  {display:block;clear:both;float:none !important;font-weight: 300;background: #EFE9E9;padding: 5px;font-family: 'Calibri', sans-serif;box-shadow: inset 0 0 4px rgba(0,0,0,.13);color:#343333;margin-top:7px;margin-bottom:11px;}
                  .tabs_content:after {content:'';clear:both;display:block;}
                  .w_inner_box {margin-top:11px;}
                  .item-page ul {padding: 0 0 0 50px;}
                  .item-page ul li {padding: 0 0 0 0;}
                  .w_inner_box {width:235px;overflow:hidden}
                  .tabs_butt {position:relative;white-space:nowrap;}
                  .tabs_butt:after {content:'';clear:both;display:block;}
                  .tabs_butt a {display:block;text-decoration:none;float:left;padding:0;margin:0;height:39px;width:25%;background-position:50% 50%;background-repeat:no-repeat;text-indent:-1000px;position:relative;}
                  .tabs_butt a.INS {background-color:#4d78a1;background-image:url(/static/i/IN.jpg);}
                  .tabs_butt a.VK {background-color:#4d759c;background-image:url(/static/i/VK.jpg);}
                  .tabs_butt a.FB {background-color:#3a5b97;background-image:url(/static/i/FB.jpg);}
                  .tabs_butt a.TW {background-color:#6FC4E9;background-image:url(/static/i/TW.jpg);}
                  .tabs_butt a.on {z-index:25;box-shadow:inset 0 0 6px rgba(255,255,255,.73);}
                </style> 
              </div>
            </div>
          </div>
        {% endif %}

      </div>
    </div>

    {% if footer_banner %}
      {% with footer_banner as banner %}
        {% if banner.url and not banner.has_button %}
          <a rel="nofollow" href="{{ banner.url|add_subdomain }}"{% if banner.target_blank %} target="_blank"{% endif %}>
        {% endif %}
          <div class="with_banner">
            <div class="with_banner_wrapp" style="background-image:url({{ banner.image_url }});">
              {% if banner.has_text or banner.has_button %}
                <div class="with_banner_padd">
                  {% for line in banner.lines.all %}
                    <div class="{% if line.big %}with_big_text{% else %}with_mini_text{% endif %}">{{ line.line }}</div>
                  {% endfor %}
                  {% if banner.has_button %}<a rel="nofollow" href="{{ banner.url|add_subdomain }}"{% if banner.target_blank %} target="_blank"{% endif %} class="butt_with">{{ banner.button_text }}</a>{% endif %}
                </div>
              {% endif %}
            </div>
          </div>
        {% if banner.url and not banner.has_button %}
          </a>
        {% endif %}
      {% endwith %}
    {% endif %}

  </main>
{% endblock %}
