{% extends 'base.html' %}
{% load i18n %}

{% block meta_title %}{{ seo_settings.global.get_meta_title }}{% endblock %}
{% block meta_desc %}{{ seo_settings.global.get_meta_desc }}{% endblock %}
{% block meta_keyw %}{{ seo_settings.global.get_meta_keyw }}{% endblock %}

{% block og_title %}{{ seo_settings.global.get_meta_title }}{% endblock %}
{% block og_desc %}{{ seo_settings.global.get_meta_desc }}{% endblock %}

{% block twitter_title %}{{ seo_settings.global.get_meta_title }}{% endblock %}
{% block twitter_desc %}{{ seo_settings.global.get_meta_desc }}{% endblock %}

{% block content %}
  <div class="with_banner_page banner_konkurs" style="background-image:url(/static/images/konkurs/konkurs_jpg.jpg);">
    <div class="with_banner_padd_page">
      <div class="with_mini_text">Конкурс на</div>
      <div class="with_big_text">лучшее фото</div>
      <div class="with_mini_text">в бикини</div>
      <a href="" class="butt_with">Принять участие</a>
      
      <div class="share_banner">
        <p>Поделиться:</p>
        <a href="#" class="soc_banner"><img src="/static/i/soc_face.png" alt="Поделиться в Facebook" /></a>
        <a href="#" class="soc_banner"><img src="/static/i/soc_vk.png" alt="Поделиться в ВКонтакте" /></a>
        <a href="#" class="soc_banner"><img src="/static/i/tw_icon.png" alt="Поделиться в Twitter" /></a>
        <a href="#" class="soc_banner"><img src="/static/i/soc_ok.png" alt="Поделиться в Одноклассниках" /></a>
        <a href="#" class="soc_banner"><img src="/static/i/you_icon.png" alt="Поделиться в Youtube" /></a>
        <a href="#" class="soc_banner"><img src="/static/i/soc_gplus.png" alt="Поделиться в Google Plus" /></a>
      </div>
    </div>
  </div>
  
  <main>
    <div class="main_content main_content_video">
      <div class="blog_title"><h1 class="title_block">Условия конкурса</h1></div>
    
      <div id="main_content" class="content_video list_push cnt_left">
        
        <div class="text_preview_left txt_black">
          <p><strong>Не следует, однако забывать</strong>, что сложившаяся структура организации позволяет выполнять важные задания по разработке направлений прогрессивного развития. Не следует, однако забывать, что укрепление и развитие структуры обеспечивает широкому кругу (специалистов) участие в формировании модели развития. Задача организации, в особенности же укрепление и развитие структуры позволяет оценить значение существенных финансовых и административных условий.</p>
          
          <p><strong>С другой стороны консультация</strong> с широким активом требуют от нас анализа существенных финансовых и административных условий. Значимость этих проблем настолько очевидна, что консультация с широким активом представляет собой интересный эксперимент проверки систем массового участия. Разнообразный и богатый опыт реализация намеченных плановых заданий способствует подготовки и реализации систем массового участия. Товарищи! новая модель организационной деятельности влечет за собой процесс внедрения и модернизации направлений прогрессивного развития. Задача организации, в особенности же сложившаяся структура организации представляет собой интересный эксперимент проверки форм развития. Повседневная практика показывает, что укрепление и развитие структуры влечет за собой процесс внедрения и модернизации дальнейших направлений развития.</p>
          
          <p><strong>Таким образом</strong> постоянное информационно-пропагандистское обеспечение нашей деятельности представляет собой интересный эксперимент проверки новых предложений. С другой стороны новая модель организационной деятельности влечет за собой процесс внедрения и модернизации направлений прогрессивного развития. Таким образом постоянное информационно-пропагандистское обеспечение нашей деятельности в значительной степени обуславливает создание соответствующий условий активизации. Разнообразный и богатый опыт постоянный количественный рост и сфера нашей активности позволяет выполнять важные задания по разработке новых предложений.</p>
        </div>
      
        <h2 class="title_block">Участники конкурса</h2>
        <div class="item_list_wrapp item_list_wrapp_all list_face" itemscope="" itemtype="http://schema.org/ItemList">
          
          <div class="product_list product_face">
            <div class="photo_list"><a href=""><img src="/static/images/konkurs/photo_face.jpg" alt=""></a></div>
            <h3>
              <a href="">Милана Милановна</a>
                <div class="count_block">
                  <a href="#" class="butt_put">
                    <label for="put_1" class="td_label_check_win">
                      <input type="checkbox" name="put[]" id="put_1" value="1">
                      <img src="/static/i/heart_icon.png" alt="В Избранное">
                    </label>
                  </a>
                  <span class="disc_number">3</span>
                </div>                
            </h3>
          </div>
          
          <div class="product_list product_face">
            <div class="photo_list"><a href=""><img src="/static/images/konkurs/photo_face.jpg" alt=""></a></div>
            <h3>
              <a href="">Милана Милановна</a>
                <div class="count_block">
                  <a href="#" class="butt_put">
                    <label for="put_2" class="td_label_check_win">
                      <input type="checkbox" name="put[]" id="put_2" value="1">
                      <img src="/static/i/heart_icon.png" alt="В Избранное">
                    </label>
                  </a>
                  <span class="disc_number">3</span>
                </div>            
            </h3>
          </div>
          
          <div class="product_list product_face">
            <div class="photo_list"><a href=""><img src="/static/images/konkurs/photo_face.jpg" alt=""></a></div>
            <h3>
              <a href="">Милана Милановна</a>
                <div class="count_block">
                  <a href="#" class="butt_put">
                    <label for="put_3" class="td_label_check_win">
                      <input type="checkbox" name="put[]" id="put_3" value="1">
                      <img src="/static/i/heart_icon.png" alt="В Избранное">
                    </label>
                  </a>
                  <span class="disc_number">23</span>
                </div>                
            </h3>
          </div>
          
          <div class="product_list product_face">
            <div class="photo_list"><a href=""><img src="/static/images/konkurs/photo_face.jpg" alt=""></a></div>
            <h3>
              <a href="">Милана Милановна</a>
                <div class="count_block">
                  <a href="#" class="butt_put">
                    <label for="put_4" class="td_label_check_win">
                      <input type="checkbox" name="put[]" id="put_4" value="1">
                      <img src="/static/i/heart_icon.png" alt="В Избранное">
                    </label>
                  </a>
                  <span class="disc_number">3</span>
                </div>                
            </h3>
          </div>
          
          <div class="product_list product_face">
            <div class="photo_list"><a href=""><img src="/static/images/konkurs/photo_face.jpg" alt=""></a></div>
            <h3>
              <a href="">Милана Милановна</a>
                <div class="count_block">
                  <a href="#" class="butt_put">
                    <label for="put_5" class="td_label_check_win">
                      <input type="checkbox" name="put[]" id="put_5" value="1">
                      <img src="/static/i/heart_icon.png" alt="В Избранное">
                    </label>
                  </a>
                  <span class="disc_number">315</span>
                </div>                
            </h3>
          </div>
          
          <div class="product_list product_face">
            <div class="photo_list"><a href=""><img src="/static/images/konkurs/photo_face.jpg" alt=""></a></div>
            <h3>
              <a href="">Милана Милановна</a>
                <div class="count_block">
                  <a href="#" class="butt_put">
                    <label for="put_6" class="td_label_check_win">
                      <input type="checkbox" name="put[]" id="put_6" value="1">
                      <img src="/static/i/heart_icon.png" alt="В Избранное">
                    </label>
                  </a>
                  <span class="disc_number">3</span>
                </div>                
            </h3>
          </div>
          
          <div class="product_list product_face">
            <div class="photo_list"><a href=""><img src="/static/images/konkurs/photo_face.jpg" alt=""></a></div>
            <h3>
              <a href="">Милана Милановна</a>
                <div class="count_block">
                  <a href="#" class="butt_put">
                    <label for="put_1" class="td_label_check_win">
                      <input type="checkbox" name="put[]" id="put_1" value="1">
                      <img src="/static/i/heart_icon.png" alt="В Избранное">
                    </label>
                  </a>
                  <span class="disc_number">3</span>
                </div>                
            </h3>
          </div>
          
          
        </div>
        
        <h2 class="title_block">Архив конкурсов</h2>
        
        <div class="item_list_wrapp item_list_wrapp_all list_face arhive_list_jpg">
          
          <a href="" class="product_list product_face" style="background-image:url(/static/images/konkurs/konkurs_photo.jpg);">
            <div class="txt_product">
              <p><strong>Конкурс</strong></p>
              <h2>На лучшее фото в купальнике</h2>
              <p>22.01.2017</p>
            </div>
          </a>
          
          <a href="" class="product_list product_face" style="background-image:url(/static/images/konkurs/konkurs_photo.jpg);">
            <div class="txt_product">
              <p><strong>Конкурс</strong></p>
              <h2>На лучшее фото в купальнике</h2>
              <p>22.01.2017</p>
            </div>
          </a>
          
          <a href="" class="product_list product_face" style="background-image:url(/static/images/konkurs/konkurs_photo.jpg);">
            <div class="txt_product">
              <p><strong>Конкурс</strong></p>
              <h2>На лучшее фото в купальнике</h2>
              <p>22.01.2017</p>
            </div>
          </a>
          
          <a href="" class="product_list product_face" style="background-image:url(/static/images/konkurs/konkurs_photo.jpg);">
            <div class="txt_product">
              <p><strong>Конкурс</strong></p>
              <h2>На лучшее фото в купальнике</h2>
              <p>22.01.2017</p>
            </div>
          </a>
          
          <a href="" class="product_list product_face" style="background-image:url(/static/images/konkurs/konkurs_photo.jpg);">
            <div class="txt_product">
              <p><strong>Конкурс</strong></p>
              <h2>На лучшее фото в купальнике</h2>
              <p>22.01.2017</p>
            </div>
          </a>
          
        </div>
        
      </div>
      
    </div>
  </main>
{% endblock %}
