{% extends 'base.html' %}
{% load i18n %}

{% block content %}
  <main>
    <div class="main_content">
      <ol style="margin: 0 0 20px 40px;">
        <li><a href="{% url 'blog-page' %}">blog-page</a></li>
        <li><a href="{% url 'blog' %}">blog</a></li>
        <li><a href="{% url 'home' %}">home</a></li>
        <li><a href="{% url 'konkurs-itog' %}">konkurs-itog</a></li>
        <li><a href="{% url 'konkurs-model' %}">konkurs-model</a></li>
        <li><a href="{% url 'konkurs1' %}">konkurs1</a></li>
        <li><a href="{% url 'men-detail' %}">men-detail</a></li>
        <li><a href="{% url 'men' %}">men</a></li>
        <li><a href="{% url 'my-cut-1' %}">my-cut-1</a></li>
        <li><a href="{% url 'my-cut-2' %}">my-cut-2</a></li>
        <li><a href="{% url 'my-cut-3' %}">my-cut-3</a></li>
        <li><a href="{% url 'my-cut-4' %}">my-cut-4</a></li>
        <li><a href="{% url 'my-cut-after' %}">my-cut-after</a></li>
        <li><a href="{% url 'my-cut-spisok' %}">my-cut-spisok</a></li>
        <li><a href="{% url 'my-cut' %}">my-cut</a></li>
        <li><a href="{% url 'pages' %}">pages</a></li>
        <li><a href="{% url 'pd-and-history' %}">pd-and-history</a></li>
        <li><a href="{% url 'podarochnyi-sertificat' %}">podarochnyi-sertificat</a></li>
        <li><a href="{% url 'spisok-pokupok' %}">spisok-pokupok</a></li>
        <li><a href="{% url 'video-page' %}">video-page</a></li>
        <li><a href="{% url 'video' %}">video</a></li>
        <li><a href="{% url 'women-detail' %}">women-detail</a></li>
        <li><a href="{% url 'women' %}">women</a></li>
      </ol>
    </div>
  </main>
{% endblock %}
