{% extends 'base.html' %}
{% load i18n %}

{% block meta_title %}{{ page.get_meta_title }}{% endblock %}
{% block meta_desc %}{{ page.get_meta_desc }}{% endblock %}
{% block meta_keyw %}{{ page.get_meta_keyw }}{% endblock %}

{% block og_title %}{{ page.get_meta_title }}{% endblock %}
{% block og_desc %}{{ page.get_meta_desc }}{% endblock %}

{% block twitter_title %}{{ page.get_meta_title }}{% endblock %}
{% block twitter_desc %}{{ page.get_meta_desc }}{% endblock %}

{% block pre_head_js %}
  <script src="https://cdnjs.cloudflare.com/ajax/libs/uikit/3.2.0/js/uikit.min.js"/>
{% endblock %}

{% block content %}
  <style>
  </style>
  <main>
    <div class="main_content">
        <div class="blog_title">
            {% block breadcrumbs %}
              <ul class="breadcrumb">
                <li><a href="{% url 'home' %}">{% trans 'Главная' %}</a></li>
                <li>{{ page.title }}</li>
              </ul>
            {% endblock %}
            <h1 class="title_block">{{ page.get_h1 }}</h1>
        </div>
        <div id="main_content" class="content_video list_push cnt_left">
            <div class="text_preview_left txt_black text_light_page">
                {{ page.text|safe }}
                {% if page.accordion_sections.count %}
                  <div class="wrap-accordion" uk-accordion="multiple: true">
                    {% for section in page.accordion_sections.all %}
                      <div class="parent">
                        <a class="uk-accordion-title" href="#">
                          <div class="wrap">
                            <div class="tit"><h2>{{ section.title|safe }}</h2></div><div><img src="/static/i/dc.svg"></div>
                          </div>
                        </a>
                        <div class="uk-accordion-content">
                          {{ section.text|safe }}
                        </div>
                      </div>
                    {% endfor %}
                  </div>
                {% endif %}
            </div>
        </div>
    </div>
  </main>
{% endblock %}
