{% extends "admin/change_form.html" %}
{% load admin_urls admin_static admin_modify %}

{% block extrahead %}
    {{ block.super }}
    <script type="text/javascript" src="/static/admin/js/collapse_attrs.js"></script>
{% endblock %}

{% block extrastyle %}
    {{ block.super }}
    <style type="text/css">
        .form-row input[type=checkbox] { display: inline !important; }
        .form-row li { margin-bottom: 5px; }
    </style>
{% endblock %}

{% block object-tools-items %}
    {% if original.id %}
        {% comment %}
            <li>
                {% url opts|admin_urlname:'change_category' original.pk|admin_urlquote as change_category_url %}
                <a href="{% add_preserved_filters change_category_url %}" class="historylink">Изменить категорию</a>
            </li>
        {% endcomment %}
        <li>
            {% url opts|admin_urlname:'change_categories' original.pk|admin_urlquote as change_categories_url %}
            <a href="{% add_preserved_filters change_categories_url %}" class="historylink">Изменить категории</a>
        </li>
        <li>
            {% url opts|admin_urlname:'change_attributes' original.pk|admin_urlquote as change_attributes_url %}
            <a href="{% add_preserved_filters change_attributes_url %}" class="historylink">Изменить атрибуты</a>
        </li>
    {% endif %}
    {{ block.super }}
{% endblock %}
