{% extends "admin/change_form.html" %}
{% load admin_urls admin_static admin_modify %}

{% block extrastyle %}
    <style type="text/css">
        .form-row input[type=checkbox] { display: inline !important; }
        .form-row li { margin-bottom: 5px; }
    </style>
{% endblock %}

{% block object-tools-items %}
    <li>
        {# {% url opts|admin_urlname:'edit_result' original.pk|admin_urlquote as edit_result_url %} #}
        {# <a href="{% add_preserved_filters edit_result_url %}" class="historylink">Edit result</a> #}
        <a href="edit_result/" class="historylink">Edit result</a>
    </li>
    {{ block.super }}
{% endblock %}
