{% extends 'base.html' %}
{% load i18n catalog_tags core_tags embed_video_tags %}

{% block meta_title %}{{ product.get_meta_title }}{% endblock %}
{% block meta_desc %}{{ product.get_meta_desc }}{% endblock %}
{% block meta_keyw %}{{ product.get_meta_keyw }}{% endblock %}

{% block og_title %}{{ product.get_meta_title }}{% endblock %}
{% block og_desc %}{{ product.get_meta_desc }}{% endblock %}

{% block twitter_title %}{{ product.get_meta_title }}{% endblock %}
{% block twitter_desc %}{{ product.get_meta_desc }}{% endblock %}

{% block content %}
  <main>
    <div class="main_content">
      
      <ul id="touch_breadcrumb" class="breadcrumb">
        <li><a href="{% url 'home' %}">Главная</a></li>
        {% if sex == 'female' %}<li><a href="{% url 'women' %}">Женщинам</a></li>
        {% elif sex == 'male' %}<li><a href="{% url 'men' %}">Мужчинам</a></li>
        {% endif %}
        <li><a href="{{ category.get_absolute_url }}">{{ category.title }}</a></li>
        <li>{{ product.title }}</li>
      </ul>
    
      <div id="main_content" class="wrapp_content">
        <ul class="breadcrumb">
          <li><a href="{% url 'home' %}">Главная</a></li>
          {% if sex == 'female' %}<li><a href="{% url 'women' %}">Женщинам</a></li>
          {% elif sex == 'male' %}<li><a href="{% url 'men' %}">Мужчинам</a></li>
          {% endif %}
          <li><a href="{{ category.get_absolute_url }}">{{ category.title }}</a></li>
          <li>{{ product.title }}</li>
        </ul>

        <style>
          .ch_title_item._custom:after { content: none; }
        </style>

        <h1 class="title_block">{{ product.title }}</h1>
        {% if product.vendor_code %}
          <div style="margin: -20px 0 20px;"><span class="ch_title_item _custom">Артикул: </span>{{ product.vendor_code }}</div> 
        {% endif %}

        <div class="item_content_block">
        
        <!-- SLIDER ITEM >>> -->
          <div class="nom_img">
          <script language="javascript" src="/static/js/highslide/jquery.jcarousel.min.js"></script>
          <script type="text/javascript">
            var connector = function(itemNavigation, carouselStage) {
              return carouselStage.jcarousel('items').eq(itemNavigation.index()); 
            }; 
            $(function() {
              var carouselStage = $('.nom_img_med_wrap').jcarousel({wrap: 'circular'}); 
              var carouselNavigation = $('.carousel-navigation').jcarousel();
              carouselNavigation.jcarousel('items').each(function() { 
                var item = $(this); 
                var target = connector(item, carouselStage); 
                item .on(
                  'jcarouselcontrol:active', function() {
                    carouselNavigation.jcarousel('scrollIntoView', this); 
                    item.addClass('active'); 
                  }).on('jcarouselcontrol:inactive', function() { 
                    item.removeClass('active'); 
                  }).jcarouselControl({ target: target, carousel: carouselStage }); 
              });
              
              $('#l_arr_nom_img').on('jcarouselcontrol:inactive', function() {
                  $(this).addClass('inactive'); 
                }
              ).on('jcarouselcontrol:active', function() {
                  $(this).removeClass('inactive'); 
                }
              ).jcarouselControl({ target: '-=1' }); 
              
              $('#r_arr_nom_img').on('jcarouselcontrol:inactive', function() {
                  $(this).addClass('inactive');
                }
              ).on('jcarouselcontrol:active', function() {
                  $(this).removeClass('inactive');
                }
              ).jcarouselControl({ target: '+=1' }); 
            });
          </script>
          <!-- УВЕЛИЧЕНИЕ КАРТИНКИ -->
          <script type="text/javascript" src="/static/js/highslide/highslide-with-gallery.js"></script>
            <link rel="stylesheet" type="text/css" href="/static/js/highslide/highslide.css" />
            <script type="text/javascript">
            hs.graphicsDir = '/static/js/highslide/graphics/'; 
            hs.align = 'center';
            hs.transitions = ['expand', 'crossfade']; 
            hs.outlineType = 'rounded-white';
            hs.fadeInOut = true; 
            hs.dimmingOpacity = 0.5; 
            hs.addSlideshow({
              interval: 5000, 
              repeat: false, 
              useControls: true, 
              fixedControls: 'fit', 
              overlayOptions: { 
                opacity: 0.75, 
                position: 'bottom center', 
                hideOnMouseOut: true
              }
            });
          </script>
          <!-- УВЕЛИЧЕНИЕ КАРТИНКИ <<< -->
          
            
            <div class="{% if photos %}js-with-photos {% endif %}nom_img_med_wrap highslide-gallery">
              <ul class="nom_img_list js-photo-big-container">
                {% for photo in photos %}
                  <li class="js-photo-big" data-attrs="{{ photo.attrs_json }}" data-order="{{ forloop.counter }}">
                    <a href="{{ photo.big_url }}" target="_blank" class="highslide" onclick="return hs.expand(this)" title="">
                    <img src="{{ photo.preview_url }}" /></a>
                  </li>
                {% empty %}
                  <li>
                    <a href="{{ product.big_url }}" target="_blank" class="highslide" onclick="return hs.expand(this)" title="">
                    <img src="{{ product.preview_url }}" /></a>
                  </li>
                {% endfor %}
              </ul>
            </div>
            <div class="C_navigation">
              <div class="l_arr" id="l_arr_nom_img"><img src="/static/i/arrow_slide.png" /></div>
              <div class="r_arr" id="r_arr_nom_img"><img src="/static/i/arrow_slide.png" /></div>
              <div class="carousel-navigation">
                <ul class="jcarousel js-photo-thumb-container">
                  {% for photo in photos %}
                    <li class="js-photo-thumb" data-attrs="{{ photo.attrs_json }}" data-order="{{ forloop.counter }}">
                      <img src="{{ photo.thumb_url }}" />
                    </li>
                  {% empty %}
                    <li class="">
                      <img src="{{ product.thumb_url }}" />
                    </li>
                  {% endfor %}
                </ul>
              </div>
            </div>
            
          </div>
          <div class="highslide-dimming"></div>
        <!-- SLIDER ITEM <<< -->
          
        <!-- FORM chars ITEM >>> -->
          <form class="wrapp_chars_item_cols">
            <div class="chars_item_cols">
              {% for attr in attrs.color %}
                <div class="filtr_title ch_title_item">{{ attr.title }}:</div>
                <div class="check_box check_mini check_mini_item">
                  {% for option in attr.options %}
                    <label data-attr-id="{{ attr.id }}" for="{{ attr.slug }}_{{ option.id }}"{% if forloop.counter > 4 %} style="display: none;"{% endif %} class="color_option">
                      <input class="js-not-checkbox" data-attr-slug="{{ attr.slug }}" data-color-id="{{ option.id }}" type="checkbox" name="{{ attr.slug }}" id="{{ attr.slug }}_{{ option.id }}" value="{{ option.id }}" />
                      {% if option.picture %}
                        <span style="background: url('{{ option.picture_url }}')" title="{{ option.title }}">{{ option.title }}</span>
                      {% else %}
                        <span style="background-color: {{ option.color }};{% if option.color|lower == '#ffffff' %} border: 1px solid #ccc;{% endif %}" title="{{ option.title }}">{{ option.title }}</span>
                      {% endif %}
                    </label>
                  {% endfor %}
                </div>
                {% if attr.options.count > 4 %}
                  <a href="#" class="yet_more js-expand-colors" data-attr-id="{{ attr.id }}">Ещё цвета</a>
                {% endif %}
                <div class="clr"></div>
              {% endfor %}

              {% for attr in attrs.style %}
                <div class="row_chars_item">
                  <script type="text/javascript">
                    var connector = function(itemNavigation, carouselStage) {
                      return carouselStage.jcarousel('items').eq(itemNavigation.index()); 
                    }; 
                    $(function() {
                      var carouselNavigation = $('#check_photo_chars{{ attr.id }}').jcarousel();
                      carouselNavigation.jcarousel('items').each(function() { 
                        var item = $(this); 
                        var target = connector(item, carouselNavigation);
                         
                      });
                      
                      $('#l_arr_nom_img_ch{{ attr.id }}').on('jcarouselcontrol:inactive', function() {
                          $(this).addClass('inactive'); 
                        }
                      ).on('jcarouselcontrol:active', function() {
                          $(this).removeClass('inactive'); 
                        }
                      ).jcarouselControl({ target: '-=1' }); 
                      
                      $('#r_arr_nom_img_ch{{ attr.id }}').on('jcarouselcontrol:inactive', function() {
                          $(this).addClass('inactive');
                        }
                      ).on('jcarouselcontrol:active', function() {
                          $(this).removeClass('inactive');
                        }
                      ).jcarouselControl({ target: '+=1' }); 
                    });
                  </script>
                  <div class="filtr_title ch_title_item">{{ attr.title }}:</div>
                  <div class="carousel_chars_check">
                    <div class="check_box check_mini check_photo check_photo_chars" id="check_photo_chars{{ attr.id }}">
                      <ul>
                        {% for option in attr.options %}
                          <li>
                            {% comment %}
                              <span>
                                <img src="{{ option|get_photo_url:product }}" title="{{ option.title }}"/>
                              </span>
                            {% endcomment %}
                            <label for="{{ attr.slug }}_{{ option.id }}" title="{{ option.title }}">
                              <input class="js-not-checkbox" data-attr-slug="{{ attr.slug }}" type="checkbox" name="{{ attr.slug }}" id="{{ attr.slug }}_{{ option.id }}" value="{{ option.id }}" />
                              <span>
                                <img src="{{ option|get_photo_url:product }}" />
                              </span>
                            </label>
                          </li>
                        {% endfor %}
                      </ul>
                    </div>
                    <div class="l_arr" id="l_arr_nom_img_ch{{ attr.id }}"><img src="/static/i/arrow_slide.png" /></div>
                    <div class="r_arr" id="r_arr_nom_img_ch{{ attr.id }}"><img src="/static/i/arrow_slide.png" /></div>
                  </div>
                </div>
                <div class="row_chars_item row_chars_mrg">
                  {% with attr.neighbor as attr_n %}
                    {% if attr_n and attr_n.attr_type == 'size' and attr_n.id in attrs_ids %}
                      <div class="filtr_title ch_title_item">{{ attr_n.title }}:</div>
                      <div class="check_box check_size check_mini_item">
                        {% for option in attr_n.options.all %}
                          {% if option.id in attr_n.options_ids %}
                            <label for="{{ attr_n.slug }}_{{ option.id }}">
                              <input class="js-not-checkbox" data-attr-slug="{{ attr_n.slug }}" type="checkbox" name="{{ attr_n.slug }}" id="{{ attr_n.slug }}_{{ option.id }}" value="{{ option.id }}" />
                              <span title="{{ option.title }}">{{ option.title }}</span>
                            </label>
                          {% endif %}
                        {% endfor %}
                      </div>
                    {% endif %}
                  {% endwith %}

                  {% comment %}
                    <div class="check_bx_check">
                      <label for="fason-{{ attr.id }}" class="check_pr_input">
                        <input type="checkbox" name="fason-{{ attr.id }}" id="fason-{{ attr.id }}" value="1" />
                        <abbr class="abbr_check">Добавить к комплекту</abbr>
                        <div class="product_price"><span id="price_ID--{{ attr.id }}">500</span><abbr title="руб">р.</abbr></div>
                        <div class="del_check">
                          Убрать из комплекта
                        </div>
                      </label>
                    </div>
                  {% endcomment %}
                  
                </div>

                <div class="clr"></div>
              {% endfor %}

              {% for attr in attrs.size %}
                {% if not attr.neighbor or attr.neighbor_id not in attrs_ids %}
                  <div class="row_chars_item">
                    <div class="filtr_title ch_title_item">{{ attr.title }}:</div>
                    <div class="check_box check_size check_mini_item">
                      {% for option in attr.options %}
                        <label for="{{ attr.slug }}_{{ option.id }}">
                          <input class="js-not-checkbox" data-attr-slug="{{ attr.slug }}" type="checkbox" name="{{ attr.slug }}" id="{{ attr.slug }}_{{ option.id }}" value="{{ option.id }}" />
                          <span title="{{ option.title }}">{{ option.title }}</span>
                        </label>
                      {% endfor %}
                    </div>
                  </div>
                  <div class="clr"></div>
                {% endif %}
              {% endfor %}

              {% comment %}
                {% for extra_p in product.extra_products %}
                  {% for attr in attrs.style %}
                    <div class="row_chars_item">
                      <script type="text/javascript">
                        var connector = function(itemNavigation, carouselStage) {
                          return carouselStage.jcarousel('items').eq(itemNavigation.index()); 
                        }; 
                        $(function() {
                          var carouselNavigation = $('#check_photo_chars{{ attr.id }}').jcarousel();
                          carouselNavigation.jcarousel('items').each(function() { 
                            var item = $(this); 
                            var target = connector(item, carouselNavigation);
                             
                          });
                          
                          $('#l_arr_nom_img_ch{{ attr.id }}').on('jcarouselcontrol:inactive', function() {
                              $(this).addClass('inactive'); 
                            }
                          ).on('jcarouselcontrol:active', function() {
                              $(this).removeClass('inactive'); 
                            }
                          ).jcarouselControl({ target: '-=1' }); 
                          
                          $('#r_arr_nom_img_ch{{ attr.id }}').on('jcarouselcontrol:inactive', function() {
                              $(this).addClass('inactive');
                            }
                          ).on('jcarouselcontrol:active', function() {
                              $(this).removeClass('inactive');
                            }
                          ).jcarouselControl({ target: '+=1' }); 
                        });
                      </script>
                      <div class="filtr_title ch_title_item">{{ extra_p.extra_product.title }}: {{ attr.title }}:</div>
                      <div class="carousel_chars_check">
                        <div class="check_box check_mini check_photo check_photo_chars" id="check_photo_chars{{ attr.id }}">
                          <ul>
                            {% for option in attr.options.all %}
                              {% if option|in_product:product %}
                                <li>
                                  <span>
                                    <img src="{{ option|get_photo_url:product }}" />
                                  </span>
                                </li>
                              {% endif %}
                            {% endfor %}
                          </ul>
                        </div>
                        <div class="l_arr" id="l_arr_nom_img_ch{{ attr.id }}"><img src="/static/i/arrow_slide.png" /></div>
                        <div class="r_arr" id="r_arr_nom_img_ch{{ attr.id }}"><img src="/static/i/arrow_slide.png" /></div>
                      </div>
                    </div>
                    <div class="row_chars_item row_chars_mrg">
                      {% with attr.neighbor as attr_n %}
                        {% if attr_n and attr_n.attr_type == 'size' and attr_n.id in attrs_ids %}
                          <div class="filtr_title ch_title_item">{{ attr_n.title }}:</div>
                          <div class="check_box check_size check_mini_item">
                            {% for option in attr_n.options.all %}
                              {% if option|in_product:product %}
                                <label for="{{ attr_n.slug }}_{{ option.id }}">
                                  <input type="checkbox" name="{{ attr_n.slug }}" id="{{ attr_n.slug }}_{{ option.id }}" value="{{ option.id }}" />
                                  <span title="{{ option.title }}">{{ option.title }}</span>
                                </label>
                              {% endif %}
                            {% endfor %}
                          </div>
                        {% endif %}
                      {% endwith %}
                      <div class="check_bx_check">
                        <label for="fason-{{ attr.id }}" class="check_pr_input">
                          <input type="checkbox" name="fason-{{ attr.id }}" id="fason-{{ attr.id }}" value="1" />
                          <abbr class="abbr_check">Добавить к комплекту</abbr>
                          <div class="product_price"><span id="price_ID--{{ attr.id }}">500</span><abbr title="руб">р.</abbr></div>
                          <div class="del_check">
                            Убрать из комплекта
                          </div>
                        </label>
                      </div>
                      
                    </div>

                    <div class="clr"></div>
                  {% endfor %}
                {% endfor %}
              {% endcomment %}

              <div class="row_chars_item">
                
                <script type="text/javascript" >
                  // ПЛЮС - МИНУС
                  $(document).ready(function() {
                    $('.minus').click(function () {
                      var $input = $(this).parent().find('input');
                      var count = parseInt($input.val()) - 1;
                      count = count < 1 ? 1 : count;
                      $input.val(count);
                      $input.change();
                      return false;
                    });
                    $('.plus').click(function () {
                      var $input = $(this).parent().find('input');
                      $input.val(parseInt($input.val()) + 1);
                      $input.change();
                      return false;
                    });
                  });
                </script>
                
                <script type="text/javascript" >
                  // ПЕРЕДАЁМ УМНОЖЕННУЮ ЦЕНУ В СКРЫТЫЙ input=hidden => price-item
                  $(document).ready(function() {
                    $('#cnt_item').change('keyup input', function() {
                      var value = this.value;
                      if (value > 0) {
                      $("#price_ID-373").html(value * {{ product.price|to_int_str }});
                      $("#price-hidd-val").val(value * {{ product.price|to_int_str }});
                      }
                    });
                  });
                </script>
                
                {% if attrs_ids|length %}
                  <a href="#" onclick="return false" class="move_butt_item">
                    Переместить товар из корзины<br />в  список желаемых покупок
                  </a>
                {% endif %}
                
                <div class="filtr_title ch_title_item">Кол-во:</div>
                <div class="number">
                  <span class="minus">-</span>
                  <input type="text" name="count_item" value="1" maxlength="3" onkeyup="this.value = this.value.replace (/\D/, '')" id="cnt_item" />
                  <span class="plus" id="plus">+</span>
                </div>
                <div class="product_price"><span id="price_ID-373">{{ product.price|to_int_str }}</span><abbr title="руб">р.</abbr></div>
                <input type="hidden" name="price-item" id="price-hidd-val" value="{{ product.price|to_int_str }}">
                <button class="to_cart_list" type="submit">В корзину</button>
                
                <label for="pak" class="check_pr_input checke_lab">
                  <input type="checkbox" name="gift_wrapping" id="pak" value="1" />
                  <abbr class="abbr_check">Подарочная<br />упаковка</abbr>
                  
                  <div class="product_price"><span id="price_ID--gift-wrapping">{{ gift_wrapping_price|to_int_str }}</span><abbr title="руб">р.</abbr></div>
                </label>
              </div>
              
            </div>
          </form>
        <!-- FORM chars ITEM <<< -->
          
        </div>

        {% if product.text or product.videos.count %}
          <div class="text_preview_page text_item">
            <div class="text_preview_inner">
              {% if product.text %}
                {{ product.text|safe }}
              {% endif %}
              
              <div id="player_item">
                {% for v in product.videos.all %}
                  <div class="wrapp_player_item js-video-item" style="display: {% if forloop.counter > 1 %}none{% else %}block{% endif %}">
                    {% video v.video '100%x453' %}
                    {# <div class="inner_player_item" style="background-image:url(/static/images/picture_video2.jpg);"> #}
                    {# </div> #}
                    {# <a href="#" onclick="return false" class="play">play</a> #}
                  </div>
                {% endfor %}
                {% if product.videos.count > 1 %}
                  <div class="bt_req_call"><a href="#" class="js-expand-videos">Смотреть всё видео</a></div>
                {% endif %}
              </div>
            </div>
          </div>
        {% endif %}

        {% if product.also_products.count %}
          <h2 class="title_block">С этим товаром также покупают:</h2>
          <div class="item_list_wrapp" itemscope="" itemtype="http://schema.org/ItemList">
            {% for also_p in product.also_products.all %}
              <div class="product_list">
                <div class="photo_list"><a href="{{ also_p.get_absolute_url }}"><img src="{{ also_p.cover_thumb }}" alt="{{ also_p.title }}" /></a></div>
                <h3><a href="{{ also_p.get_absolute_url }}">{{ also_p.title }}</a></h3>
                <h4>{{ also_p.subtitle }}</h4>
                <div class="product_price">{{ also_p.get_price_rub }}<abbr title="руб">р.</abbr></div>
                <a href="#" class="to_cart_list">В корзину</a>
              </div>
            {% endfor %}
          </div>
        {% endif %}
        
      </div>
    </div>
  </main>
{% endblock %}

{% block extra_js %}
  <script type="text/javascript">
    {% include 'catalog/include/product.js' %}
  </script>
{% endblock %}
