{% extends 'base.html' %}
{% load i18n catalog_tags core_tags embed_video_tags currency_tags %}

{% block meta_title %}{{ product|get_product_meta_title:category }}{% endblock %}
{% block meta_desc %}{{ product.get_meta_desc }}{% endblock %}
{% block meta_keyw %}{{ product.get_meta_keyw }}{% endblock %}

{% block og_title %}{{ product|get_product_meta_title:category }}{% endblock %}
{% block og_desc %}{{ product.get_meta_desc }}{% endblock %}

{% block twitter_title %}{{ product|get_product_meta_title:category }}{% endblock %}
{% block twitter_desc %}{{ product.get_meta_desc }}{% endblock %}

{% block extra_css %}
  <link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/fancybox/3.5.7/jquery.fancybox.css">
{% endblock %}

{% block pre_head_js %}
  <script src="https://cdnjs.cloudflare.com/ajax/libs/uikit/3.2.0/js/uikit.min.js"></script>
{% endblock %}

{% block head_js %}
  <script src="https://cdnjs.cloudflare.com/ajax/libs/fancybox/3.5.7/jquery.fancybox.min.js"></script>
{% endblock %}

{% block content %}
  <main>
    <div class="main_content">
      
      <ul id="touch_breadcrumb" class="breadcrumb">
        <li><a href="{% url 'home' %}">{% trans 'Главная' %}</a></li>
        {% if sex == 'female' %}<li><a href="{% url 'women' %}">{% trans 'Женщинам' %}</a></li>
        {% elif sex == 'male' %}<li><a href="{% url 'men' %}">{% trans 'Мужчинам' %}</a></li>
        {% endif %}
        <li><a href="{{ category.get_absolute_url }}">{{ category.title }}</a></li>
        <li>{{ product.title }}</li>
      </ul>
    
      <div id="main_content" class="wrapp_content">
        <ul class="breadcrumb">
          <li><a href="{% url 'home' %}">{% trans 'Главная' %}</a></li>
          {% if sex == 'female' %}<li><a href="{% url 'women' %}">{% trans 'Женщинам' %}</a></li>
          {% elif sex == 'male' %}<li><a href="{% url 'men' %}">{% trans 'Мужчинам' %}</a></li>
          {% endif %}
          <li><a href="{{ category.get_absolute_url }}">{{ category.title }}</a></li>
          <li>{{ product.title }}</li>
        </ul>

        <h1 class="title_block">{{ product.get_h1 }}</h1>
        {% if product.vendor_code %}
          <div style="margin: -20px 0 20px;"><span class="ch_title_item _custom">{% trans 'Артикул' %}: </span>{{ product.vendor_code }}</div> 
        {% endif %}

        <div class="item_content_block">
        
          <!-- SLIDER ITEM >>> -->
            <div class="nom_img">
            <script language="javascript" src="/static/js/highslide/jquery.jcarousel.min.js"></script>
            <script type="text/javascript">
              {% include 'js/init_product_photos.js' %}
            </script>
            <!-- УВЕЛИЧЕНИЕ КАРТИНКИ -->
            <script type="text/javascript" src="/static/js/highslide/highslide-with-gallery.js"></script>
            <link rel="stylesheet" type="text/css" href="/static/js/highslide/highslide.css" />
            <script type="text/javascript">
              hs.graphicsDir = '/static/js/highslide/graphics/'; 
              hs.align = 'center';
              hs.transitions = ['expand', 'crossfade']; 
              hs.outlineType = 'rounded-white';
              hs.fadeInOut = true; 
              hs.dimmingOpacity = 0.5; 
              hs.addSlideshow({
                interval: 5000, 
                repeat: false, 
                useControls: true, 
                fixedControls: 'fit', 
                overlayOptions: { 
                  opacity: 0.75, 
                  position: 'bottom center', 
                  hideOnMouseOut: true
                }
              });
            </script>
            <!-- УВЕЛИЧЕНИЕ КАРТИНКИ <<< -->
          
            <div class="{% if show_gallery %}js-with-photos {% endif %}nom_img_med_wrap highslide-gallery" data-first-color-photos="{{ first_color_photos }}">
              <ul class="nom_img_list js-photo-big-container">
                {% if show_gallery %}
                  {% for obj in gallery %}
                    {% if obj.item_type == 'photo' %}
                    {% with obj as photo %}
                      <li class="js-photo-big" data-attrs="{{ photo.attrs_json }}" data-order="{{ forloop.counter }}" data-photo-id="{{ photo.id }}">
                        {# <a href="{{ photo.big_url }}" target="_blank" class="highslide" onclick="return hs.expand(this)" title=""> #}
                        <a href="{{ photo.big_url }}" target="_blank" data-fancybox="gallery" data-caption="{{ product.title }} / {% trans 'Фото' %} №{{ forloop.counter }}" title="">
                          <img src="{{ photo.preview_url }}" />
                        </a>
                      </li>
                    {% endwith %}
                    {% elif obj.item_type == 'main_photo' %}
                      <li class="js-photo-big" data-attrs="{{ product.empty_attrs_json }}" data-order="0" data-main-photo="true">
                        <a href="{{ product.big_url }}" target="_blank" data-fancybox="gallery" data-caption="{{ product.title }} / {% trans 'Фото' %} №1" title="">
                          <img src="{{ product.preview_url }}" />
                        </a>
                      </li>
                    {% elif obj.item_type == 'video' %}
                    {% with obj as video %}
                    <li class="js-photo-big" data-attrs="{{ product.empty_attrs_json }}" data-order="{{ forloop.counter }}" data-video="true">
                        {% if video.video_source == 'youtube' %}
                            <a href="{{ video.video }}" data-fancybox="gallery" data-caption="{{ product.title }} / {% trans 'Видео' %} №{{ forloop.counter }}">
                                <div class="product_video_image" style="background-image:url({{ video.preview_url }}); background-size: cover;">
                                    <div class="play play_preview"></div>
                                </div>
                            </a>
                        {% else %}
                            <a href="{% if video.video_file %}{{ video.video_file.url }}{% endif %}" data-fancybox="gallery" data-caption="{{ product.title }} / {% trans 'Видео' %} №{{ forloop.counter }}">
                                <div class="product_video_image" style="background-image:url({{ video.get_cover_url }}); background-size: cover;">
                                    <div class="play play_preview"></div>
                                </div>
                            </a>
                        {% endif %}
                    </li>
                    {% endwith %}
                    {% comment %} {% with obj as video %}
                      <li class="js-photo-big" data-attrs="{{ product.empty_attrs_json }}" data-order="{{ forloop.counter }}" data-video="true">
                        <a href="{{ video.video }}" data-fancybox="gallery" data-caption="{{ product.title }} / {% trans 'Видео' %} №{{ forloop.counter }}">
                          <div class="product_video_image" style="background-image:url({{ video.preview_url }}); background-size: cover;"/>
                            <div class="play play_preview"></div>
                          </div>
                        </a>
                      </li>
                    {% endwith %} {% endcomment %}
                    {% endif %}
                  {% endfor %}
                {% else %}
                  <li>
                    <a href="{{ product.big_url }}" target="_blank" class="highslide" onclick="return hs.expand(this)" title="">
                    <img src="{{ product.preview_url }}" /></a>
                  </li>
                {% endif %}
              </ul>
            </div>
            <div class="C_navigation">
              <div class="js-navigation-buttons">
                <div class="l_arr js-navigation-button" id="l_arr_nom_img"><img src="/static/i/arrow_slide.png" /></div>
                <div class="r_arr js-navigation-button" id="r_arr_nom_img"><img src="/static/i/arrow_slide.png" /></div>
              </div>
              <div class="carousel-navigation">
                <ul class="jcarousel js-photo-thumb-container">
                  {% if show_gallery %}
                    {% for obj in gallery %}
                      {% if obj.item_type == 'photo' %}
                      {% with obj as photo %}
                        <li class="js-photo-thumb" data-attrs="{{ photo.attrs_json }}" data-order="{{ forloop.counter }}" data-photo-id="{{ photo.id }}">
                          <img src="{{ photo.thumb_url }}" />
                        </li>
                      {% endwith %}
                      {% elif obj.item_type == 'main_photo' %}
                        <li class="js-photo-thumb" data-attrs="{{ product.empty_attrs_json }}" data-order="0" data-main-photo="true">
                          <img src="{{ product.thumb_url }}" />
                        </li>
                      {% elif obj.item_type == 'video' %}
                      {% with obj as video %}
                        <li class="js-photo-thumb" data-attrs="{{ product.empty_attrs_json }}" data-order="{{ forloop.counter }}" data-video="true">
                          <div style="background-image:url({{ video.thumb_url }}); background-size: cover; width:70px; height:70px;"/>
                            <div class="play play_thumb"></div>
                          </div>
                        </li>
                      {% endwith %}
                      {% endif %}
                    {% endfor %}
                  {% else %}
                    <li class="">
                      <img src="{{ product.thumb_url }}" />
                    </li>
                  {% endif %}
                </ul>
              </div>
            </div>
            {% if attrs_ids|length %}
              <a href="#" class="move_butt_item js-wishlist-button">
                {% if in_wishlist %}{% trans 'Удалить из списка желаемых покупок' %}{% else %}{% trans 'Добавить в список желаемых покупок' %}{% endif %}
              </a>
              <input class="js-wishlist-input js-from-product-page" type="checkbox" style="display: none;" name="wishlist"
                     {% if in_wishlist %} value="1" checked="checked"{% endif %}
                     data-add-url="{% url 'wishlist:add' %}" data-remove-url="{% url 'wishlist:remove' %}"
                     data-product-id="{{ wishlist_data.product_id }}" data-option-id="{{ wishlist_data.option_id }}"
                     data-price="{{ wishlist_data.price }}"
                     data-attrs='{{ wishlist_data.attrs_json|safe }}'
                     data-extra-products='{{ wishlist_data.extra_products_json|safe }}' />
            {% endif %}
          </div>
          <div class="highslide-dimming"></div>
        <!-- SLIDER ITEM <<< -->
          
        <!-- FORM chars ITEM >>> -->
          <form class="js-product-form" method="post" action="{% url 'cart_api:set' %}">
            {% csrf_token %}
            <input type="hidden" name="product_id" value="{{ product.id }}">
          </form>

          <div class="wrapp_chars_item_cols">
            <div class="chars_item_cols">
              {% for attr in attrs.color %}
                {% include 'catalog/include/product_attr.html' with attr=attr attr_type='color' choose_option=True %}
              {% endfor %}

              {% for attr in attrs.style %}
                {% include 'catalog/include/product_attr.html' with attr=attr attr_type='style' choose_option=True %}
              {% endfor %}

              {% for attr in attrs.size %}
                {% if not attr|had_neighbor:attrs_ids %}
                  {% include 'catalog/include/product_attr.html' with attr=attr attr_type='size' choose_option=True %}
                {% endif %}
              {% endfor %}

              {# ------------------------ #}

              {% if extra_products|length %}
                {% for extra_p in extra_products %}
                  <div style="margin: 10px 0 20px;" class="js-extra-product-parent" data-extra-product-id="{{ extra_p.id }}">
                    <div style="border-top: 1px solid #f2f2f2; margin: 20px 0 30px;"></div>
                    <h2>{{ extra_p.title }}</h2>

                    {% for attr in extra_p.attrs.color %}
                      {% include 'catalog/include/product_attr.html' with attr=attr attr_type='color' extra_product_id=extra_p.id choose_option=False %}
                    {% endfor %}

                    {% for attr in extra_p.attrs.style %}
                      {% include 'catalog/include/product_attr.html' with attr=attr attr_type='style' attrs_ids=extra_p.attrs_ids extra_product_id=extra_p.id choose_option=False %}
                    {% endfor %}

                    {% for attr in extra_p.attrs.size %}
                      {% if not attr|had_neighbor:extra_p.attrs_ids %}
                        {% include 'catalog/include/product_attr.html' with attr=attr attr_type='size' extra_product_id=extra_p.id choose_option=False %}
                      {% endif %}
                    {% endfor %}
                  </div>

                {% endfor %}
              {% endif %}

              <div class="row_chars_item" style="width: 150%; max-width:none;">
                <script type="text/javascript" >
                  // ПЛЮС - МИНУС
                  $(document).ready(function() {
                    $('.minus').click(function () {
                      var $input = $(this).parent().find('input');
                      var count = parseInt($input.val()) - 1;
                      count = count < 1 ? 1 : count;
                      $input.val(count);
                      $input.change();
                      return false;
                    });
                    $('.plus').click(function () {
                      var $input = $(this).parent().find('input');
                      var count = parseInt($input.val()) + 1;
                      $input.val(count);
                      $input.change();
                      return false;
                    });
                  });
                </script>
                
                <script type="text/javascript" >
                  // ПЕРЕДАЁМ УМНОЖЕННУЮ ЦЕНУ В СКРЫТЫЙ input=hidden => price-item
                  $(document).ready(function() {
                    $('#cnt_item').change('keyup input', function() {
                      var value = this.value;
                      updateCount(value);
                      // if (value > 0) {
                      // $("#price_ID-373").html(value * {{ price }});
                      // $("#price-hidd-val").val(value * {{ price }});
                      // }
                    });
                  });
                </script>
                
                <div class="filtr_title ch_title_item">{% trans 'Кол-во' %}:</div>
                <div class="number js-hide-if-not-option"{% if not have_option %} style="display: none;"{% endif %}>
                  <span class="minus">-</span>
                  <input type="text" name="count_item" value="{{ count }}" maxlength="3" onkeyup="this.value = this.value.replace (/\D/, '')" id="cnt_item" />
                  <span class="plus" id="plus">+</span>
                </div>

                {% if discount %}
                  <div class="js-hide-if-not-option"{% if not have_option %} style="display: none;"{% endif %}>
                    <div class="txt_price_to">{% trans 'Цена для вас' %}:</div>
                    <div class="product_price sale_price">{% prefix_currency currency price|to_price %}<s class="js-base-price" style="font-family: NeoRegular;">{{ price|to_price }}</s>{% postfix_currency currency price|to_price %}</div>
                    <div class="product_price" style="color: #8c2c34;">{% prefix_currency currency price|with_discount:discount|to_price %}<span class="js-cart-price">{{ price|with_discount:discount|to_price }}</span>{% postfix_currency currency price|with_discount:discount|to_price %}</div>
                  </div>
                {% else %}
                  <div class="product_price js-hide-if-not-option">{% prefix_currency currency price|to_price %}<span id="price_ID-373" class="js-cart-price">{{ price|to_price }}</span>{% postfix_currency currency price|to_price %}</div>
                {% endif %}

                <input type="hidden" name="price-item" id="price-hidd-val" value="{{ price|to_price }}">
                <div class="button-div"{% if discount %} style="clear: both;"{% endif %}>
                  {% if not have_option %}
                    <button class="js-cart-button to_cart_list _disabled" data-type="none" type="submit">{% trans 'Такого товара нет в наличии' %}</button>
                  {% elif count > maximum_in_stock %}
                    <button class="js-cart-button to_cart_list" data-type="order" type="submit">{% trans 'Под заказ' %}</button>
                  {% else %}
                    <button class="js-cart-button to_cart_list" data-type="add" type="submit">{% trans 'В корзину' %}</button>
                  {% endif %}
                  
                  <label for="pak" class="check_pr_input checke_lab js-hide-if-not-option"{% if not have_option %} style="display: none;"{% endif %}>
                    <input type="checkbox" class="js-gift-wrapping-trigger"{% if with_wrapping %} checked="checked"{% endif %} data-wrapping-price="{{ gift_wrapping_price|to_price }}" name="gift_wrapping" id="pak" value="1" />
                    <abbr class="abbr_check">{% trans 'Подарочная<br />упаковка' %}</abbr>
                    <div class="product_price">{% prefix_currency currency gift_wrapping_price|to_price %}<span id="price_ID--gift-wrapping">{{ gift_wrapping_price|to_price }}</span>{% postfix_currency currency gift_wrapping_price|to_price %}</div>
                  </label>
                </div>
              </div>

              {% trans 'Цены в' as transCurrencyChangeLabel %}
              {% include 'blocks/currency_change.html' with currency_change_label=transCurrencyChangeLabel currency_change_style="margin-top: 20px;" %}

              {% if product.installment %}
              <br>
              <br>
              <span class="txt_price_to" title="">Рассрочка</span>
              {% endif %}

            </div>
          </div>
        <!-- FORM chars ITEM <<< -->
        </div>

        {% get_product_text product as product_text %}

        <div class="marbot">
          <ul class="uk-subnav uk-subnav-pill" uk-switcher>
            {% if product_text %}<li><a href="#">{% trans 'Описание товара' %}</a></li>{% endif %}
            {% for tab in tabs %}<li><a href="#">{{ tab.title|safe }}</a></li>{% endfor %}
          </ul>
          <ul class="uk-switcher uk-margin">
            {% if product_text %}
              <li>
                {{ product_text|safe }}
              </li>
            {% endif %}
            {% for tab in tabs %}
              <li>
                <div class="text_preview_left txt_black text_light_page">
                  {{ tab.text|safe }}
                  {% if tab.shown_sections.count %}
                    <div class="wrap-accordion" uk-accordion="multiple: true">
                      {% for section in tab.shown_sections.all %}
                        <div class="parent">
                          <a class="uk-accordion-title" href="#">
                            <div class="wrap">
                              <div class="tit"><h2>{{ section.title|safe }}</h2></div><div><img src="/static/i/dc.svg"></div>
                            </div>
                          </a>
                          <div class="uk-accordion-content">
                            {{ section.text|safe }}
                          </div>
                        </div>
                      {% endfor %}
                    </div>
                  {% endif %}
                </div>
              </li>
            {% endfor %}
          </ul>
        </div>

        {% comment %} {% if videos_count %}
          <div class="text_preview_page text_item">
            <div class="text_preview_inner">
              <div id="player_item">
                {% for v in videos %}
                  <div class="wrapp_player_item js-video-item" style="display: {% if forloop.counter > 1 %}none{% else %}block{% endif %}">
                    {% video v.video '100%x453' %}
                    {# <div class="inner_player_item" style="background-image:url(/static/images/picture_video2.jpg);"> #}
                    {# </div> #}
                    {# <a href="#" onclick="return false" class="play">play</a> #}
                  </div>
                {% endfor %}
                {% if videos_count > 1 %}
                  <div class="bt_req_call"><a href="#" class="js-expand-videos">{% trans 'Смотреть всё видео' %}</a></div>
                {% endif %}
              </div>
            </div>
          </div>
        {% endif %} {% endcomment %}

        {% if videos_count %}
        <div class="text_preview_page text_item">
          <div class="text_preview_inner">
            <div id="player_item">
              {% for v in videos %}
                <div class="wrapp_player_item js-video-item" style="display: {% if forloop.counter > 1 %}none{% else %}block{% endif %}">
                  {% if v.video_source == 'youtube' %}
                    {% video v.video '100%x453' %}
                  {% else %}
                    <video width="100%" height="453" controls poster="{{ v.get_cover_url }}">
                      <source src="{{ v.video_file.url }}" type="video/mp4">
                      Ваш браузер не поддерживает видео тег.
                    </video>
                  {% endif %}
                </div>
              {% endfor %}
              {% if videos_count > 1 %}
                <div class="bt_req_call"><a href="#" class="js-expand-videos">{% trans 'Смотреть всё видео' %}</a></div>
              {% endif %}
            </div>
          </div>
        </div>
      {% endif %}

        {% if product.shown_also_products.count %}
          <h2 class="title_block">{% trans 'С этим товаром также покупают' %}:</h2>
          <div class="item_list_wrapp" itemscope="" itemtype="http://schema.org/ItemList">
            {% for also_p in product.shown_also_products.all %}
              {% with also_p.get_absolute_url as also_p_url %}
              <div class="product_list">
                <div class="photo_list">
                  <a href="{{ also_p_url }}">
                    <img src="{{ also_p.cover_thumb }}" alt="{{ also_p.title }}" />
                  </a>
                  {% if also_p.is_on_sale %}<span class="product-label product-label_discount" title="">-{{ also_p.sale_percent }}%</span>{% endif %}
                  {% if product.installment %}
                  <span class="product-label_installment product-label_discount" title="">Рассрочка</span>
                  {% endif %}
                </div>
                <h3><a href="{{ also_p_url }}">{{ also_p.title }}</a></h3>
                <h4>{{ also_p.subtitle }}</h4>
                <div class="product_price{% if product.is_on_sale %} product_price_sale{% endif %}">
                  {% if also_p.is_on_sale %}
                    <s title="Старая цена">{{ also_p.get_price|with_currency:currency|abbr_to_span|safe }}</s>
                    {{ also_p.get_sale_price|with_currency:currency|abbr_to_span|safe }}
                  {% else %}
                    {{ also_p.get_price|with_currency:currency|abbr_to_span|safe }}
                  {% endif %}
                </div>
                <a href="{{ also_p_url }}" class="to_cart_list">{% trans 'В корзину' %}</a>
              </div>
              {% endwith %}
            {% endfor %}
          </div>
        {% endif %}

      </div>
    </div>
  </main>
{% endblock %}

{% block popupss %}
  {% include 'catalog/include/product_popups.html' %}
{% endblock %}

{% block extra_js %}
  <script type="text/javascript">
    window.data = {{ data_json|safe }};
    $(function(){
      options = filterOptions(['style']);
      // updateShownCheckboxes(options, ['color', 'size']);
      chooseOption(true, true);
    });
  </script>
{% endblock %}
