{% extends 'base.html' %}
{% load i18n core_tags currency_tags %}

{% block meta_title %}{{ category.get_meta_title }}{% endblock %}
{% block meta_desc %}{{ category.get_meta_desc }}{% endblock %}
{% block meta_keyw %}{{ category.get_meta_keyw }}{% endblock %}

{% block og_title %}{{ category.get_meta_title }}{% endblock %}
{% block og_desc %}{{ category.get_meta_desc }}{% endblock %}

{% block twitter_title %}{{ category.get_meta_title }}{% endblock %}
{% block twitter_desc %}{{ category.get_meta_desc }}{% endblock %}

{% block content %}
  <main>
    <div class="main_content">

      {% block touch_breadcrumbs %}
        <ul id="touch_breadcrumb" class="breadcrumb">
          <li><a href="{% url 'home' %}">{% trans 'Главная' %}</a></li>
          {% if sex == 'female' %}<li><a href="{% url 'women' %}">{% trans 'Женщинам' %}</a></li>
          {% elif sex == 'male' %}<li><a href="{% url 'men' %}">{% trans 'Мужчинам' %}</a></li>
          {% endif %}
          <li>{{ category.title }}</li>
        </ul>
      {% endblock %}

      <div class="sec_block">
        <style>
          #category, #filter {
            cursor: pointer;
            z-index: 1;
            position: inherit;
          }
          #filter_button, #filter_button_clean {
            margin-left: 50%;
            margin-right: 50%;
            transform: translate(-50%, -50%);
            text-align: center;
          }
          @media screen and (max-width: 590px) {
            #category_list, #filter_list {
              display: none;
            }
            #filter_list {
              padding: 0;
            }
            .swimsuit_top {
              display: grid;
              grid-template-columns: 1fr 1fr;
              justify-items: center; 
              align-items: center; 
              gap: 10px; 
              padding:0 !important;
            }
            #filter_list .filtr_title {
              text-align: center;
              font-size: 19px;
              margin-top: 25px;
            }
            #filter_list .check_box {
              text-align: center;
            }
          }
          .mobile-burger {
            display: none;
          }

          @media (max-width: 768px) {
            .mobile-burger {
              display: block;
              padding: 10px 0;
              position: absolute;
              top: 10px;
              right: 10px;
            }
            
            .burger-icon {
              background: none;
              border: none;
              cursor: pointer;
              padding: 5px;
            }
            
            .burger-icon svg {
              display: block;
              width: 24px;
              height: 24px;
            }
          }
        </style>

        <div class="sec_menu">
          <h3 id="category" class="title_sec_block">{% trans 'Категории' %}</h3>
          <div class="mobile-burger">
            <button class="burger-icon" aria-label="Открыть меню">
              <svg viewBox="0 0 24 24" width="24" height="24">
                <path fill="currentColor" d="M3 18h18v-2H3v2zm0-5h18v-2H3v2zm0-7v2h18V6H3z"></path>
              </svg>
            </button>
          </div>
          <ul id="category_list">
            {% if show_sale_category %}
              <li{% if is_sale_category %} class="title_sec_block"{% endif %}><a href="{% if sex == 'female' %}{% url 'women_sale' %}{% else %}{% url 'men_sale' %}{% endif %}"><strong>{% trans 'SALE' %}</strong></a></li>
            {% endif %}
            {% for cat in categories %}
              <li{% if cat == category %} class="title_sec_block"{% endif %}><a href="{{ cat.get_absolute_url }}"><strong>{{ cat.title }}</strong></a></li>
            {% endfor %}
            <li{% if not category %} class="title_sec_block"{% endif %}><a href="{% if sex == 'female' %}{% url 'women' %}{% else %}{% url 'men' %}{% endif %}">{% trans 'Смотреть все' %}</a></li>
          </ul>
        </div>
        
        <div class="sec_filtr">
          <h3 id="filter" class="title_sec_block">{% trans 'Фильтр' %}</h3>
          <div class="mobile-burger">
            <button class="burger-icon" aria-label="Открыть меню">
              <svg viewBox="0 0 24 24" width="24" height="24">
                <path fill="currentColor" d="M3 18h18v-2H3v2zm0-5h18v-2H3v2zm0-7v2h18V6H3z"></path>
              </svg>
            </button>
          </div>
          <form id="filter_list" method="get" action="{{ request.path }}" class="sec_filtr_wrapp js-filter-form" data-container-id="products_div">
            {% if page_obj.number > 1 %}
              <input type="hidden" name="page" value="{{ page_obj.number }}"/>
            {% endif %}
            {% for attr in attrs.color %}
              <div class="filtr_title">{{ attr.title }}:</div>
              <div class="check_box check_mini">
                {% for option in attr.options.all %}
                  {% if option.id in attrs_options %}
                    <label for="{{ attr.slug }}_{{ option.id }}">
                      <input type="checkbox"{% if option.id in f.attrs_values %} checked{% endif %} name="_{{ attr.slug }}" id="{{ attr.slug }}_{{ option.id }}" value="{{ option.id }}" />
                      {% if option.picture %}
                        <span style="background: url('{{ option.picture_url }}')" title="{{ option.title }}">{{ option.title }}</span>
                      {% else %}
                        <span style="background-color: {{ option.color }}" title="{{ option.title }}">{{ option.title }}</span>
                      {% endif %}
                    </label>
                  {% endif %}
                {% endfor %}
              </div>
            {% endfor %}

            {% for attr in attrs.size %}
              <div class="filtr_title">{{ attr.title }}:</div>
              <div class="check_box check_size">
                {% for option in attr.options.all %}
                  {% if option.id in attrs_options %}
                    <label for="{{ attr.slug }}_{{ option.id }}">
                      <input type="checkbox"{% if option.id in f.attrs_values %} checked{% endif %} name="_{{ attr.slug }}" id="{{ attr.slug }}_{{ option.id }}" value="{{ option.id }}" />
                      <span style="{% if attr.slug == 'diametr' %} font-size: 9px;{% endif %}{% if option.is_one_size %} line-height: 15px{% endif %}" title="{{ option.title }}">{% if option.is_one_size %}{{ option.title|with_br|safe }}{% else %}{{ option.title }}{% endif %}</span>
                    </label>
                  {% endif %}
                {% endfor %}
              </div>
            {% endfor %}

            <div class="filtr_title">{% trans 'Цена' %}:</div>
            <div class="check_box check_input">
              <input type="text" name="price_from" value="{% if f.price_from %}{{ f.price_from }}{% endif %}" placeholder="{{ price_min_max.price__min|default_if_none:0|to_int|with_delimeter|currency_light:currency }}" />
              <span>&mdash;</span>
              <input type="text" name="price_to" value="{% if f.price_to %}{{ f.price_to }}{% endif %}" placeholder="{{ price_min_max.price__max|default_if_none:0|to_int_plus|with_delimeter|currency_light:currency }}" />
            </div>

            {% for attr in attrs.style %}
              <div class="filtr_title">{{ attr.title }}:</div>
              <div class="check_box check_mini check_photo swimsuit_top">
                {% for option in attr.options.all %}
                  {% if option.id in attrs_options %}
                    <label for="{{ attr.slug }}_{{ option.id }}">
                      <input type="checkbox"{% if option.id in f.attrs_values %} checked{% endif %} name="_{{ attr.slug }}" id="{{ attr.slug }}_{{ option.id }}" value="{{ option.id }}" />
                      <span title="{{ option.title }}">
                        {# <img src="{{ option.picture_url }}" /> #}
                        <img src="{{ option.style_photo_url }}" />
                      </span>
                    </label>
                  {% endif %}
                {% endfor %}
              </div>
            {% endfor %}

            {% for attr in attrs.text %}
              <div class="filtr_title">{{ attr.title }}:</div>
              <div class="check_box check_size">
                {% for option in attr.options.all %}
                  {% if option.id in attrs_options %}
                    <label for="{{ attr.slug }}_{{ option.id }}">
                      <input type="checkbox"{% if option.id in f.attrs_values %} checked{% endif %} name="_{{ attr.slug }}" id="{{ attr.slug }}_{{ option.id }}" value="{{ option.id }}" />
                      <span title="{{ option.title }}">{{ option.title }}</span>
                    </label>
                  {% endif %}
                {% endfor %}
              </div>
            {% endfor %}

            <button id="filter_button" class="bt_red js-form-button">{% trans 'Показать' %}</button>
            <button id="filter_button_clean" class="reset_frm js-form-reset js-form-button">{% trans 'Сбросить' %}</button>
          </form>
        </div>
        
      </div>
    
      <div id="main_content">

        {% block breadcrumbs %}
          <ul class="breadcrumb">
            <li><a href="{% url 'home' %}">{% trans 'Главная' %}</a></li>
            {% if sex == 'female' %}<li><a href="{% url 'women' %}">{% trans 'Женщинам' %}</a></li>
            {% elif sex == 'male' %}<li><a href="{% url 'men' %}">{% trans 'Мужчинам' %}</a></li>
            {% endif %}
            <li>{{ category.title }}</li>
          </ul>
        {% endblock %}

        {% if settings.has_catalog_special %}
          <style>
            .text_preview_page.catalog_special_text { display: block !important; }
            .catalog_special_text h2 { text-align: center !important; }
            .text_preview_page.catalog_special_text p { max-width: 100% !important; }
            .catalog_special_text .catalog_special_b { display: block; margin: auto; }
            .catalog_special_text .catalog_special_b._margin_top { margin-top: 20px; }
            .catalog_special_text .catalog_special_b._margin_bottom { margin-bottom: 40px; }
          </style>
          <div class="text_preview_page catalog_special_text">
            <div class="text_preview_inner" style="margin-top: 30px;">
              {% if settings.catalog_special_banner and settings.catalog_special_text %}
                {% if settings.catalog_special_order == 'banner_first' %}
                  <picture>
                    <source media="(max-width: 480px)" srcset="{{ settings.catalog_special_banner_mobil_url }}">
                    <img class="catalog_special_b _margin_bottom" src="{{ settings.catalog_special_banner_url }}">
                  </picture>
                  {{ settings.get_catalog_special_text|safe }}
                {% else %}
                  {{ settings.get_catalog_special_text|safe }}
                  <picture>
                    <source media="(max-width: 480px)" srcset="{{ settings.catalog_special_banner_mobil_url }}">
                    <img class="catalog_special_b _margin_top" src="{{ settings.catalog_special_banner_url }}">
                  </picture>
                {% endif %}
              {% elif settings.catalog_special_banner %}
                <picture>
                  <source media="(max-width: 480px)" srcset="{{ settings.catalog_special_banner_mobil_url }}">
                  <img class="catalog_special_b" src="{{ settings.catalog_special_banner_url }}">
                </picture>
              {% elif settings.get_catalog_special_text %}
                {{ settings.get_catalog_special_text|safe }}
              {% endif %}
            </div>
          </div>
        {% endif %}

        <div id="products_div" class="item_list_wrapp" itemscope="" itemtype="http://schema.org/ItemList">
          {% include 'catalog/include/products.html' %}
        </div>

        {% if footer_banner and all_count %}
          {% with footer_banner as banner %}
            <div class="products_banner" style="margin-top: 20px;">
              {% if banner.url and not banner.has_button %}
                <a rel="nofollow" href="{{ banner.url|add_subdomain }}"{% if banner.target_blank %} target="_blank"{% endif %}>
              {% endif %}
                <div class="with_banner_page" style="background-image:url({{ banner.image_url }});">
                  {% if banner.has_text or banner.has_button %}
                    <div class="with_banner_padd_page">
                      {% for line in banner.lines.all %}
                        <div class="{% if line.big %}with_big_text{% else %}with_mini_text{% endif %}">{{ line.line }}</div>
                      {% endfor %}
                      {% if banner.has_button %}<a rel="nofollow" href="{{ banner.url|add_subdomain }}"{% if banner.target_blank %} target="_blank"{% endif %} class="butt_with">{{ banner.button_text }}</a>{% endif %}
                    </div>
                  {% endif %}
                </div>
              {% if banner.url and not banner.has_button %}
                </a>
              {% endif %}
            </div>
          {% endwith %}
        {% endif %}
        
        <div class="text_preview_page">
          <div class="text_preview_inner">
            <h1 class="title_block">{{ h1 }}</h1>
            {% if seo_text %}{{ seo_text|safe }}{% endif %}
          </div>
        </div>
      </div>
      
    </div>
  </main>
{% endblock %}

{% block extra_js %}
  <script type="text/javascript">
    {% include 'js/filter.js' %}
  </script>
{% endblock %}
